Date: 27/10/2019

Version: 2.0

Environment: Python 3.6.0 and Anaconda 4.3.0 (64-bit)

Libraries used:
* pandas 0.19.2 (for data frame, included in Anaconda Python 3.6) 
* re 2.2.1 (for regular expression, included in Anaconda Python 3.6) 
* requests (for url extraction, included in Anaconda Python 3.6)
* os (for operation, included in Anaconda Python 3.6)
* matplotlib (for plotting, included in Anaconda Python 3.6)

In [1]:
# import libraries
import pandas as pd
import geopandas as gpd
from geopandas import *
import requests
import zipfile
from zipfile import ZipFile
from io import *
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline
import re
import os

### Unzip Files to Created Folders

The **'vic_suburb_boundary.zip'** file is extracted to a newly built folder named **'boundPath'**.

In [ ]:
# build new folder to store files from vic_suburb_boundary.zip
bound_path = './boundPath'
bound = os.makedirs(bound_path)

In [ ]:
# unzip the suburb file √
zipped = ZipFile('vic_suburb_boundary.zip')
zipped.extractall(path=bound_path)

The **gtfs.zip** file is extracted to another newly built folder **gtfs**

In [ ]:
# make new folder to store extracted gtfs
gtfs = os.makedirs('./gtfs')

In [ ]:
# path of the big zip file
gt_root = './gtfs'

# open the big zip file
a = zipfile.ZipFile('gtfs.zip') 
a.extractall(path = gt_root)

In [ ]:
# get list of folders in the big zip
n_list = a.namelist()

# collect the directory of zips
eff_list =[] 
for nm in n_list:
    if re.search(r'\.zip$', nm) != None:
        eff_list.append(gt_root + '/' + nm)

There are 11 sub-folders in extracted gtfs folder. Each sub-folder includes a small zip file. Extract the files in sub-folder 1 and 2 to folder **transit1** and **transit2** respectively.

In [ ]:
# make new dir to store transit info in gtfs/1
local_path1 = './transit1'
os.makedirs(local_path1)

# make new dir to store transit info in gtfs/2
local_path2 = './transit2'
os.makedirs(local_path2)

In [ ]:
# extract file in folder 1
n1 = eff_list[2]

# extract the files to transit1 folder
ctt1 = zipfile.ZipFile(n1)
ctt1.extractall(path=local_path1)

In [ ]:
# extract file in folder 2
n2 = eff_list[3]

# extract the files to transit2 folder
ctt2 = zipfile.ZipFile(n2)
ctt2.extractall(path=local_path2)

### Read Files and Fix Column Names

In [2]:
# read group csv
gr = pd.read_csv('Group108.csv')

In [3]:
# fix errors in column names
gr.rename(columns = {"Landsize":"LandSize", "Lattitude":"Latitude", "Longtitude":"Longitude"}, inplace=True)

In [4]:
# add columns with default values
gr['Suburb'] = "not available"
gr['train_station_id'] = -1
gr['distance_to_train_station'] = -1
gr['travel_min_to_CBD'] = -1
gr['over_priced'] = -1
gr['crime_A_average']= -1
gr['crime_B_average']= -1
gr['crime_C_average']= -1
gr['closest_primary_school']= "not available"
gr['distance_to_closest_primary']= -1
gr['primary_school_ranking']= -1
gr['closest_secondary_school']= "not available"
gr['distance_to_closest_secondary']= -1
gr['secondary_school_ranking']= -1

In [5]:
# view dataframe
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,over_priced,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,-1,-1,-1,-1,not available,-1,-1,not available,-1,-1
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,-1,-1,-1,-1,not available,-1,-1,not available,-1,-1
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,-1,-1,-1,-1,not available,-1,-1,not available,-1,-1
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,-1,-1,-1,-1,not available,-1,-1,not available,-1,-1
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,-1,-1,-1,-1,not available,-1,-1,not available,-1,-1

#### Read shape files for suburbs

In [6]:
# list all files under the foler of suburb boundary
sub_names = os.listdir('./boundPath')
sub_names

['VIC_LOCALITY_POLYGON_shp.dbf',
 'VIC_LOCALITY_POLYGON_shp.prj',
 'VIC_LOCALITY_POLYGON_shp.shp',
 'VIC_LOCALITY_POLYGON_shp.shx']

In [7]:
# read suburb file
shp_rd = gpd.read_file('boundPath' + '/' + sub_names[2])
shp_rd.head(3)

,LC_PLY_PID,DT_CREATE,DT_RETIRE,LOC_PID,VIC_LOCALI,VIC_LOCA_1,VIC_LOCA_2,VIC_LOCA_3,VIC_LOCA_4,VIC_LOCA_5,VIC_LOCA_6,VIC_LOCA_7,geometry
0,6670,2011-08-31,None,VIC2615,2012-04-27,None,UNDERBOOL,None,None,G,None,2,"POLYGON ((141.74552399 -35.07228701, 141.74552..."
1,6671,2011-08-31,None,VIC1986,2012-04-27,None,NURRAN,None,None,G,None,2,"POLYGON ((148.668767 -37.39571245, 148.6687620..."
2,6672,2011-08-31,None,VIC2862,2012-04-27,None,WOORNDOO,None,None,G,None,2,"POLYGON ((142.92287999 -37.97885997, 142.90449..."

In [8]:
from shapely.geometry import Point

In [9]:
lon = gr['Longitude']
lat = gr['Latitude']

gr['Points'] = GeoSeries([Point(x,y) for x,y in zip(lon, lat)])
gr.head(3)

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9339 -37.7835)

In [10]:
from shapely.geometry import Point, Polygon

In [11]:
# list of suburb based on ID
sub_list = []

ls_pts = gr['Points']

ls_subs = shp_rd['VIC_LOCA_2']

ls_geo = shp_rd['geometry'].tolist()

In [12]:
# define a function to match point
def check_geometry(pt, pl_df):
    
    for i in range(len(pl_df)):
        rg = pl_df[i] 
        # check the point in polygon
        if pt.within(rg) == True:
            return i
        else:
            continue
    return None

In [13]:

# collect the suburbs
for i in gr.index.values.tolist():
    # position of each point 
    pt = ls_pts[i]
    # find index of suburbs
    ids = check_geometry(pt, ls_geo)
    gr.loc[i,'Suburb'] = ls_subs[ids]

#### train Station ID

#### Read in information related

In [14]:
# create the first stop dataframe
stop1 = pd.read_csv('./transit1/stops.txt')
stop1.head(3)

   stop_id                              stop_name   stop_lat    stop_lon
0    17204        Wallan Railway Station (Wallan) -37.416861  145.005372
1    19980  Melton Railway Station (Melton South) -37.703293  144.572524
2    19981    Rockbank Railway Station (Rockbank) -37.729261  144.650631

In [15]:
# create the second stop dataframe
stop2 = pd.read_csv('./transit2/stops.txt')
stop2.head(3)

   stop_id                                    stop_name   stop_lat    stop_lon
0    15351            Sunbury Railway Station (Sunbury) -37.579091  144.727319
1    15353  Diggers Rest Railway Station (Diggers Rest) -37.627017  144.719922
2    19827     Stony Point Railway Station (Crib Point) -38.374235  145.221837

In [16]:
# create the first calendar dataframe
calendar1 = pd.read_csv('./transit1/calendar.txt')
calendar1.head(3)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,UR,0,0,0,1,0,0,0,20190509,20190509
1,T6,0,0,0,0,1,0,0,20190510,20190510
2,T2,0,0,0,0,0,1,0,20190511,20190511

In [17]:
# create the second calendar dataframe
calendar2 = pd.read_csv('./transit2/calendar.txt')
calendar2.head(3)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T5,0,0,0,1,0,0,0,20190509,20190509
1,UJ,0,0,0,0,0,0,1,20190510,20190512
2,T2,0,0,0,0,0,1,0,20190510,20190512

In [18]:
# create the first stop-time dataframe
stop_times1 = pd.read_csv('./transit1/stop_times.txt')
stop_times1.head(3)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,7548.UR.1-V08-A-mjp-1.1.H,06:08:00,06:08:00,20291,1,NaN,0,0,0.000000
1,7548.UR.1-V08-A-mjp-1.1.H,06:42:00,06:42:00,20346,2,NaN,0,0,52720.840026
2,7548.UR.1-V08-A-mjp-1.1.H,06:55:00,06:57:00,20341,3,NaN,0,0,68786.649688

In [19]:
# create the second stop-time dataframe
stop_times2 = pd.read_csv('./transit2/stop_times.txt')
stop_times2.head(3)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,9117.T5.2-ALM-A-mjp-1.1.H,05:21:00,05:21:00,19853,1,NaN,0,0,0.000000
1,9117.T5.2-ALM-A-mjp-1.1.H,05:24:00,05:24:00,19852,2,NaN,0,0,1506.610171
2,9117.T5.2-ALM-A-mjp-1.1.H,05:25:00,05:25:00,19851,3,NaN,0,0,1992.788001

In [20]:
# create the first trip dataframe
trips1 = pd.read_csv('./transit1/trips.txt')
trips1.head(3)

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,1-V08-G-mjp-1,T0,1051.T0.1-V08-G-mjp-1.1.H,1-V08-G-mjp-1.1.H,Melbourne,0
1,1-V08-G-mjp-1,T0,1052.T0.1-V08-G-mjp-1.2.H,1-V08-G-mjp-1.2.H,Melbourne,0
2,1-V08-G-mjp-1,T0,1053.T0.1-V08-G-mjp-1.2.H,1-V08-G-mjp-1.2.H,Melbourne,0

In [21]:
# create the second trip dataframe
trips2 = pd.read_csv('./transit2/trips.txt')
trips2.head(3)

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,2-ALM-F-mjp-1,T0,8262.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,Alamein,0
1,2-ALM-F-mjp-1,T0,8267.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,Alamein,0
2,2-ALM-F-mjp-1,T0,8271.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,Alamein,0

#### For files from folder 1, select working train that works on weekdays

In [22]:
# find service ID that works through weekdays
working_ids = calendar1.loc[(calendar1['monday']==1) \
                            & (calendar1['tuesday']==1) \
                            & (calendar1['wednesday']==1) \
                            & (calendar1['thursday']==1) \
                            & (calendar1['friday']==1)]
working_ids.head(3)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
6,T0,1,1,1,1,1,0,0,20190515,20190523
13,T0_1,1,1,1,1,1,0,0,20190530,20190606
16,T0_2,1,1,1,1,1,0,0,20190607,20190628

In [23]:
# take the service id of weekdays to a list
check_ids = list(working_ids['service_id'])
check_ids

['T0', 'T0_1', 'T0_2', 'T0_3']

In [24]:
# filter the dataframe based on service id
have_trip = trips1.loc[trips1.service_id.isin(check_ids) == True]
have_trip.head(3)

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,1-V08-G-mjp-1,T0,1051.T0.1-V08-G-mjp-1.1.H,1-V08-G-mjp-1.1.H,Melbourne,0
1,1-V08-G-mjp-1,T0,1052.T0.1-V08-G-mjp-1.2.H,1-V08-G-mjp-1.2.H,Melbourne,0
2,1-V08-G-mjp-1,T0,1053.T0.1-V08-G-mjp-1.2.H,1-V08-G-mjp-1.2.H,Melbourne,0

#### Find routines passes Southern Cross Station

Filter the service id in table of trip for service work on weekdays, which is working_ids. 
In stop-time table, the stop ids of Southern Cross station are found and find the corresponding trip-ids.
Then use the trip ids to locate stop ids. The stop ids are later used to match the location of each station.

In [25]:
# find out the stop ID of Southern Cross Station 
south_cross = stop1.loc[stop1.stop_name == 'Southern Cross Railway Station (Melbourne City)']
stopId_Southern = list(south_cross.stop_id)[0]
stopId_Southern

20043

In [26]:
# find trip routines through Southern Cross
# exclude the Southern Cross station itself
southern_selection = stop_times1.loc[(stop_times1.stop_id == stopId_Southern) \
                                     & (stop_times1.stop_sequence != 1)] 
southern_selection.head()
trip_id_list = list(southern_selection['trip_id'])
# trip_id_list

In [27]:
# find stop id based on selected trip ids
part_onRoute = stop_times1.loc[(stop_times1.trip_id.isin(trip_id_list) == True) \
                             & (stop_times1.departure_time >= '07:00:00')\
                             & (stop_times1.departure_time <= '09:30:00')]
# part_onRoute.head()
stopIds_onRoute = list(set(part_onRoute.stop_id))
# store the stopids in a list
tripIds_onRoute = list(set(part_onRoute.trip_id))

In [28]:
# obtain trip id and route id in filtered trips table
trip_info1 = have_trip.loc[have_trip.trip_id.isin(tripIds_onRoute) == True]

In [29]:
# filter stops and corresponding location 
stop_location1 = stop1.loc[stop1.stop_id.isin(stopIds_onRoute)]
stop_location1.describe()

            stop_id   stop_lat    stop_lon
count     98.000000  98.000000   98.000000
mean   22218.469388 -37.535539  144.902509
std     6608.294925   0.656183    0.940363
min    17204.000000 -38.386394  142.475545
25%    20304.250000 -38.089522  144.360571
50%    20329.500000 -37.742636  144.817533
75%    20356.750000 -37.194105  145.355090
max    52011.000000 -35.733122  147.627614

#### Do the same steps for folder 2 again

In [30]:
# find service ID that works through weekdays
working_ids2 = calendar2.loc[(calendar1['monday']==1) \
                            & (calendar1['tuesday']==1) \
                            & (calendar1['wednesday']==1) \
                            & (calendar1['thursday']==1) \
                            & (calendar1['friday']==1)]
working_ids2.head(3)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
6,T5+td,1,1,1,0,0,0,0,20190513,20190516
13,UJ_2,0,0,0,0,0,0,1,20190524,20190810
16,T5+ll,0,1,1,0,0,0,0,20190513,20190516

In [31]:
# take the service id of weekdays to a list
check_ids2 = list(working_ids2['service_id'])
check_ids2

['T5+td', 'UJ_2', 'T5+ll', 'T0+a5']

In [32]:
# filter the dataframe based on service id
have_trip2 = trips2.loc[trips2.service_id.isin(check_ids2) == True]
have_trip2.head(3)

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
2360,2-BEL-F-mjp-1,T0+a5,9281.T0.2-BEL-F-mjp-1.11.H,2-BEL-F-mjp-1.11.H,Belgrave,0
2361,2-BEL-F-mjp-1,T0+a5,8891.T0.2-BEL-F-mjp-1.22.R,2-BEL-F-mjp-1.22.R,City (Flinders Street),1
2362,2-GLW-F-mjp-1,T0+a5,8650.T0.2-GLW-F-mjp-1.5.H,2-GLW-F-mjp-1.5.H,Glen Waverley,0

In [33]:
# find out the stop ID of Southern Cross Station 
south_cross2 = stop2.loc[stop2.stop_name == 'Southern Cross Railway Station (Melbourne City)']
stopId_Southern2 = list(south_cross2.stop_id)[0]
stopId_Southern2

22180

In [34]:
# find trip routines through Southern Cross
southern_selection2 = stop_times2.loc[(stop_times2.stop_id == stopId_Southern2) \
                                     & (stop_times2.stop_sequence != 1)]
# southern_selection.head()
trip_id_list2 = list(southern_selection2['trip_id'])
# print(len(trip_id_list2))
# trip_id_list2[0:10]

In [35]:
# find stop id based on selected trip ids
part_onRoute2 = stop_times2.loc[(stop_times2.trip_id.isin(trip_id_list2) == True) \
                               & (stop_times2.departure_time >= '07:00:00') \
                                & (stop_times2.departure_time <= '09:30:00')]
# store the stopids in a list
stopIds_onRoute2 = list(set(part_onRoute2.stop_id))
# print(len(stopIds_onRoute2))
tripIds_onRoute2 = list(set(part_onRoute2.trip_id))

In [36]:
# obtain trip id and route id in filtered trips table
trip_info2 = have_trip2.loc[have_trip2.trip_id.isin(tripIds_onRoute2) == True]

In [37]:
# filter stop location by 
stop_location1 = stop1.loc[stop1.stop_id.isin(stopIds_onRoute) == True]
# stop_location1.head(3)

In [38]:
stop_location2 = stop2.loc[stop2.stop_id.isin(stopIds_onRoute2)]
# stop_location2.head(3)

In [39]:
# merge two train stop tables together
table_stops = pd.concat([stop_location1,stop_location2], ignore_index=True)
table_stops.head(3)

   stop_id                              stop_name   stop_lat    stop_lon
0    17204        Wallan Railway Station (Wallan) -37.416861  145.005372
1    19980  Melton Railway Station (Melton South) -37.703293  144.572524
2    19981    Rockbank Railway Station (Rockbank) -37.729261  144.650631

In [ ]:
# len(set(list(table_stops.stop_id)))

#### Find closest train station and distance to station

In [40]:
from math import radians, cos, sin, asin, sqrt

In [41]:
# find distance between two points
def haversine(lat1, lon1, lat2, lon2):

    radius = 6378

    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    
    lat_diff = lat2 - lat1
    lon_diff = lon2 - lon1

    a = sin(lat_diff/2)**2 + cos(lat1)*cos(lat2)*sin(lon_diff/2)**2
    c = 2*asin(sqrt(a))
    
    distance = radius*c

    return distance

In [42]:
# longitude and latitude of properties
sub_lat = gr.Latitude.tolist()
sub_lon = gr.Longitude.tolist()

# longitude and latitude of stations
station_lat = table_stops.stop_lat.tolist()
station_lon = table_stops.stop_lon.tolist()

In [43]:
# Function to find minimum distance
# lon2, lat2 为房子的经纬度
def find_distance_station(lon2, lat2, station_df):
    
    # 车站经度列表
    list_lon1 = station_df['stop_lon']
    # 车站纬度列表
    list_lat1 = station_df['stop_lat']
    list_station = station_df['stop_id']
    
    # build empty list for further use
    # 距离空表
    distance_list = []
    
    for i in station_df.index.values.tolist():
        lon1 = list_lon1[i]
        lat1 = list_lat1[i]
        # 收集所有车站到该住宅的距离
        distance_list.append(haversine(lat1, lon1, lat2, lon2))  
        
    
    # 获得最短距离 -- 
    min_distance = min(distance_list)
    
    # 获取最短距离的index
    distance_index = distance_list.index(min_distance)
    
    # 用tuple 收集index和最短距离
    min_distance_index = (distance_index, min_distance)
    
    return min_distance_index

In [44]:
# use function to find minimum distance
for i in gr.index.values.tolist():
    
    # 遍历每一个property
    lon2 = sub_lon[i]
    lat2 = sub_lat[i]
    
    # get index of station
    station_index = find_distance_station(lon2, lat2, table_stops)[0]
    # get stop id by index
    gr.loc[i,'train_station_id'] = table_stops.loc[station_index, 'stop_id']
    
    # get distance between station and property
    gr.loc[i,'distance_to_train_station'] = find_distance_station(lon2, lat2, table_stops)[1]

In [45]:
# check dataframe
gr.head(3)

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9339 -37.7835)

#### Get travel minutes to CBD

For both the trip tables, the index of table is reset by row. New columns of departure hour and departure minutes are generated. The hour column is multiplied by 60 and added to minutes.

#### find travel minutes for trip in folder 1

In [ ]:
# reset the dataframe in selected data 
part_onRoute = part_onRoute.reset_index(drop=True)

In [ ]:
# create hour and minute columns in the dataframe
part_onRoute['departure_hour'] = -1
part_onRoute['departure_min'] = -1
part_onRoute.head(3)

In [ ]:
# insert two new columns of hours and minutes

for i in part_onRoute.index.values.tolist():
    arr_time = part_onRoute['departure_time'].tolist()[i]
    # extract hours
    hours = int(arr_time[0:2])
    # extract minutes
    mins = int(arr_time[3:5])
    # add new hours to dataframe
    part_onRoute.loc[i,'departure_hour'] = hours
    # add new minutes to dataframe
    part_onRoute.loc[i,'departure_min'] = mins

In [ ]:
part_onRoute.head(3)

In [ ]:
# 每一行小时+分钟转换时间
part_onRoute['time'] = part_onRoute.apply(lambda x: x['departure_hour']*60 +x['departure_min'], axis=1)

In [ ]:
# StopId of Southern Cross Station
stopId_Southern

The stop id of Southern Cross station has been found previously. The sequence of this station can be identified with stop id for each route.

In [ ]:
#the sequence of southern cross on each route 
cross_data = part_onRoute.loc[part_onRoute['stop_id']==stopId_Southern] #.reset_index(drop=True)

# sequence to list  
cross_seq = cross_data['trip_id'].tolist()

The sequence of each stop for each route can be compared to the sequence of Southern Cross Station, to ensure the stop is before Southern Cross on the route. 

The travel minutes are equal to the departure time between each filtered stop and Southern Cross Station

In [ ]:
# assign value of travel minute to column 
for i in part_onRoute.index.values.tolist():
    #trip_id
    route = part_onRoute.loc[i, 'trip_id']
    #stop_sequence
    route_seq = part_onRoute.loc[i, 'stop_sequence']
    
    # If southern cross in the route
    if route not in cross_seq:
        part_onRoute[i,'travel_min'] = -1

    elif route in cross_seq:
        # trip_id index
        south_index = part_onRoute.loc[(part_onRoute['trip_id']==route) \
                                 & (part_onRoute['stop_id']==stopId_Southern)].index.tolist()[0]
        
        # sequence of Souther Cross
        south_seq = part_onRoute.loc[south_index,'stop_sequence']
    
        if route_seq < south_seq:
            part_onRoute[i,'travel_min'] = part_onRoute.loc[south_index,'time'] - part_onRoute.loc[i,'time'] 
        else:
            part_onRoute[i,'travel_min'] = -1

#### find travel minutes for trip in folder 2
The process of dealing with travel minutes for trip2 table is the same with the process of travel minutes of trip1 above.

In [ ]:
# reset the dataframe in selected data 
part_onRoute2 = part_onRoute2.reset_index(drop=True)

In [ ]:
# create hour and minute columns in the dataframe
part_onRoute2['departure_hour'] = -1
part_onRoute2['departure_min'] = -1
part_onRoute2.head(3)

In [ ]:
# insert two new columns of hours and minutes

for i in part_onRoute2.index.values.tolist():
    arr_time = part_onRoute2['departure_time'].tolist()[i]
    # extract hours
    hours = int(arr_time[0:2])
    # extract minutes
    mins = int(arr_time[3:5])
    # add new hours to dataframe
    part_onRoute2.loc[i,'departure_hour'] = hours
    # add new minutes to dataframe
    part_onRoute2.loc[i,'departure_min'] = mins

In [ ]:
# 每一行小时+分钟转换时间
part_onRoute2['time'] = part_onRoute2.apply(lambda x: x['departure_hour']*60 +x['departure_min'], axis=1)

In [ ]:
#the sequence of southern cross on each route 
cross_data2 = part_onRoute2.loc[part_onRoute2['stop_id']==stopId_Southern2] #.reset_index(drop=True)

# sequence to list  
cross_seq2 = cross_data2['trip_id'].tolist()

In [ ]:
part_onRoute2.head(3)

In [ ]:
# assign value of travel minute to column 
for i in part_onRoute2.index.values.tolist():
    #trip_id
    route = part_onRoute2.loc[i, 'trip_id']
    #stop_sequence
    route_seq = part_onRoute2.loc[i, 'stop_sequence']
    
    print(i)
    
    # if the route has southern cross
    if route not in cross_seq2:
        part_onRoute2[i,'travel_min'] = -1

    elif route in cross_seq2:
        # index of tripid
        south_index = part_onRoute2.loc[(part_onRoute2['trip_id']==route) \
                                 & (part_onRoute2['stop_id']==stopId_Southern2)].index.tolist()[0]
        
        # sequence on the route
        south_seq = part_onRoute2.loc[south_index,'stop_sequence']
    
        if route_seq < south_seq:
            part_onRoute2[i,'travel_min'] = part_onRoute2.loc[south_index,'time'] - part_onRoute2.loc[i,'time'] 
        else:
            part_onRoute2[i,'travel_min'] = -1

Concatenate the modified tables together with column index revised.

In [ ]:
total_trip = pd.concat([part_onRoute,part_onRoute2], ignore_index=True)
total_trip.head(3)

Match the travel minute and station id with each property

In [ ]:
# match travel min to each property

for i in gr.index.values.tolist():
    # Find the id of closest station
    closest_station = gr.loc[i, 'train_station_id']
    # filter all the travel minutes for the stop id
    travel_time = total_trip.loc[total_trip['stop_id'] == closest_station] 
    
    # calculate the average travel minute 
    time_list = travel_time['travel_min'].tolist()
    average_min = np.mean(time_list)
    gr[i, 'travel_min_to_CBD'] = average_min

# Find Boolean feature for Over Price

This step uses `groupby` and `numpy` to find out the median for each row, then compare the value, 1 represents true, which means sold price is higher than median price for this type of property.

In [46]:
#get year from df and add as new column
date = gr['Date']
select_year=list(date.str.extract(r'(\d{4})', expand = False))
gr['Year']=select_year
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points,Year
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0657 -37.79541),2017
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.76863 -37.74521),2017
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9339 -37.7835),2016
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9985 -37.8212),2016
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0889 -37.8555),2017

In [47]:
#use groupby to select the columns and calculate the median for same type
average_price=gr.groupby(['Rooms','Type','Bathroom','Car','Year','Suburb'])['Price'].apply(np.median)
average_price.name = 'MEDIAN'
gr=gr.join(average_price, on=['Rooms','Type','Bathroom','Car','Year','Suburb'])
#adding median as new column

In [48]:
over_price=[]
price=gr['Price']
med=gr['MEDIAN']
# compare price column and median column, append in list
for i in range(len(price)):
    if price[i]>med[i]:
        over_price.append(int(price[i]>med[i]))
    else:
        over_price.append(int(False))
over_price

[0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [49]:
gr['over_priced'] = over_price
# delete columns added before
gr=gr.drop(columns=['Year', 'MEDIAN'])
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,-1,-1,-1,not available,-1,-1,not available,-1,-1,POINT (145.0889 -37.8555)

# Find Average Crime_A_B_C

The type A,B,C crime relates to council which suburb in and year, therefore I build three dictionary A,B,C to store the offence count for each council in each year. It is easier to find data for future use, and it does not need to change any coding.

In [50]:
#get suburb and year from df use re
date = gr['Date']
year=list(date.str.extract(r'(\d{4})', expand = False))
print(len(year))
suburb = gr['Suburb']
sub=list(suburb.str.extract(r'(.*)', expand = False))
print(len(sub))

720
720

In [51]:
#read xlms table1 then drop nan, leave the things we need
cr_path = 'crimebylocationdatatable-yearending31march2016.xlsx'
crime = pd.read_excel(cr_path, sheet_name=1)
#drop frist row
crime=crime.dropna(thresh=2)
#drop first column
crime=crime.dropna(axis='columns')
crime=crime.rename(columns=crime.iloc[0])
crime=crime.drop(crime.index[0])
crime=crime.reset_index(drop=True)
crime

,Apr - Mar reference period,Police Region,Police Service Area,Local Government Area,CSA Offence Division,CSA Offence Subdivision,Offence Count,LGA ERP,Victorian ERP
0,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A10 Homicide and related offences,4,123600,5632521
1,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A20 Assault and related offences,568,123600,5632521
2,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A30 Sexual offences,132,123600,5632521
3,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A40 Abduction and related offences,12,123600,5632521
4,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A50 Robbery,46,123600,5632521
5,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A60 Blackmail and extortion,2,123600,5632521
6,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",148,123600,5632521
7,2012,1 North West Metro,BANYULE,BANYULE,A Crimes against the person,A80 Dangerous and negligent acts endangering p...,75,123600,5632521
8,2012,1 North West Metro,BANYULE,BANYULE,B Property and deception offences,B10 Arson,53,123600,5632521
9,2012,1 North West Metro,BANYULE,BANYULE,B Property and deception offences,B20 Property damage,938,123600,5632521
10,2012,1 North West Metro,BANYULE,BANYULE,B Property and deception offences,B30 Burglary/Break and enter,918,123600,5632521
11,2012,1 North West Metro,BANYULE,BANYULE,B Property and deception offences,B40 Theft,2059,123600,5632521
12,2012,1 North West Metro,BANYULE,BANYULE,B Property and deception offences,B50 Deception,231,123600,5632521
13,2012,1 North West Metro,BANYULE,BANYULE,C Drug offences,C10 Drug dealing and trafficking,37,123600,5632521
14,2012,1 North West Metro,BANYULE,BANYULE,C Drug offences,C20 Cultivate or manufacture drugs,33,123600,5632521
15,2012,1 North West Metro,BANYULE,BANYULE,C Drug offences,C30 Drug use and possession,203,123600,5632521
16,2012,1 North West Metro,BANYULE,BANYULE,D Public order and security offences,D10 Weapons and explosives offences,113,123600,5632521
17,2012,1 North West Metro,BANYULE,BANYULE,D Public order and security offences,D20 Disorderly and offensive conduct,141,123600,5632521
18,2012,1 North West Metro,BANYULE,BANYULE,D Public order and security offences,D30 Public nuisance offences,37,123600,5632521
19,2012,1 North West Metro,BANYULE,BANYULE,D Public order and security offences,D40 Public security offences,1,123600,5632521
20,2012,1 North West Metro,BANYULE,BANYULE,E Justice procedures offences,E10 Justice procedures,114,123600,5632521
21,2012,1 North West Metro,BANYULE,BANYULE,E Justice procedures offences,E20 Breaches of orders,920,123600,5632521
22,2012,1 North West Metro,BANYULE,BANYULE,F Other offences,F10 Regulatory driving offences,1,123600,5632521
23,2012,1 North West Metro,BANYULE,BANYULE,F Other offences,F20 Transport regulation offences,16,123600,5632521
24,2012,1 North West Metro,BANYULE,BANYULE,F Other offences,F30 Other government regulatory offences,11,123600,5632521
25,2012,1 North West Metro,BANYULE,BANYULE,F Other offences,F90 Miscellaneous offences,2,123600,5632521
26,2012,1 North West Metro,BRIMBANK,BRIMBANK,A Crimes against the person,A10 Homicide and related offences,2,193334,5632521
27,2012,1 North West Metro,BRIMBANK,BRIMBANK,A Crimes against the person,A20 Assault and related offences,1163,193334,5632521
28,2012,1 North West Metro,BRIMBANK,BRIMBANK,A Crimes against the person,A30 Sexual offences,257,193334,5632521
29,2012,1 North West Metro,BRIMBANK,BRIMBANK,A Crimes against the person,A40 Abduction and related offences,26,193334,5632521
...,...,...,...,...,...,...,...,...,...
9055,2016,4 Western,WARRNAMBOOL,MOYNE,C Drug offences,C30 Drug use and possession,85,16503,6053355
9056,2016,4 Western,WARRNAMBOOL,MOYNE,D Public order and security offences,D10 Weapons and explosives offences,48,16503,6053355
9057,2016,4 Western,WARRNAMBOOL,MOYNE,D Public order and security offences,D20 Disorderly and offensive conduct,60,16503,6053355
9058,2016,4 Western,WARRNAMBOOL,MOYNE,D Public order and security offences,D30 Public nuisance offences,4,16503,6053355
9059,2016,4 Western,WARRNAMBOOL,MOYNE,E Justice procedures offences,E10 Justice procedures,26,16503,6053355
9060,2016,4 Western,WARRNAMBOOL,MOYNE,E Justice procedures offences,E20 Breaches of orders,238,16503,6053355
9061,2016,4 Western,WARRNAMBOOL,MOYNE,F Other offences,F30 Other government regulatory offences,2,16503,6053355
9062,2016,4 Western,WARRNAMBOOL,MOYNE,F Other offences,F90 Miscellaneous offences,3,16503,6053355
9063,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,A20 Assault and related offences,219,33795,6053355
9064,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,A30 Sexual offences,73,33795,6053355
9065,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,A40 Abduction and related offences,12,33795,6053355
9066,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,A50 Robbery,3,33795,6053355
9067,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",68,33795,6053355
9068,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,A Crimes against the person,A80 Dangerous and negligent acts endangering p...,34,33795,6053355
9069,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,B Property and deception offences,B10 Arson,12,33795,6053355
9070,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,B Property and deception offences,B20 Property damage,290,33795,6053355
9071,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,B Property and deception offences,B30 Burglary/Break and enter,259,33795,6053355
9072,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,B Property and deception offences,B40 Theft,532,33795,6053355
9073,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,B Property and deception offences,B50 Deception,82,33795,6053355
9074,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,C Drug offences,C10 Drug dealing and trafficking,39,33795,6053355
9075,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,C Drug offences,C20 Cultivate or manufacture drugs,10,33795,6053355
9076,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,C Drug offences,C30 Drug use and possession,172,33795,6053355
9077,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,D Public order and security offences,D10 Weapons and explosives offences,120,33795,6053355
9078,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,D Public order and security offences,D20 Disorderly and offensive conduct,89,33795,6053355
9079,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,D Public order and security offences,D30 Public nuisance offences,34,33795,6053355
9080,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,E Justice procedures offences,E10 Justice procedures,79,33795,6053355
9081,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,E Justice procedures offences,E20 Breaches of orders,360,33795,6053355
9082,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,F Other offences,F20 Transport regulation offences,2,33795,6053355
9083,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,F Other offences,F30 Other government regulatory offences,4,33795,6053355
9084,2016,4 Western,WARRNAMBOOL,WARRNAMBOOL,F Other offences,F90 Miscellaneous offences,1,33795,6053355

In [52]:
#create three dictionary for sum of type A,B,C offence as value in each council area with year
#for example: {'2012_BANYULE': 987,'2012_BRIMBANK': 2112,'2012_DAREBIN': 1307}
all_sub=crime.iloc[:,3].unique()
list_year=crime.iloc[:,0].unique()
Year_sub_A={}
for each_year in list_year:
    sel_year_df=crime.loc[(crime['Apr - Mar reference period'] == each_year)]
    for each_sub in all_sub:
        #select each area with year
        final_df=sel_year_df.loc[(sel_year_df['Local Government Area'] == each_sub) & (sel_year_df['CSA Offence Division'] == 'A Crimes against the person')]
        total_A=final_df['Offence Count'].sum()
        name=str(each_year)+'_'+each_sub
        Year_sub_A[name]=total_A
Year_sub_B={}
for each_year in list_year:
    sel_year_df=crime.loc[(crime['Apr - Mar reference period'] == each_year)]
    for each_sub in all_sub:
        final_df=sel_year_df.loc[(sel_year_df['Local Government Area'] == each_sub) & (sel_year_df['CSA Offence Division'] == 'B Property and deception offences')]
        total_B=final_df['Offence Count'].sum()
        name=str(each_year)+'_'+each_sub
        Year_sub_B[name]=total_B
Year_sub_C={}
for each_year in list_year:
    sel_year_df=crime.loc[(crime['Apr - Mar reference period'] == each_year)]
    for each_sub in all_sub:
        final_df=sel_year_df.loc[(sel_year_df['Local Government Area'] == each_sub) & (sel_year_df['CSA Offence Division'] == 'C Drug offences')]
        total_C=final_df['Offence Count'].sum()
        name=str(each_year)+'_'+each_sub
        Year_sub_C[name]=total_C

In [53]:
#read the council file
councils = pd.read_csv('councils.txt', sep=':', header=None, error_bad_lines=False)
councils.head()

              0                                                  1
0      BANYULE    ['Abbotsford', 'Airport West', 'Albert Park',...
1     BRIMBANK    ['Altona', 'Altona North', 'Armadale', 'Ascot...
2      DAREBIN    ['Ashburton', 'Ashwood', 'Avondale Heights', ...
3  HOBSONS BAY    ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bent...
4         HUME    ['Box Hill', 'Braybrook', 'Brighton', 'Bright...

In [54]:
#remove the space at the end for each council and make a council list
fin_coun=[]
coun = councils[0].tolist()
for council in coun:
    new = council.strip()
    fin_coun.append(new)
# use re to find corrisponding suburbs for each council and zip as a tuple list
all_suburb=[]
subu = councils[1]
for each in subu:
    ex_subu=re.findall(r'(?:\')(.*?)(?:\')', each)
    #make suburb in uppercase, for later use
    ex_subu=[x.upper() for x in ex_subu]
    all_suburb.append(ex_subu)
coun_subu=list(zip(fin_coun,all_suburb))
print(coun_subu)

[('BANYULE', ['ABBOTSFORD', 'AIRPORT WEST', 'ALBERT PARK', 'ALPHINGTON']), ('BRIMBANK', ['ALTONA', 'ALTONA NORTH', 'ARMADALE', 'ASCOT VALE']), ('DAREBIN', ['ASHBURTON', 'ASHWOOD', 'AVONDALE HEIGHTS', 'BALACLAVA']), ('HOBSONS BAY', ['BALWYN', 'BALWYN NORTH', 'BENTLEIGH', 'BENTLEIGH EAST']), ('HUME', ['BOX HILL', 'BRAYBROOK', 'BRIGHTON', 'BRIGHTON EAST']), ('MARIBYRNONG', ['BRUNSWICK', 'BRUNSWICK WEST', 'BULLEEN', 'BURWOOD']), ('MELBOURNE', ['CAMBERWELL', 'CANTERBURY', 'CARLTON NORTH', 'CARNEGIE']), ('MELTON', ['CAULFIELD', 'CAULFIELD NORTH', 'CAULFIELD SOUTH', 'CHADSTONE']), ('MOONEE VALLEY', ['CLIFTON HILL', 'COBURG', 'COBURG NORTH', 'COLLINGWOOD']), ('MORELAND', ['DONCASTER', 'EAGLEMONT', 'ELSTERNWICK', 'ELWOOD']), ('NILLUMBIK', ['ESSENDON', 'ESSENDON NORTH', 'FAIRFIELD', 'FITZROY']), ('WHITTLESEA', ['FITZROY NORTH', 'FLEMINGTON', 'FOOTSCRAY', 'GLEN IRIS']), ('WYNDHAM', ['GLENROY', 'GOWANBRAE', 'HADFIELD', 'HAMPTON']), ('YARRA', ['HAMPTON EAST', 'HAWTHORN', 'HEIDELBERG HEIGHTS', 'HEIDELBERG WEST']), ('BASS COAST', ['HUGHESDALE', 'IVANHOE', 'KEALBA', 'KEILOR EAST']), ('SOUTH GIPPSLAND', ['KENSINGTON', 'KEW', 'KEW EAST', 'KOOYONG']), ('BAW BAW', ['MAIDSTONE', 'MALVERN', 'MALVERN EAST', 'MARIBYRNONG']), ('BENALLA', ['MELBOURNE', 'MIDDLE PARK', 'MONT ALBERT', 'MOONEE PONDS']), ('MANSFIELD', ['MOORABBIN', 'NEWPORT', 'NIDDRIE', 'NORTH MELBOURNE']), ('MURRINDINDI', ['NORTHCOTE', 'OAK PARK', 'OAKLEIGH SOUTH', 'PARKVILLE']), ('BOROONDARA', ['PASCOE VALE', 'PORT MELBOURNE', 'PRAHRAN', 'PRESTON']), ('EAST GIPPSLAND', ['RESERVOIR', 'RICHMOND', 'ROSANNA', 'SEDDON']), ('GREATER SHEPPARTON', ['SOUTH MELBOURNE', 'SOUTH YARRA', 'SOUTHBANK', 'SPOTSWOOD']), ('KNOX', ['ST KILDA', 'STRATHMORE', 'SUNSHINE', 'SUNSHINE NORTH']), ('LATROBE', ['SUNSHINE WEST', 'SURREY HILLS', 'TEMPLESTOWE LOWER', 'THORNBURY']), ('MANNINGHAM', ['TOORAK', 'VIEWBANK', 'WATSONIA', 'WEST MELBOURNE']), ('MAROONDAH', ['WILLIAMSTOWN', 'WILLIAMSTOWN NORTH', 'WINDSOR', 'YALLAMBIE']), ('MITCHELL', ['YARRAVILLE', 'ABERFELDIE', 'BELLFIELD', 'BRUNSWICK EAST']), ('STRATHBOGIE', ['BURNLEY', 'CAMPBELLFIELD', 'CARLTON', 'EAST MELBOURNE']), ('MONASH', ['ESSENDON WEST', 'FAWKNER', 'HAWTHORN EAST', 'HEIDELBERG']), ('ALPINE', ['IVANHOE EAST', 'JACANA', 'KINGSBURY', 'KINGSVILLE']), ('MOIRA', ['MURRUMBEENA', 'ORMOND', 'WEST FOOTSCRAY', 'ALBION']), ('WANGARATTA', ['BROOKLYN', 'GLEN HUNTLY', 'OAKLEIGH', 'RIPPONLEA']), ('WELLINGTON', ['CREMORNE', 'DOCKLANDS', 'SOUTH KINGSVILLE', 'STRATHMORE HEIGHTS']), ('WHITEHORSE', ['TRAVANCORE', 'CAULFIELD EAST', 'SEAHOLME', 'KEILOR PARK']), ('INDIGO', ['GARDENVALE', 'PRINCES HILL', 'BAYSWATER', 'BAYSWATER NORTH']), ('TOWONG', ['BEAUMARIS', 'BERWICK', 'BORONIA', 'BRIAR HILL']), ('WODONGA', ['BROADMEADOWS', 'BUNDOORA', 'BURNSIDE HEIGHTS', 'BURWOOD EAST']), ('YARRA RANGES', ['CAIRNLEA', 'CAROLINE SPRINGS', 'CHELTENHAM', 'CRAIGIEBURN']), ('CARDINIA', ['CRANBOURNE', 'CROYDON', 'DANDENONG', 'DANDENONG NORTH']), ('CASEY', ['DIAMOND CREEK', 'DINGLEY VILLAGE', 'DONCASTER EAST', 'DONVALE']), ('FRANKSTON', ['DOREEN', 'ELTHAM', 'EPPING', 'FOREST HILL']), ('BAYSIDE', ['FRANKSTON', 'FRANKSTON NORTH', 'FRANKSTON SOUTH', 'GISBORNE']), ('GLEN EIRA', ['GLADSTONE PARK', 'GREENSBOROUGH', 'HALLAM', 'HEALESVILLE']), ('GREATER DANDENONG', ['HIGHETT', 'HILLSIDE', 'HUNTINGDALE', 'KEILOR DOWNS']), ('KINGSTON', ['KEILOR LODGE', 'KEYSBOROUGH', 'KINGS PARK', 'LALOR']), ('MORNINGTON PENINSULA', ['LOWER PLENTY', 'MELTON', 'MERNDA', 'MILL PARK']), ('PORT PHILLIP', ['MITCHAM', 'MONTMORENCY', 'MORDIALLOC', 'MOUNT WAVERLEY']), ('STONNINGTON', ['NARRE WARREN', 'NUNAWADING', 'OAKLEIGH EAST', 'PARKDALE']), ('BALLARAT', ['POINT COOK', 'RINGWOOD EAST', 'ROCKBANK', 'ROWVILLE']), ('PYRENEES', ['SANDRINGHAM', 'SEAFORD', 'SKYE', 'SOUTH MORANG']), ('GREATER BENDIGO', ['SPRINGVALE', 'ST ALBANS', 'SUNBURY', 'TARNEIT']), ('CAMPASPE', ['TAYLORS HILL', 'TAYLORS LAKES', 'THE BASIN', 'THOMASTOWN']), ('CENTRAL GOLDFIELDS', ['TRUGANINA', 'TULLAMARINE', 'VERMONT', 'WANTIRNA']), ('LODDON', ['WANTIRNA SOUTH', 'WERRIBEE', 'WESTMEADOWS', 'WILLIAMS LANDING']), ('GREATER GEELONG', ['WOLLERT', 'WYNDHAM VALE', 'BLACK ROCK', 'BLACKBURN']), ('QUEENSCLIFFE', ['BLACKBURN NORTH', 'BONBEACH', 'CARRUM', 'CHELSEA']), ('HINDMARSH', ['CLAYTON', 'DOVETON', 'FERNTREE GULLY', 'GLEN WAVERLEY']), ('HORSHAM', ['GREENVALE', 'HEATHMONT', 'HOPPERS CROSSING', 'MCKINNON']), ('WEST WIMMERA', ['MELTON SOUTH', 'MELTON WEST', 'MENTONE', 'MOOROOLBARK']), ('MACEDON RANGES', ['MULGRAVE', 'RINGWOOD', 'ROXBURGH PARK', 'SEABROOK']), ('MOUNT ALEXANDER', ['TEMPLESTOWE', 'VERMONT SOUTH', 'WARRANDYTE', 'WATSONIA NORTH']), ('MILDURA', ['WHEELERS HILL', 'ALTONA MEADOWS', 'BLACKBURN SOUTH', 'CARRUM DOWNS']), ('GOLDEN PLAINS', ['CLAYTON SOUTH', 'CROYDON NORTH', 'LANGWARRIN', 'NOBLE PARK']), ('HEPBURN', ['NOTTING HILL', 'RINGWOOD NORTH', 'SYDENHAM', 'ALBANVALE']), ('MOORABOOL', ['BEACONSFIELD UPPER', 'CHELSEA HEIGHTS', 'DALLAS', 'DEER PARK']), ('ARARAT', ['ELTHAM NORTH', 'KEILOR', 'MEADOW HEIGHTS', 'MOUNT EVELYN']), ('NORTHERN GRAMPIANS', ['NORTH WARRANDYTE', 'PAKENHAM', 'RIDDELLS CREEK', 'SANDHURST']), ('YARRIAMBIACK', ['SCORESBY', 'SILVAN', 'ASPENDALE', 'CHIRNSIDE PARK']), ('GLENELG', ['CROYDON HILLS', 'CROYDON SOUTH', 'DERRIMUT', 'DIGGERS REST']), ('SOUTHERN GRAMPIANS', ['EDITHVALE', 'HAMPTON PARK', 'KNOXFIELD', 'ST HELENA']), ('COLAC-OTWAY', ['UPWEY', 'BACCHUS MARSH', 'COOLAROO', 'CRANBOURNE NORTH']), ('SURF COAST', ['KILSYTH', 'MONTROSE', 'ASPENDALE GARDENS', 'BULLENGAROOK']), ('BULOKE', ['CLARINDA', 'DEEPDENE', 'DELAHEY', 'HURSTBRIDGE']), ('GANNAWARRA', ['KURUNJANG', 'WONGA PARK', 'ENDEAVOUR HILLS', 'OFFICER']), ('SWAN HILL', ['WATERWAYS', 'ARDEER', 'BEACONSFIELD', 'SPRINGVALE SOUTH']), ('CORANGAMITE', ['YARRA GLEN', 'BROOKFIELD', 'EMERALD', 'WHITTLESEA']), ('MOYNE', ['BURNSIDE', 'ATTWOOD', 'WALLAN', 'NEW GISBORNE']), ('WARRNAMBOOL', ['PLUMPTON', 'MONBULK', 'MANOR LAKES', 'HARKNESS', 'FRASER RISE'])]

In [55]:
# suburb map with correct council area
correct_coun=[]
for i in range(len(sub)):
    #get suburb name
    each_sub=sub[i]
    for j in range(len(coun_subu)):
        co_su=coun_subu[j]
        #check whether suburb in the area list
        if each_sub not in co_su[1]:
            continue
        else:
            correct_coun.append(co_su[0])
len(correct_coun)

720

In [56]:
#calculate crime A average of past three years
A_ave=[]
for i in range(len(year)):
    #get three years
    year_1=int(year[i])-1
    year_2=int(year[i])-2
    year_3=int(year[i])-3
    #make up dict keys as year_council to find in dict
    name1=str(year_1)+'_'+correct_coun[i]
    name2=str(year_2)+'_'+correct_coun[i]
    name3=str(year_3)+'_'+correct_coun[i]
    v1=Year_sub_A[str(name1)]
    v2=Year_sub_A[str(name2)]
    v3=Year_sub_A[str(name3)]
    ave_3=(int(v1)+int(v2)+int(v3))/3
    A_ave.append(int(ave_3))
A_ave

[959,
 119,
 1923,
 824,
 2047,
 1245,
 610,
 925,
 1923,
 517,
 2047,
 71,
 684,
 958,
 1064,
 2532,
 142,
 2744,
 56,
 959,
 1150,
 2494,
 1173,
 278,
 330,
 268,
 288,
 2047,
 142,
 2489,
 84,
 1683,
 717,
 990,
 925,
 1508,
 3767,
 941,
 703,
 1412,
 824,
 885,
 3703,
 84,
 2524,
 958,
 334,
 824,
 2494,
 925,
 1566,
 824,
 1363,
 941,
 71,
 84,
 647,
 268,
 3703,
 1566,
 268,
 647,
 2744,
 824,
 824,
 56,
 3767,
 1923,
 3703,
 2744,
 1566,
 1253,
 278,
 1144,
 2403,
 1479,
 705,
 885,
 1245,
 717,
 1923,
 1202,
 824,
 330,
 2403,
 717,
 56,
 1923,
 235,
 101,
 2897,
 84,
 1071,
 1002,
 1173,
 1064,
 1064,
 3767,
 2006,
 313,
 1683,
 1363,
 925,
 1100,
 1683,
 1288,
 1245,
 1245,
 885,
 318,
 268,
 885,
 1540,
 925,
 330,
 659,
 1683,
 2494,
 958,
 334,
 278,
 1360,
 938,
 647,
 925,
 3767,
 1666,
 717,
 1471,
 1144,
 703,
 959,
 97,
 1083,
 941,
 659,
 2837,
 1479,
 663,
 1144,
 824,
 2532,
 1064,
 2403,
 2897,
 958,
 885,
 938,
 1683,
 1064,
 1071,
 659,
 1672,
 2744,
 136,
 2897,
 2524,
 271,
 659,
 50,
 938,
 1412,
 2403,
 717,
 659,
 1363,
 50,
 1923,
 1666,
 663,
 659,
 1666,
 1144,
 71,
 659,
 271,
 1064,
 703,
 703,
 1363,
 1479,
 647,
 3703,
 2897,
 1923,
 705,
 318,
 2744,
 2489,
 268,
 281,
 958,
 824,
 1654,
 334,
 136,
 1202,
 326,
 2744,
 517,
 1002,
 98,
 2532,
 1609,
 1683,
 1360,
 610,
 1245,
 824,
 1214,
 50,
 1064,
 330,
 990,
 1666,
 1363,
 1214,
 705,
 1471,
 703,
 1173,
 3767,
 1609,
 1202,
 2494,
 1479,
 318,
 2489,
 958,
 330,
 2532,
 610,
 925,
 1002,
 2047,
 922,
 717,
 1479,
 278,
 703,
 2744,
 659,
 56,
 888,
 1253,
 958,
 98,
 824,
 3327,
 1245,
 1071,
 502,
 925,
 288,
 1245,
 659,
 941,
 705,
 959,
 2494,
 84,
 2047,
 87,
 313,
 885,
 610,
 2897,
 271,
 431,
 512,
 278,
 824,
 2897,
 1150,
 925,
 1173,
 941,
 1683,
 2532,
 659,
 1654,
 959,
 1064,
 824,
 922,
 1002,
 1173,
 2744,
 684,
 3767,
 2532,
 2047,
 591,
 2524,
 703,
 1923,
 959,
 1071,
 659,
 512,
 84,
 1412,
 444,
 1471,
 1672,
 610,
 87,
 1173,
 298,
 1144,
 1144,
 3767,
 610,
 136,
 1412,
 438,
 271,
 1841,
 1071,
 84,
 1923,
 705,
 717,
 92,
 1672,
 717,
 288,
 703,
 1202,
 50,
 717,
 84,
 817,
 1683,
 659,
 1672,
 1097,
 3703,
 278,
 298,
 2744,
 1253,
 1412,
 1100,
 1479,
 1064,
 1071,
 2532,
 941,
 659,
 3767,
 1593,
 888,
 1173,
 959,
 2837,
 941,
 84,
 925,
 2006,
 298,
 1288,
 268,
 71,
 925,
 959,
 2837,
 1479,
 278,
 1666,
 705,
 1540,
 84,
 1097,
 885,
 2897,
 591,
 925,
 1683,
 824,
 610,
 2047,
 958,
 313,
 2494,
 298,
 2494,
 1214,
 824,
 1150,
 705,
 1173,
 1214,
 1654,
 2532,
 1100,
 684,
 1923,
 71,
 1412,
 2532,
 1100,
 3327,
 885,
 281,
 659,
 610,
 71,
 925,
 2494,
 313,
 1100,
 1566,
 3703,
 584,
 330,
 330,
 925,
 2532,
 2047,
 2047,
 938,
 824,
 659,
 824,
 925,
 5,
 2403,
 1071,
 959,
 71,
 1071,
 555,
 101,
 885,
 705,
 1479,
 958,
 1923,
 84,
 313,
 1064,
 717,
 959,
 938,
 1540,
 136,
 268,
 1288,
 1288,
 555,
 1144,
 941,
 517,
 268,
 271,
 271,
 959,
 2047,
 2489,
 330,
 2744,
 2897,
 318,
 1683,
 1593,
 121,
 1654,
 1245,
 659,
 1253,
 334,
 97,
 1683,
 84,
 1923,
 517,
 84,
 717,
 1071,
 659,
 647,
 2744,
 1363,
 1144,
 659,
 1173,
 512,
 1672,
 2489,
 2494,
 1471,
 2837,
 591,
 684,
 1683,
 2897,
 1071,
 925,
 298,
 1173,
 334,
 281,
 2494,
 817,
 71,
 1841,
 1253,
 330,
 659,
 334,
 703,
 288,
 97,
 885,
 1064,
 1540,
 97,
 610,
 271,
 3703,
 1288,
 1412,
 394,
 1150,
 298,
 717,
 1202,
 1214,
 1566,
 136,
 56,
 958,
 817,
 1923,
 334,
 824,
 1479,
 288,
 288,
 1363,
 2744,
 2403,
 1202,
 2897,
 271,
 1566,
 97,
 817,
 817,
 1923,
 2744,
 705,
 659,
 959,
 1100,
 659,
 298,
 142,
 659,
 610,
 142,
 824,
 2047,
 1593,
 2403,
 330,
 444,
 294,
 1593,
 271,
 1666,
 313,
 925,
 394,
 313,
 885,
 1253,
 958,
 1566,
 555,
 1097,
 1508,
 610,
 824,
 1683,
 2494,
 1841,
 1097,
 824,
 941,
 925,
 817,
 659,
 1841,
 2489,
 817,
 71,
 87,
 610,
 1144,
 136,
 278,
 2897,
 5,
 703,
 888,
 1666,
 824,
 959,
 101,
 97,
 2744,
 824,
 334,
 885,
 610,
 1363,
 356,
 1654,
 142,
 394,
 925,
 1508,
 84,
 2047,
 1097,
 705,
 1097,
 1288,
 1666,
 87,
 705,
 705,
 1202,
 1923,
 925,
 1654,
 330,
 330,
 1363,
 1245,
 268,
 271,
 278,
 298,
 659,
 591,
 941,
 1412,
 824,
 56,
 56,
 2494,
 705,
 659,
 1002,
 958,
 142,
 703,
 2897,
 684,
 555,
 142,
 1144,
 1253,
 142,
 925,
 71,
 136,
 2047,
 1508,
 2524,
 659,
 925,
 3703,
 1923,
 1479,
 824,
 1100,
 1214,
 3703,
 1150,
 3767,
 1683,
 1173,
 659,
 659,
 1245,
 1064,
 1479,
 717,
 824,
 958,
 2403,
 1002,
 2494,
 824,
 1479,
 824,
 136,
 1363,
 1666,
 1288,
 3703,
 271,
 1100,
 1683,
 56,
 2403,
 659,
 2489,
 1097,
 1923,
 84,
 235,
 1471,
 3767,
 1064,
 2897]

In [57]:
gr['crime_A_average']= A_ave

In [58]:
#calculate crime A average of past three years
B_ave=[]
for i in range(len(year)):
    year_1=int(year[i])-1
    year_2=int(year[i])-2
    year_3=int(year[i])-3
    name1=str(year_1)+'_'+correct_coun[i]
    name2=str(year_2)+'_'+correct_coun[i]
    name3=str(year_3)+'_'+correct_coun[i]
    v1=Year_sub_B[str(name1)]
    v2=Year_sub_B[str(name2)]
    v3=Year_sub_B[str(name3)]
    ave_3=(int(v1)+int(v2)+int(v3))/3
    B_ave.append(int(ave_3))
B_ave

[4476,
 452,
 8979,
 1890,
 9171,
 3886,
 1743,
 4701,
 8979,
 2973,
 9171,
 261,
 1695,
 5673,
 4200,
 5455,
 344,
 10289,
 98,
 4476,
 7827,
 11307,
 8523,
 489,
 1855,
 736,
 712,
 9171,
 344,
 11817,
 293,
 8938,
 1763,
 3070,
 4701,
 6073,
 18925,
 5813,
 1502,
 6364,
 1890,
 1901,
 18944,
 293,
 12864,
 5673,
 1407,
 1890,
 11307,
 4701,
 8895,
 1890,
 6287,
 5813,
 261,
 293,
 2861,
 736,
 18944,
 8895,
 736,
 2861,
 10289,
 1890,
 1890,
 98,
 18925,
 8979,
 18944,
 10289,
 8895,
 7401,
 489,
 6845,
 5212,
 4398,
 5479,
 1901,
 3886,
 1763,
 8979,
 5034,
 1890,
 1855,
 5212,
 1763,
 98,
 8979,
 506,
 251,
 11243,
 293,
 5783,
 4068,
 8523,
 4200,
 4200,
 18925,
 7754,
 545,
 8938,
 6287,
 4701,
 3636,
 8938,
 4242,
 3886,
 3886,
 1901,
 497,
 736,
 1901,
 6062,
 4701,
 1855,
 5219,
 8938,
 11307,
 5673,
 1407,
 489,
 6408,
 6892,
 2861,
 4701,
 18925,
 9333,
 1763,
 7759,
 6845,
 1502,
 4476,
 243,
 3612,
 5813,
 5219,
 9343,
 4398,
 4010,
 6845,
 1890,
 5455,
 4200,
 5212,
 11243,
 5673,
 1901,
 6892,
 8938,
 4200,
 5783,
 5219,
 10063,
 10289,
 302,
 11243,
 12864,
 771,
 5219,
 68,
 6892,
 6364,
 5212,
 1763,
 5219,
 6287,
 68,
 8979,
 9333,
 4010,
 5219,
 9333,
 6845,
 261,
 5219,
 771,
 4200,
 1502,
 1502,
 6287,
 4398,
 2861,
 18944,
 11243,
 8979,
 5479,
 497,
 10289,
 11817,
 736,
 524,
 5673,
 1890,
 9119,
 1407,
 302,
 5034,
 1234,
 10289,
 2973,
 4068,
 190,
 5455,
 6840,
 8938,
 6408,
 1743,
 3886,
 1890,
 5603,
 68,
 4200,
 1855,
 3070,
 9333,
 6287,
 5603,
 5479,
 7759,
 1502,
 8523,
 18925,
 6840,
 5034,
 11307,
 4398,
 497,
 11817,
 5673,
 1855,
 5455,
 1743,
 4701,
 4068,
 9171,
 5201,
 1763,
 4398,
 489,
 1502,
 10289,
 5219,
 98,
 2196,
 7401,
 5673,
 190,
 1890,
 11071,
 3886,
 5783,
 1662,
 4701,
 712,
 3886,
 5219,
 5813,
 5479,
 4476,
 11307,
 293,
 9171,
 252,
 545,
 1901,
 1743,
 11243,
 771,
 971,
 1119,
 489,
 1890,
 11243,
 7827,
 4701,
 8523,
 5813,
 8938,
 5455,
 5219,
 9119,
 4476,
 4200,
 1890,
 5201,
 4068,
 8523,
 10289,
 1695,
 18925,
 5455,
 9171,
 1189,
 12864,
 1502,
 8979,
 4476,
 5783,
 5219,
 1119,
 293,
 6364,
 981,
 7759,
 10063,
 1743,
 252,
 8523,
 735,
 6845,
 6845,
 18925,
 1743,
 302,
 6364,
 815,
 771,
 9184,
 5783,
 293,
 8979,
 5479,
 1763,
 260,
 10063,
 1763,
 712,
 1502,
 5034,
 68,
 1763,
 371,
 1779,
 8938,
 5219,
 10063,
 5916,
 18944,
 489,
 735,
 10289,
 7401,
 6364,
 3636,
 4398,
 4200,
 5783,
 5455,
 5813,
 5219,
 18925,
 6648,
 2196,
 8523,
 4476,
 9343,
 5813,
 293,
 4701,
 7754,
 735,
 4242,
 736,
 261,
 4701,
 4476,
 9343,
 4398,
 489,
 9333,
 5479,
 6062,
 293,
 5916,
 1901,
 11243,
 1189,
 4701,
 8938,
 1890,
 1743,
 9171,
 5673,
 545,
 11307,
 735,
 11307,
 5603,
 1890,
 7827,
 5479,
 8523,
 5603,
 9119,
 5455,
 3636,
 1695,
 8979,
 261,
 6364,
 5455,
 3636,
 11071,
 1901,
 524,
 5219,
 1743,
 261,
 4701,
 11307,
 545,
 3636,
 8895,
 18944,
 2731,
 1855,
 1855,
 4701,
 5455,
 9171,
 9171,
 6892,
 1890,
 5219,
 1890,
 4701,
 73,
 5212,
 5783,
 4476,
 261,
 5783,
 1129,
 251,
 1901,
 5479,
 4398,
 5673,
 8979,
 293,
 545,
 4200,
 1763,
 4476,
 6892,
 6062,
 302,
 736,
 4242,
 4242,
 1129,
 6845,
 5813,
 2973,
 736,
 771,
 771,
 4476,
 9171,
 11817,
 1855,
 10289,
 11243,
 497,
 8938,
 6648,
 242,
 9119,
 3886,
 5219,
 7401,
 1407,
 243,
 8938,
 371,
 8979,
 2973,
 293,
 1763,
 5783,
 5219,
 2861,
 10289,
 6287,
 6845,
 5219,
 8523,
 1119,
 10063,
 11817,
 11307,
 7759,
 9343,
 1189,
 1695,
 8938,
 11243,
 5783,
 4701,
 735,
 8523,
 1407,
 524,
 11307,
 1779,
 261,
 9184,
 7401,
 1855,
 5219,
 1407,
 1502,
 712,
 233,
 1901,
 4200,
 6062,
 233,
 1743,
 771,
 18944,
 4242,
 6364,
 1153,
 7827,
 735,
 1763,
 5034,
 5603,
 8895,
 302,
 98,
 5673,
 1779,
 8979,
 1407,
 1890,
 4398,
 712,
 712,
 6287,
 10289,
 5212,
 5034,
 11243,
 771,
 8895,
 243,
 1779,
 1779,
 8979,
 10289,
 5479,
 5219,
 4476,
 3636,
 5219,
 735,
 344,
 5219,
 1743,
 344,
 1890,
 9171,
 6648,
 5212,
 1855,
 981,
 840,
 6648,
 771,
 9333,
 545,
 4701,
 1153,
 545,
 1901,
 7401,
 5673,
 8895,
 1129,
 5916,
 6073,
 1743,
 1890,
 8938,
 11307,
 9184,
 5916,
 1890,
 5813,
 4701,
 1779,
 5219,
 9184,
 11817,
 1779,
 261,
 252,
 1743,
 6845,
 302,
 489,
 11243,
 73,
 1502,
 2196,
 9333,
 1890,
 4476,
 253,
 243,
 10289,
 1890,
 1407,
 1901,
 1743,
 6287,
 741,
 9119,
 344,
 1153,
 4701,
 6073,
 293,
 9171,
 5916,
 5479,
 5916,
 4242,
 9333,
 252,
 5479,
 5479,
 5034,
 8979,
 4701,
 9119,
 1855,
 1855,
 6287,
 3886,
 736,
 771,
 489,
 735,
 5219,
 1189,
 5813,
 6364,
 1890,
 98,
 98,
 11307,
 5479,
 5219,
 4068,
 5673,
 344,
 1502,
 11243,
 1695,
 1129,
 344,
 6845,
 7401,
 344,
 4701,
 261,
 302,
 9171,
 6073,
 12864,
 5219,
 4701,
 18944,
 8979,
 4398,
 1890,
 3636,
 5603,
 18944,
 7827,
 18925,
 8938,
 8523,
 5219,
 5219,
 3886,
 4200,
 4398,
 1763,
 1890,
 5673,
 5212,
 4068,
 11307,
 1890,
 4398,
 1890,
 302,
 6287,
 9333,
 4242,
 18944,
 771,
 3636,
 8938,
 98,
 5212,
 5219,
 11817,
 5916,
 8979,
 293,
 506,
 7759,
 18925,
 4200,
 11243]

In [59]:
gr['crime_B_average']= B_ave

In [60]:
#calculate crime A average of past three years
C_ave=[]
for i in range(len(year)):
    year_1=int(year[i])-1
    year_2=int(year[i])-2
    year_3=int(year[i])-3
    name1=str(year_1)+'_'+correct_coun[i]
    name2=str(year_2)+'_'+correct_coun[i]
    name3=str(year_3)+'_'+correct_coun[i]
    v1=Year_sub_C[str(name1)]
    v2=Year_sub_C[str(name2)]
    v3=Year_sub_C[str(name3)]
    ave_3=(int(v1)+int(v2)+int(v3))/3
    C_ave.append(int(ave_3))
C_ave

[324,
 22,
 620,
 159,
 742,
 447,
 228,
 308,
 620,
 288,
 742,
 20,
 161,
 628,
 432,
 713,
 39,
 780,
 19,
 324,
 922,
 1410,
 974,
 65,
 82,
 128,
 75,
 742,
 39,
 1268,
 23,
 509,
 318,
 411,
 308,
 553,
 2042,
 575,
 135,
 699,
 159,
 227,
 2039,
 23,
 738,
 628,
 88,
 159,
 1410,
 308,
 491,
 159,
 564,
 575,
 20,
 23,
 222,
 128,
 2039,
 491,
 128,
 222,
 780,
 159,
 159,
 19,
 2042,
 620,
 2039,
 780,
 491,
 484,
 65,
 375,
 586,
 502,
 335,
 227,
 447,
 318,
 620,
 333,
 159,
 82,
 586,
 318,
 19,
 620,
 74,
 18,
 942,
 23,
 419,
 328,
 974,
 432,
 432,
 2042,
 1051,
 65,
 509,
 564,
 308,
 457,
 509,
 480,
 447,
 447,
 227,
 140,
 128,
 227,
 477,
 308,
 82,
 338,
 509,
 1410,
 628,
 88,
 65,
 691,
 553,
 222,
 308,
 2042,
 523,
 318,
 779,
 375,
 135,
 324,
 33,
 368,
 575,
 338,
 1212,
 502,
 377,
 375,
 159,
 713,
 432,
 586,
 942,
 628,
 227,
 553,
 509,
 432,
 419,
 338,
 646,
 780,
 42,
 942,
 738,
 74,
 338,
 12,
 553,
 699,
 586,
 318,
 338,
 564,
 12,
 620,
 523,
 377,
 338,
 523,
 375,
 20,
 338,
 74,
 432,
 135,
 135,
 564,
 502,
 222,
 2039,
 942,
 620,
 335,
 140,
 780,
 1268,
 128,
 75,
 628,
 159,
 550,
 88,
 42,
 333,
 99,
 780,
 288,
 328,
 19,
 713,
 525,
 509,
 691,
 228,
 447,
 159,
 375,
 12,
 432,
 82,
 411,
 523,
 564,
 375,
 335,
 779,
 135,
 974,
 2042,
 525,
 333,
 1410,
 502,
 140,
 1268,
 628,
 82,
 713,
 228,
 308,
 328,
 742,
 296,
 318,
 502,
 65,
 135,
 780,
 338,
 19,
 181,
 484,
 628,
 19,
 159,
 1069,
 447,
 419,
 118,
 308,
 75,
 447,
 338,
 575,
 335,
 324,
 1410,
 23,
 742,
 37,
 65,
 227,
 228,
 942,
 74,
 220,
 175,
 65,
 159,
 942,
 922,
 308,
 974,
 575,
 509,
 713,
 338,
 550,
 324,
 432,
 159,
 296,
 328,
 974,
 780,
 161,
 2042,
 713,
 742,
 177,
 738,
 135,
 620,
 324,
 419,
 338,
 175,
 23,
 699,
 239,
 779,
 646,
 228,
 37,
 974,
 154,
 375,
 375,
 2042,
 228,
 42,
 699,
 153,
 74,
 533,
 419,
 23,
 620,
 335,
 318,
 36,
 646,
 318,
 75,
 135,
 333,
 12,
 318,
 13,
 181,
 509,
 338,
 646,
 553,
 2039,
 65,
 154,
 780,
 484,
 699,
 457,
 502,
 432,
 419,
 713,
 575,
 338,
 2042,
 530,
 181,
 974,
 324,
 1212,
 575,
 23,
 308,
 1051,
 154,
 480,
 128,
 20,
 308,
 324,
 1212,
 502,
 65,
 523,
 335,
 477,
 23,
 553,
 227,
 942,
 177,
 308,
 509,
 159,
 228,
 742,
 628,
 65,
 1410,
 154,
 1410,
 375,
 159,
 922,
 335,
 974,
 375,
 550,
 713,
 457,
 161,
 620,
 20,
 699,
 713,
 457,
 1069,
 227,
 75,
 338,
 228,
 20,
 308,
 1410,
 65,
 457,
 491,
 2039,
 211,
 82,
 82,
 308,
 713,
 742,
 742,
 553,
 159,
 338,
 159,
 308,
 1,
 586,
 419,
 324,
 20,
 419,
 160,
 18,
 227,
 335,
 502,
 628,
 620,
 23,
 65,
 432,
 318,
 324,
 553,
 477,
 42,
 128,
 480,
 480,
 160,
 375,
 575,
 288,
 128,
 74,
 74,
 324,
 742,
 1268,
 82,
 780,
 942,
 140,
 509,
 530,
 42,
 550,
 447,
 338,
 484,
 88,
 33,
 509,
 13,
 620,
 288,
 23,
 318,
 419,
 338,
 222,
 780,
 564,
 375,
 338,
 974,
 175,
 646,
 1268,
 1410,
 779,
 1212,
 177,
 161,
 509,
 942,
 419,
 308,
 154,
 974,
 88,
 75,
 1410,
 181,
 20,
 533,
 484,
 82,
 338,
 88,
 135,
 75,
 26,
 227,
 432,
 477,
 26,
 228,
 74,
 2039,
 480,
 699,
 165,
 922,
 154,
 318,
 333,
 375,
 491,
 42,
 19,
 628,
 181,
 620,
 88,
 159,
 502,
 75,
 75,
 564,
 780,
 586,
 333,
 942,
 74,
 491,
 33,
 181,
 181,
 620,
 780,
 335,
 338,
 324,
 457,
 338,
 154,
 39,
 338,
 228,
 39,
 159,
 742,
 530,
 586,
 82,
 239,
 110,
 530,
 74,
 523,
 65,
 308,
 165,
 65,
 227,
 484,
 628,
 491,
 160,
 553,
 553,
 228,
 159,
 509,
 1410,
 533,
 553,
 159,
 575,
 308,
 181,
 338,
 533,
 1268,
 181,
 20,
 37,
 228,
 375,
 42,
 65,
 942,
 1,
 135,
 181,
 523,
 159,
 324,
 33,
 33,
 780,
 159,
 88,
 227,
 228,
 564,
 78,
 550,
 39,
 165,
 308,
 553,
 23,
 742,
 553,
 335,
 553,
 480,
 523,
 37,
 335,
 335,
 333,
 620,
 308,
 550,
 82,
 82,
 564,
 447,
 128,
 74,
 65,
 154,
 338,
 177,
 575,
 699,
 159,
 19,
 19,
 1410,
 335,
 338,
 328,
 628,
 39,
 135,
 942,
 161,
 160,
 39,
 375,
 484,
 39,
 308,
 20,
 42,
 742,
 553,
 738,
 338,
 308,
 2039,
 620,
 502,
 159,
 457,
 375,
 2039,
 922,
 2042,
 509,
 974,
 338,
 338,
 447,
 432,
 502,
 318,
 159,
 628,
 586,
 328,
 1410,
 159,
 502,
 159,
 42,
 564,
 523,
 480,
 2039,
 74,
 457,
 509,
 19,
 586,
 338,
 1268,
 553,
 620,
 23,
 74,
 779,
 2042,
 432,
 942]

In [61]:
gr['crime_C_average']= C_ave
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,959,4476,324,not available,-1,-1,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,119,452,22,not available,-1,-1,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,1923,8979,620,not available,-1,-1,not available,-1,-1,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,824,1890,159,not available,-1,-1,not available,-1,-1,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,2047,9171,742,not available,-1,-1,not available,-1,-1,POINT (145.0889 -37.8555)

# Find Closest Primary School and Distance

Firstly, use `xml.etree.ElementTree` to get information from `schools.xml`. Create school name, type, latitude and longitude lists. Use `haversine`  to calculate the distance between two points, then use `find_clo_pri` function to return the school name and minimum distance.

The distance list store all the distance from one property to all schools, when we find the shortest distance, use index to find the corrisponding school name in the list.

In [62]:
# Get information from schools.xml
import xml.etree.ElementTree as et 
school_list=[]
xtree = et.parse("schools.xml")
xroot = xtree.getroot() 
# get school names
for child in xroot.iter('School_Name'):
    school_list.append(child.text)
print(len(school_list))
school_type=[]
# get school types
for child in xroot.iter('School_Type'):
    school_type.append(child.text)
print(len(school_type))

2254
2254

In [63]:
#get latitude and longitude
sch_x=[]
for child in xroot.iter('X'):
    sch_x.append(child.text)
print(len(sch_x))
sch_y=[]
for child in xroot.iter('Y'):
    sch_y.append(child.text)
print(len(sch_y))

2254
2254

In [64]:
#check the type for all schools
print(set(school_type))

{'Secondary', 'Language', 'Pri/Sec', 'Primary', 'Special'}

In [65]:
#seperate primary school and secondary school into two list
#also seperate their latitude and longitude
primary=[]
second=[]
pri_xy=[]
sec_xy=[]
for i in range(len(school_type)):
    if school_type[i]=='Pri/Sec':
        primary.append(school_list[i])
        pri_xy.append((sch_x[i],sch_y[i]))
        second.append(school_list[i])
        sec_xy.append((sch_x[i],sch_y[i]))
    elif school_type[i]=='Primary':
        primary.append(school_list[i])
        pri_xy.append((sch_x[i],sch_y[i]))
    elif school_type[i]=='Secondary':
        second.append(school_list[i])
        sec_xy.append((sch_x[i],sch_y[i]))
print(len(primary))
print(len(second))
print(len(pri_xy))
print(len(sec_xy))

1799
586
1799
586

In [66]:
# combine primary school name and their lan and lon
all_pri=[]
for i in range(len(primary)):
    tup=tuple([pri_xy[i],primary[i]])
    all_pri.append(tup)
print(len(all_pri))

1799

In [67]:
# input each house's lattitude and longitude
#return the school name and shortest distance
def find_clo_pri(housela, houselo, input_list):
    all_dis=[]
    for each in input_list:
        #school lan and lon
        Slon=float(each[0][0])
        Slan=float(each[0][1])
        each_dis=haversine(Slan,Slon,housela,houselo)
        all_dis.append(each_dis)
    #find minimum distance
    mini_dis=min(all_dis)
    #get index of minimum distance
    inde=all_dis.index(mini_dis)
    #find the school name accoding to index
    school_name=input_list[inde][1]
    sch_mini=(school_name,mini_dis)
    return sch_mini

In [68]:
Hlan=gr['Latitude']
Hlon=gr['Longitude']
close_pri=[]
# there are 720 properties
#for each property, use function get the school name and min distace
for i in range(len(Hlan)):
    Hou_lan=Hlan[i]
    Hou_lon=Hlon[i]
    result=find_clo_pri(Hou_lan,Hou_lon,all_pri)
    close_pri.append(result)
print(close_pri)

[("St Bede's School", 0.5034201888530943), ('Albanvale Primary School', 0.5264217365969028), ("St Brendan's School", 0.23289186253016436), ('Richmond West Primary School', 0.8774759378820088), ('Ashburton Primary School', 0.8782166739495798), ('Melbourne Grammar School', 0.8081408391689548), ('Footscray North Primary School', 0.22958831406272953), ('Balwyn North Primary School', 0.9340044938930978), ("St Monica's School", 0.4080470259553218), ("St Augustine's School", 1.036679973876135), ('Glen Iris Primary School', 0.7363626319140474), ('Moorabbin Primary School', 0.397018880050505), ('Bundoora Primary School', 0.4833160358303134), ('Brunswick North Primary School', 0.3848869434040784), ('Westbourne Grammar School', 0.2856123802765645), ('Bell Primary School', 0.6152009836091594), ('North Melbourne Primary School', 0.6347779337189629), ('Gardenvale Primary School', 0.3462722938712732), ('Highvale Primary School', 0.30829981669772305), ("St Paul's School", 0.5626213900139279), ('East Preston Islamic College', 0.6649135903889765), ('Ascot Vale West Primary School', 0.14733927653566892), ('Glenferrie Primary School', 0.5487420270981556), ('Moonee Ponds Primary School', 0.4032681246967028), ("St John Bosco's School", 0.6532919333278543), ("St Patrick's School", 0.8912553868798991), ('Kew Primary School', 0.4357504428376432), ("St Brendan's School", 0.5695301964637196), ('Northcote Primary School', 0.10836125268043587), ('Altona Primary School', 0.507750727232442), ('Newport Gardens Primary School', 0.43137854123958125), ('Westbreen Primary School', 0.8339478875658083), ('Footscray North Primary School', 0.11412773769041777), ('Orchard Grove Primary School', 0.4800925062942373), ("St Paul's School", 0.8424756263308474), ('Coburn Primary School', 0.8804413943414945), ("St Dominic's School", 0.34121634649698146), ('Princes Hill Primary School', 0.28994530020353176), ('Our Lady Help of Christians School', 0.5614744350883942), ('Sunshine North Primary School', 0.6047147598057456), ('Reservoir West Primary School', 0.28367191134273256), ('Reservoir East Primary School', 0.47355699700716086), ("Strathcona Baptist Girls' Grammar", 0.26023134768992057), ('Newport Gardens Primary School', 0.41891710048372494), ('Laburnum Primary School', 0.20950213878657226), ('Princes Hill Primary School', 1.032190981296744), ('Essendon North Primary School', 0.6116832751979946), ('Reservoir West Primary School', 0.6702910359506145), ('Altona College', 0.08193401967945856), ('Tucker Road Bentleigh Primary School', 0.35239232164628925), ('St Gregory the Great School', 0.6380684507890289), ("St Gabriel's School", 0.46587209167000027), ('Strathmore Primary School', 0.4588230938345565), ('Belle Vue Primary School', 1.232486965297241), ('North Melbourne Primary School', 0.276028892772446), ('Southmoor Primary School', 0.3168917998643535), ('St Martin of Tours School', 0.566476713113968), ('Kilvington Grammar School', 0.12332048789156823), ("Strathcona Baptist Girls' Grammar", 0.6012529635092686), ('Elwood Primary School', 0.4527678565303902), ("St Patrick's School", 0.43139154604006236), ('Macleod College', 1.057268436008557), ('Dinjerra Primary School', 0.3586237971085618), ("St Augustine's School", 0.6028958994717615), ('Yarra Primary School', 0.14814325470107617), ('St John the Baptist School', 0.7263574177053274), ('Wattle Park Primary School', 0.5156723477066001), ('Fitzroy Community School', 0.26380539504631023), ('Glen Huntly Primary School', 0.4374460185318078), ('Brighton Grammar School', 0.2306808676639576), ('St Gregory the Great School', 1.3842078038990622), ('Aberfeldie Primary School', 0.8870078426721868), ('Our Holy Redeemer School', 1.0307557725178524), ('Auburn South Primary School', 0.6299654903485664), ("St Theresa's School", 0.565917000375528), ('Holy Trinity Catholic Primary School', 1.2085202820600693), ('Pascoe Vale North Primary School', 0.26157705108450013), ('Footscray City Primary School', 0.32158805664916107), ('South Yarra Primary School', 0.3288744476862127), ('Bialik College', 0.6413334940857824), ('Footscray Primary School', 0.4689358015681975), ('Sophia Mundi Steiner School', 0.7516764000375591), ("St Gabriel's School", 0.4597416247729497), ("St John Bosco's School", 0.6030903930419166), ('Templestowe Valley Primary School', 0.3436384587565486), ('Solway Primary School', 0.7168652229349874), ('Mountain Gate Primary School', 0.5754660586080363), ("St Benedict's School", 0.5085700679477254), ('Edithvale Primary School', 0.8539033199403656), ('Sacred Heart School', 0.30723114673949536), ("St Finbar's School", 0.6731559628137379), ('Sacred Heart School', 0.5060251196542112), ("St John's School", 0.2889699458874017), ('Windsor Primary School', 0.1984799973275132), ('East Preston Islamic College', 0.3099104490039488), ('Windsor Primary School', 0.2583446279005724), ('Viewbank Primary School', 0.7533473570089687), ('Chatham Primary School', 0.7661180438536993), ('Laurimar Primary School', 0.7328633509112762), ('North Melbourne Primary School', 1.6429707441724546), ('Corpus Christi School', 0.41236400413085605), ('Sunshine North Primary School', 0.5320878006455185), ("St Bridget's School", 0.12622194741094597), ('Toorak Primary School', 0.7521113176206122), ('Westbreen Primary School', 0.34414787527062385), ('Oscar Romero Catholic Primary School', 1.315451545104), ('Toorak Primary School', 1.0333374236694481), ('Toorak Primary School', 0.8846352595445499), ('Richmond Primary School', 0.8304869217689098), ('Glen Katherine Primary School', 0.5871499144687324), ('Murrumbeena Primary School', 0.4217413474458775), ("St Gabriel's School", 0.7809324710686836), ('Caulfield South Primary School', 0.2687423746779019), ('Coatesville Primary School', 0.46654581091010966), ('Fairfield Primary School', 0.759511860592805), ('Port Melbourne Primary School', 0.8874315100875187), ('Belle Vue Park Primary School', 0.6588585664138619), ("St Mary's School", 0.16196434966601334), ('St Clement of Rome School', 0.7028988141134918), ("St Therese's School", 0.3650030229501191), ('Carlton Gardens Primary School', 0.7942046523436599), ('Lalor East Primary School', 0.4811679954730281), ('Parkdale Primary School', 0.26095055812764767), ('Watsonia Primary School', 0.46197491011933806), ("St Bridget's School", 0.40471744566506795), ('Camberwell Primary School', 0.24635077226811755), ('Doncaster Primary School', 0.8143006585344974), ('Footscray North Primary School', 0.9009661111159022), ('Mordialloc Beach Primary School', 0.6094514408944509), ('Camberwell Primary School', 0.6574541095768427), ('Yarraville West Primary School', 0.5553689848303945), ('Belle Vue Primary School', 0.2537987503257636), ('Richmond West Primary School', 1.4477895265767449), ('Sacred Heart School', 0.33250618472558635), ("St Margaret Mary's School", 0.44106852045092476), ("St Raphael's School", 0.39935339358729843), ('Cana Catholic Primary School', 0.1642436944079624), ('Sunbury West Primary School', 0.5147099678813879), ('Apollo Parkways Primary School', 0.3769790049482312), ("St John Bosco's School", 1.1634742580120019), ("St Augustine's School", 0.8308576924097388), ('Canterbury Primary School', 0.47967334335918177), ('Bayside P-12 College', 0.09478014580249318), ('Wales Street Primary School', 0.31959284420225825), ('Bentleigh West Primary School', 0.7118802666286006), ('Brunswick South West Primary School', 0.8251265783777227), ('Banyule Primary School', 0.09376064332381015), ('Clayton North Primary School', 0.3762692883216736), ("St Thomas More's School", 0.5630282610922328), ('Williamstown North Primary School', 0.15899670925222484), ('Australian International Academy of Education', 0.7312244566665485), ('Wesley College', 0.7626530882100921), ('Avondale Primary School', 0.9383767368822156), ("St Finbar's School", 0.7919410931094129), ('Westgarth Primary School', 0.6121304083532387), ("St James' School", 0.9397041387324797), ('Glowrey Catholic Primary School', 0.24912783872586508), ("Methodist Ladies' College", 0.2526847165749482), ("St Oliver Plunkett's School", 0.5773107877833363), ('Mentone Primary School', 0.6574014987483484), ('Blackburn Lake Primary School', 0.12424390898303575), ('Cheder Levi Yitzchok Inc', 0.22452154973442917), ('Ardeer South Primary School', 0.4452091979019775), ('Malvern Primary School', 0.6995147215026913), ('Wesley College', 0.5685945523353317), ('Sunshine Primary School', 0.7374051982745686), ('Mentone Park Primary School', 0.488300916640313), ('Ashburton Primary School', 0.42087172722718724), ('Elwood Primary School', 0.6372121159196167), ('Greensborough Primary School', 0.5125231320700359), ('Albert Park Primary School', 1.00656402030432), ('St Kilda Primary School', 0.574605722820026), ('Heidelberg Primary School', 0.5125030070916717), ('North Melbourne Primary School', 0.3659999739149424), ('Westbreen Primary School', 0.0632099636024822), ('Debney Meadows Primary School', 0.6063631090076902), ('Bayside P-12 College', 0.047446242936078506), ('Yarraville West Primary School', 0.5553689848303945), ('Kingsville Primary School', 0.5292592927525691), ('Sunshine Harvester Primary School', 0.5053341282316985), ('Goonawarra Primary School', 0.5942621776929183), ("St Catherine's School", 1.0685308770280717), ("Strathcona Baptist Girls' Grammar", 0.7455976243741835), ('Dinjerra Primary School', 0.6830885304948224), ("St John's School", 0.2291002909099593), ('South Yarra Primary School', 0.941992184723041), ('Mount Evelyn Christian School/Ranges TEC', 0.4624990772973606), ("St Leonard's College", 0.5103670623007246), ('Ascot Vale West Primary School', 0.7297830903553018), ("St Kevin's School", 0.20709739131406743), ('St Charles Borromeo School', 1.2166542495628039), ("St Margaret Mary's School", 0.4756105253085149), ('Holy Name School', 0.24964537548811883), ('Solway Primary School', 0.5259355488217684), ('Essendon North Primary School', 0.3058768640920802), ('Wales Street Primary School', 0.6620150891432427), ('Mary Immaculate School', 0.6274676554407043), ('St Peter Chanel School', 0.5751504405032314), ('Roberts McCubbin Primary School', 0.7193150466841397), ('Overport Primary School', 1.0673920222142144), ('Windsor Primary School', 0.4425280116722655), ('Manorvale Primary School', 0.9176720337214019), ("St Kevin's School", 0.3351846084823276), ('Mullum Primary School', 1.0309855409289086), ('Hampton Primary School', 0.606574555521538), ('Lalor East Primary School', 0.526909533178675), ('Sacre Coeur', 0.7623434240973187), ('Spotswood Primary School', 0.5164064290079348), ('Reservoir Views Primary School', 0.47572888745803754), ('Albert Park Primary School', 0.22312851603767367), ("St Anthony's School", 0.2597557654691486), ('Bayside P-12 College', 1.0654880582525172), ("St Therese's School", 0.22670062425854987), ('Seabrook Primary School', 1.0081092318434042), ("Ivanhoe Girls' Grammar School", 0.9489503418636236), ('Our Lady of the Immaculate Conception School', 0.7589159647360629), ("St Christopher's School", 0.46905451186248587), ('Pascoe Vale Primary School', 0.8248423416053846), ("St Brigid's School", 0.5264483628505373), ('Yarraville West Primary School', 0.533180470068016), ('Erasmus Primary School', 0.2700275117577991), ('Chatham Primary School', 0.7661180438536993), ('Rockbank Primary School', 0.3832800787228703), ('Albert Park Primary School', 0.16481243852863964), ('Moonee Ponds West Primary School', 0.8640405365617605), ('St Albans Primary School', 0.586528432336031), ('Bethal Primary School', 0.49898592178163265), ('St Leo the Great Primary School', 0.649994126554056), ('Boroondara Park Primary School', 1.5364553843510964), ("St John Bosco's School", 0.6030903930419166), ('Our Lady of Perpetual Succour School', 0.7275381556719996), ("St Margaret's Primary School", 0.8249164130939574), ("St Bede's School", 0.7996080275761999), ('Williamstown Primary School', 0.6361949981853305), ("St Brendan's School", 0.701697890108278), ("St Anthony's School", 0.08000500899524043), ('Malvern Primary School', 0.7310035085577139), ('Our Lady of Mount Carmel School', 0.35392958983640066), ('Ascot Vale Primary School', 0.4627451737520908), ('Wembley Primary School', 0.20814260235395937), ("St Finbar's School", 0.6596689542023264), ('Port Melbourne Primary School', 0.764146121007902), ('Camelot Rise Primary School', 1.0065799442539594), ('Richmond Primary School', 0.3445395709641112), ('Heidelberg Primary School', 0.4222933002098853), ('Princes Hill Primary School', 0.3238302394640881), ('Manorvale Primary School', 0.9176720337214019), ('Hawthorn West Primary School', 0.886675837175799), ('Diamond Creek Primary School', 0.7506356053490364), ('Melbourne Grammar School', 1.131090962932527), ('Clifton Hill Primary School', 0.345513262678053), ('Emmaus Catholic Primary School', 1.0793931959644747), ("St Paul's School", 0.4427941144672513), ("St Anne's School", 0.38776937893097496), ('Christ Church Grammar School', 0.48734479819669285), ('Pascoe Vale Primary School', 0.6549984598535614), ('Princes Hill Primary School', 0.40467177100878426), ('East Preston Islamic College', 0.11229530490105888), ("St Bede's School", 0.20456947619695878), ("St Mary's School", 0.4693135577375479), ('Moorabbin Primary School', 0.5952146513588291), ('Sacre Coeur', 0.45684017815120626), ('Corpus Christi School', 0.5032089862168916), ("St Mary's School", 0.45619105947041544), ('William Ruthven Primary School', 0.4517675764982124), ('Christ the King Primary School', 1.4755674464207218), ("St Leonard's College", 0.5385868812424776), ('Kew Primary School', 0.8547624656254846), ('Glen Huntly Primary School', 0.7604640727700253), ('St Francis of Assisi Catholic Primary School', 0.9325682875875263), ('Moonee Ponds West Primary School', 0.3465581474984083), ("St Stephen's School", 0.5868225441024294), ('Elsternwick Primary School', 0.30618554014750626), ('Glenferrie Primary School', 0.4415947472448805), ('Coatesville Primary School', 0.7737702540342859), ('Erasmus Primary School', 0.5495948611447597), ("St Benedict's School", 0.363903714485941), ("St Mary's School", 0.4434234193471231), ('Surrey Hills Primary School', 0.37024828449898717), ('Pascoe Vale Primary School', 0.9922786269476846), ('St Martin de Porres School', 0.3367663423584408), ('Boroondara Park Primary School', 0.6060762548707241), ('Bayside P-12 College', 0.6561050569684214), ('Reservoir Primary School', 0.13503587082484028), ("St Anthony's School", 0.20447708707904827), ('Windsor Primary School', 0.22168927526041377), ('St Pius X School', 0.8842427043519397), ("St James' School", 0.2836476386678327), ('Watsonia North Primary School', 0.6252868115784176), ('Carnegie Primary School', 0.2605183992721575), ('Holy Spirit School', 0.33373051103331325), ("St Roch's School", 0.3834823500748492), ("St Paul's Kealba Catholic School", 0.9920142493195463), ('Glowrey Catholic Primary School', 0.6314701682563926), ("St Margaret's Primary School", 0.39923221955365246), ("St Brendan's School", 0.6164290212710459), ('Valkstone Primary School', 0.3374512334060708), ('Clifton Hill Primary School', 0.2949507915768907), ('Preston West Primary School', 0.5279949586431972), ('St Carlo Borromeo School', 0.2351247785453853), ('Niddrie Primary School', 0.5447871235536182), ('Oak Park Primary School', 0.8582184210510739), ('Huntingdale Primary School', 0.6550318880852138), ('Mount Waverley Primary School', 0.31652812663758945), ('Yeshivah College', 0.3286226844398104), ("St Margaret's Primary School", 1.2389986017227665), ('Corpus Christi School', 0.40406654961843375), ('Erasmus Primary School', 0.4043369827169479), ('Footscray West Primary School', 0.670713038217158), ('Darul Ulum College of Victoria', 0.4901938363014295), ('Moomba Park Primary School', 0.24692194531577102), ('Camberwell Girls Grammar School', 0.526753607114038), ('Footscray North Primary School', 0.5228378870159612), ("St Joseph's School", 0.1869105435661337), ('Sunshine Harvester Primary School', 0.8473404146000031), ('Athol Road Primary School', 0.4586300571948694), ('Kensington Primary School', 0.383767800780261), ('Glenroy West Primary School', 0.29383934868499034), ("St Bernard's School", 0.5013423151484483), ('North Melbourne Primary School', 0.32090642328060776), ('Glen Iris Primary School', 0.3504624741706365), ('Port Melbourne Primary School', 0.4900828562238898), ("St Margaret's Primary School", 0.16690442024348304), ('Ivanhoe East Primary School', 0.5273309066153828), ('Avondale Primary School', 0.1706457230385983), ('Lloyd Street Primary School', 0.40670098095321533), ('Kew East Primary School', 0.7323471283838395), ("St Margaret's Primary School", 0.7378452316031192), ('Albert Park Primary School', 0.3161342386474216), ('Mooroolbark East Primary School', 0.5048500037283792), ("St Margaret's Primary School", 1.0493992942381554), ('Yarraman Oaks Primary School', 0.6573337331140316), ("St Augustine's School", 0.36380719890278285), ('Hampton Primary School', 0.4405498077956761), ('Port Melbourne Primary School', 0.747311150080075), ("St Michael's School", 0.8153487573277662), ('Coburg North Primary School', 0.13957924748856812), ('Camberwell Grammar School', 0.8418231933245353), ('Carlton Gardens Primary School', 0.8304372865359071), ('Murrumbeena Primary School', 0.4723736893826746), ("St Francis Xavier's School", 0.6539998875844916), ('Moomba Park Primary School', 0.19714625444541506), ('Cheder Levi Yitzchok Inc', 0.4942163249341936), ('Melbourne Grammar School', 0.5124340642023026), ('Sunbury West Primary School', 0.5010826627500186), ('Bayside P-12 College', 0.6954537192868567), ('Collingwood College', 0.3186272059531606), ('Templestowe Valley Primary School', 0.21380028487249067), ('Brunswick South Primary School', 1.17524163190115), ('Port Melbourne Primary School', 0.6004088352036766), ('Murrumbeena Primary School', 0.5670296478880297), ('Japanese School of Melbourne', 0.541550321632849), ('Richmond Primary School', 0.454047970328975), ('Trinity Catholic School', 0.6416014177626507), ('Balwyn North Primary School', 0.9685826085709547), ('Moorabbin Primary School', 1.0277964484142983), ("St Margaret Mary's School", 0.08438052643352402), ('Niddrie Primary School', 0.35119932899461304), ('Tucker Road Bentleigh Primary School', 0.22168224959927177), ('Meadowglen Primary School', 0.6145971506633471), ('Kilvington Grammar School', 0.6816837425275984), ('Newbury Primary School', 0.24766662648509688), ('Footscray West Primary School', 0.4128165935980333), ('Newport Gardens Primary School', 0.3325782199143787), ('McKinnon Primary School', 0.1978748648659329), ('Hughesdale Primary School', 0.9864868673528201), ('St Albans North Primary School', 0.7216760982986473), ('Bethany Catholic Primary School', 0.9345086633981244), ('Moonee Ponds Primary School', 0.7210244046974075), ('Elwood Primary School', 0.25179024897496577), ('Pascoe Vale North Primary School', 0.2587097299812138), ("St Mary Magdalen's School", 0.13357108614524324), ('North Melbourne Primary School', 0.8211855751834669), ("St Bernard's School", 0.4357221717002502), ('Richmond Primary School', 0.8640230896088793), ('Sunshine Harvester Primary School', 0.5557986988977265), ("St Bernadette's School", 0.7098107305043518), ("St Peter's School", 0.8185664673125854), ("St Thomas More's School", 0.4753416585345317), ("St Stephen's School", 0.3717123442701276), ('Christ the King Primary School', 0.782710096019848), ('Fitzroy Community School', 0.36841436879289885), ('Brunswick North Primary School', 0.2091301865988433), ('Moonee Ponds West Primary School', 0.2377532880886634), ('Seaholme Primary School', 0.25545294926115397), ('McKinnon Primary School', 0.20430297286667443), ('Altona North Primary School', 0.20809217738969352), ('Albert Park Primary School', 0.22312851603767367), ('Maharishi School of the Age of Enlightenment', 0.4459222446924928), ('Trinity Catholic School', 0.6413072811761116), ('Bell Primary School', 0.626142229649341), ('St Pius X School', 0.8747053511521858), ('Middle Park Primary School', 0.21206508904

In [69]:
# make tuple list into two lists, school name and distace to add in df
closest_primary_school=[]
distance_to_closest_primary=[]
for each_tuple in close_pri:
    closest_primary_school.append(each_tuple[0])
    distance_to_closest_primary.append(each_tuple[1])

In [70]:
gr['closest_primary_school']= closest_primary_school
gr['distance_to_closest_primary']= distance_to_closest_primary
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,959,4476,324,St Bede's School,0.503420,-1,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,119,452,22,Albanvale Primary School,0.526422,-1,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,1923,8979,620,St Brendan's School,0.232892,-1,not available,-1,-1,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,824,1890,159,Richmond West Primary School,0.877476,-1,not available,-1,-1,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,2047,9171,742,Ashburton Primary School,0.878217,-1,not available,-1,-1,POINT (145.0889 -37.8555)

# Find Primary School Ranking

use `urlopen` to open the website, and store as `primary.txt`.

Read the txt then use regular expression to find the school name with ranking. Create a dictionary, if the key has already appear there, no need to change the ranking, because the ranking number in order from 0-500.

Then we use `difflib.get_close_matches` to find primary school name with high similarities, `cutoff=0.9`. The cutoff uses higher probability because we want to keep the correctness of the data.

In [71]:
# get content from website save as txt
from urllib.request import urlopen
import re
html= urlopen("http://www.schoolcatchment.com.au/?p=12301")
content = html.read().decode('utf-8')
file = open('primary.txt','w',encoding='utf-8')
file.write(content)
file.close()

In [72]:
# filter out contents relates to school name and ranking use re
inputFile = open('primary.txt', 'r', encoding='utf-8').read()
pattern=inputFile.split("</tr>")
name_1 = re.findall('(?:<th class="column-1">)(.*?)(?:<\/th>)', pattern[0])
name_2 = re.findall('(?:<th class="column-2">)(.*?)(?:</th>)', pattern[0])
#delete the content do not need front and at the end
del pattern[0]
del pattern[500]
print(name_1)
print(name_2)
print(len(pattern))

['Ranking']
['School Name']
500

In [73]:
# create primary school ranking dictionary use re
pri_rank={}
for each_line in pattern:
    rank=re.findall('(?:<td class="column-1">)(.*?)(?:</td>)', each_line)
    name=re.findall('(?:<td class="column-2">)(.*?)(?:</td>)', each_line)
    if name[0] not in pri_rank.keys():
        pri_rank[name[0]]=rank[0]

print(pri_rank)

{"Presbyterian Ladies' College": '1', 'Haileybury College': '2', 'Ballarat Clarendon College': '3', 'Fitzroy Community School': '4', "Fintona Girls' School": '5', 'Huntingtower School': '6', 'Beverley Hills Primary School': '7', 'Oakleigh South Primary School': '8', 'Scotch College': '9', 'Serpell Primary School': '10', 'Camberwell Grammar School': '11', "Mentone Girls' Grammar School": '12', 'St Andrews Christian College': '13', 'Christ Church Grammar School': '14', 'Waverley Christian College': '15', 'Balwyn Primary School': '16', 'Erasmus School': '17', 'Lighthouse Christian College Cranbourne': '18', 'Glendal Primary School': '19', 'Thomastown East Primary School': '20', 'Doncaster Gardens Primary School': '21', "Korowa Anglican Girls' School": '22', 'Carey Baptist Grammar School': '23', 'Firbank Grammar School': '24', 'The Knox School': '25', 'Southmoor Primary School': '26', 'Loreto Mandeville Hall': '27', 'Wheelers Hill Primary School': '28', 'Camberwell Girls Grammar School': '29', "Lauriston Girls' School": '30', 'Bentleigh West Primary School': '31', 'Holy Trinity Primary School': '32', "St Leonard's College": '33', 'Sholem Aleichem College': '34', 'Camberwell Primary School': '35', 'Camelot Rise Primary School': '36', 'Knox Gardens Primary School': '37', "Ivanhoe Girls' Grammar School": '38', 'Burwood East Primary School': '39', 'Genazzano FCJ College': '40', "Methodist Ladies' College": '41', 'Deepdene Primary School': '42', 'Canterbury Primary School': '43', 'South Yarra Primary School': '44', 'Mount View Primary School': '45', 'Glen Waverley Primary School': '46', 'Vermont Primary School': '47', 'Eltham East Primary School': '48', 'Good Shepherd School': '49', "St Cecilia's School": '50', 'Pinewood Primary School': '51', 'Preston West Primary School': '52', 'Kingswood College': '53', "Ruyton Girls' School": '54', 'Toorak College': '55', 'Trinity Grammar School Kew': '56', 'Good Shepherd Lutheran Primary School': '57', 'Westbourne Grammar School': '58', "St Margaret's School": '59', "St Kevin's College": '60', 'Kilvington Grammar School': '61', 'Glenferrie Primary School': '62', 'Livingstone Primary School': '63', 'Templeton Primary School': '64', 'Melbourne Girls Grammar': '65', 'Sacred Heart School': '66', 'Our Lady of Lourdes School': '67', 'Malvern Central School': '68', "Strathcona Baptist Girls' Grammar": '69', 'Brighton Grammar School': '70', 'Birralee Primary School': '71', 'Chilwell Primary School': '72', 'St Kilda Park Primary School': '73', 'Highvale Primary School': '74', 'Melbourne Montessori School': '75', 'Hampton Primary School': '76', 'Carnegie Primary School': '77', 'Hartwell Primary School': '78', 'Melbourne Grammar School': '79', 'Murrumbeena Primary School': '80', 'Alphington Primary School': '81', "St Dominic's School": '82', 'Toorak Primary School': '83', 'Sandridge School': '84', 'Brandon Park Primary School': '85', 'Banyule Primary School': '86', 'Armadale Primary School': '87', 'Park Orchards Primary School': '88', 'Wattle Park Primary School': '89', 'Our Lady Help of Christians School': '90', 'Kerrimuir Primary School': '91', 'Caulfield Grammar School': '92', 'Greythorn Primary School': '93', 'Casey Grammar School': '94', 'St Joan of Arc School': '95', 'Mount Waverley Heights Primary School': '96', 'Footscray City Primary School': '97', 'Burwood Heights Primary School': '98', 'Caulfield Primary School': '99', 'Ivanhoe Primary School': '100', "Ss Peter &amp; Paul's School": '101', 'Paynesville Primary School': '102', 'Fitzroy North Primary School': '103', 'Black Rock Primary School': '104', 'Yarraville West Primary School': '105', 'Ashburton Primary School': '106', 'Laburnum Primary School': '107', 'Heidelberg Primary School': '109', 'Heathdale Christian College': '110', 'Mount Waverley Primary School': '111', 'Ormond Primary School': '112', "St Joseph's School": '113', 'Heatherton Christian College': '114', 'Westgarth Primary School': '115', 'Kensington Primary School': '116', "St Catherine's School": '117', "Shelford Girls' Grammar": '118', 'Panton Hill Primary School': '119', 'Glen Iris Primary School': '120', 'Mount Macedon Primary School': '121', 'Malvern Primary School': '122', 'Alphington Grammar School': '123', 'Auburn South Primary School': '124', 'Hawthorn West Primary School': '125', 'Penleigh &amp; Essendon Grammar School': '126', 'Kew East Primary School': '127', 'Parkdale Primary School': '128', 'Blackburn Lake Primary School': '129', "St Kevin's School": '130', "St Roch's School": '131', 'Dunkeld Consolidated School': '132', 'Essendon Primary School': '133', 'Valkstone Primary School': '134', 'Mont Albert Primary School': '135', 'Yackandandah Primary School': '136', 'Orchard Grove Primary School': '137', 'Gardenvale Primary School': '138', 'Malvern Valley Primary School': '139', 'The King David School': '140', 'Surrey Hills Primary School': '141', 'Balwyn North Primary School': '142', 'Doreen Primary School': '143', 'Clifton Hill Primary School': '144', 'Strathmore North Primary School': '145', 'Donvale Christian College': '146', 'Aireys Inlet Primary School': '147', 'Bialik College': '148', 'Kororoit Creek Primary School': '149', 'Ivanhoe Grammar School': '150', 'Deutsche Schule Melbourne': '151', 'Mount Waverley North Primary School': '152', 'Rangeview Primary School': '153', 'Mount Pleasant Road Nunawading Primary School': '154', "St Michael's School": '155', 'Inverleigh Primary School': '156', 'Woorinen District Primary School': '157', 'Lloyd Street Primary School': '158', "St Mary's School": '159', 'Nunawading Christian College - Primary': '160', 'Fyans Park Primary School': '161', 'Donvale Primary School': '162', 'Syndal South Primary School': '163', 'Mountain Gate Primary School': '164', 'Templestowe Park Primary School': '165', 'Templestowe Heights Primary School': '166', 'Alamanda K-9 College': '167', 'Brentwood Park Primary School': '168', 'St Kilda Primary School': '169', 'Brighton Beach Primary School': '170', 'Southern Cross Grammar': '171', 'Cheltenham East Primary School': '172', 'Tintern Grammar': '173', 'St Gregory the Great School': '174', 'Wales Street Primary School': '175', 'Sacre Coeur': '176', 'Our Lady of Perpetual Succour School': '178', 'Good News Lutheran College': '179', 'Mitcham Primary School': '180', 'Yarra Valley Grammar': '181', 'North Melbourne Primary School': '182', 'Antonio Park Primary School': '183', 'Belmont Primary School': '184', 'Williamstown North Primary School': '185', 'Cardross Primary School': '186', 'Donburn Primary School': '187', 'Aspendale Primary School': '188', "St Vincent de Paul's School": '189', 'Geelong Grammar School': '190', 'Merri Creek Primary School': '191', 'Boroondara Park Primary School': '192', 'Fairfield Primary School': '193', "St Leonard's School": '194', 'Blackburn Primary School': '195', 'St Clement of Rome School': '196', 'Beth Rivkah Ladies College': '197', 'Overnewton Anglican Community College': '198', 'Carlton Gardens Primary School': '199', 'Puckapunyal Primary School': '200', 'Carrum Primary School': '201', 'Wesley College': '202', 'St Leo the Great School': '204', 'Bacchus Marsh Grammar': '205', 'Oakleigh Primary School': '206', 'Lowther Hall Anglican Grammar School': '207', 'Galilee Regional Catholic Primary School': '208', 'Milgate Primary School': '209', 'Derinya Primary School': '210', "St Paul's School": '211', 'The Kilmore International School': '212', 'Altona Primary School': '213', 'Doncaster Primary School': '214', 'Mount Eliza North Primary School': '215', "St Margaret's Primary School": '216', 'Oakleigh Grammar': '217', 'Carlton North Primary School': '218', 'Our Holy Redeemer School': '219', 'Oxley Christian College': '220', 'Hughesdale Primary School': '221', 'Wembley Primary School': '222', 'Tambo Upper Primary School': '223', 'Ocean Grove Primary School': '224', 'Moonee Ponds Primary School': '225', 'Caulfield Junior College': '226', 'Aberfeldie Primary School': '227', 'Newport Lakes Primary School': '228', 'Haddon Primary School': '229', "St Bernadette's School": '230', "St Paul's Anglican Grammar School": '231', 'Cornish College': '232', 'Coburg West Primary School': '233', 'Tulliallan Primary School': '234', 'Footscray North Primary School': '235', 'Heathmont East Primary School': '236', 'Moorabbin Primary School': '237', 'Viewbank Primary School': '238', 'Essex Heights Primary School': '239', 'Wonga Park Primary School': '240', 'Andersons Creek Primary School': '241', 'Middle Park Primary School': '242', 'Emerald Primary School': '243', 'Montmorency South Primary School': '244', 'Apollo Bay P-12 College': '245', 'Coleraine Primary School': '246', 'Ripponlea Primary School': '247', "St James' School": '248', 'Ascot Vale Primary School': '249', 'Preston Primary School': '250', 'Bellaire Primary School': '251', "St Robert's School": '252', 'Croydon Hills Primary School': '253', 'St Luke the Evangelist School': '254', 'Beechworth Montessori School': '255', "St Bridget's School": '256', 'Warrandyte Primary School': '257', 'Cheltenham Primary School': '258', 'Greenhills Primary School': '259', 'Richmond Primary School': '260', 'Essendon North Primary School': '261', 'Jells Park Primary School': '262', 'Mentone Grammar School': '263', 'Northside Christian College': '264', 'Strathmore Primary School': '265', 'Marysville Primary School': '266', 'Mount Blowhard Primary School': '267', 'Beaumaris Primary School': '268', "St Philip's School": '269', 'Coburg North Primary School': '270', 'Coatesville Primary School': '271', 'Peninsula Grammar': '272', 'Maranatha Christian School': '273', "St Christopher's School": '274', "St Michael's Grammar School": '275', "St Louis de Montfort's School": '276', 'Yesodei HaTorah College': '277', 'Solway Primary School': '278', 'St Thomas the Apostle School': '280', 'Lighthouse Christian College': '281', 'Mckinnon Primary School': '282', 'Watsonia Heights Primary School': '283', 'Xavier College': '284', 'Northcote Primary School': '285', 'Apollo Parkways Primary School': '286', 'Mount Scopus Memorial College': '288', 'Fish Creek and District Primary School': '289', 'Glen Huntly Primary School': '290', 'Edinburgh College': '291', 'Thomas Mitchell Primary School': '292', "St Anne's School": '293', 'Eltham North Primary School': '294', 'Sandringham East Primary School': '295', 'Woodleigh School': '296', 'Gordon Primary School': '297', 'Seabrook Primary School': '298', 'Belle Vue Primary School': '299', "St Mark's School": '300', 'Mulgrave Primary School': '301', 'Magpie Primary School': '303', 'Kingston Heath Primary School': '304', "St Aloysius' School": '305', 'Albert Park Primary School': '306', 'Mordialloc Beach Primary School': '308', 'Elwood Primary School': '309', 'Chatham Primary School': '310', 'Ivanhoe East Primary School': '311', 'Kinglake Primary School': '312', 'Templestowe Valley Primary School': '313', 'Whitehorse Primary School': '314', 'Brunswick South West Primary School': '316', 'Wantirna South Primary School': '317', 'Ringwood Heights Primary School': '318', 'Selby Primary School': '319', 'Bayswater South Primary School': '320', 'Westbreen Primary School': '321', 'Tinternvale Primary School': '322', 'Pleasant Street Primary School ( Ballarat)': '323', 'Wandin Yallock Primary School': '324', 'Port Melbourne Primary School': '325', 'Avondale Primary School': '326', 'Camberwell South Primary School': '327', 'Resurrection House': '329', 'Aspendale Gardens Primary School': '330', 'Bright P-12 College': '331', 'Macedon Primary School': '332', 'Castlemaine North Primary School': '333', "St Finbar's School": '336', "St Joseph's Primary School": '337', 'Red Hill Consolidated School': '338', 'Nazareth School': '339', 'Hillcrest Christian College': '340', 'Flemington Primary School': '341', 'Brighton Primary School': '342', "St Columba's School": '343', 'Auburn Primary School': '344', "St Peter's School": '345', "St Patrick's School": '346', 'Balnarring Primary School': '347', 'Briar Hill Primary School': '348', "St Raphael's School": '349', 'Our Lady of the Pines School': '350', 'Williamstown Primary School': '351', 'Parktone Primary School': '352', 'Sandringham Primary School': '353', 'Toolamba Primary School': '354', 'Caulfield South Primary School': '355', 'Kew Primary School': '356', 'Dandenong North Primary School': '357', "St Monica's School": '358', 'Christian College Highton': '359', 'Montmorency Primary School': '360', 'Park Ridge Primary School': '361', 'Woodend Primary School': '362', 'Kunyung Primary School': '363', 'Kardinia International College': '365', 'Cowes Primary School': '366', 'Rosanna Primary School': '367', 'Bonbeach Primary School': '368', 'Greensborough Primary School': '369', 'Warragul North Primary School': '370', 'Birregurra Primary School': '372', 'Our Lady of the Nativity School': '373', 'Marlborough Primary School': '374', "St Francis Xavier's School": '376', 'Wallington Primary School': '377', 'Elsternwick Primary School': '378', 'Girton Grammar School': '379', 'Tucker Road Bentleigh Primary School': '380', 'St James School': '382', 'Truganina P-9 College': '383', 'St Martin of Tours School': '384', 'Bellbrae Primary School': '385', "St Paul's Kealba Catholic School": '386', "St Therese's School": '387', 'Yeshivah College': '388', "King's College": '389', "St John's Lutheran School Geelong": '390', 'Glen Waverley South Primary School': '391', 'Beaconhills College': '392', "St Theresa's School": '393', "St Damian's School": '394', 'Beaumaris North Primary School': '395', 'Diamond Creek Primary School': '397', 'Quarry Hill Primary School': '398', 'Footscray West Primary School': '399', 'St Francis of Assisi School': '402', 'Flinders Christian Community College': '403', 'Hume Anglican Grammar': '404', 'Wandin North Primary School': '405', 'Port Fairy Consolidated School': '406', 'Bendigo Primary School': '408', 'Kingswood Primary School': '409', 'Roberts McCubbin Primary School': '410', 'Newport Gardens Primary School': '411', 'Tarrington Lutheran School': '412', 'Bairnsdale Primary School': '413', 'Pascoe Vale Primary School': '414', 'Barwon Heads Primary School': '415', 'Our Lady of the Way School': '417', 'Upper Plenty Primary School': '420', 'Our Lady of Good Counsel School': '421', 'Glenroy Central Primary School': '422', 'Stella Maris School': '423', 'Seaholme Primary School': '425', 'St Albans Meadows Primary School': '426', 'Victory Lutheran College': '427', 'Lakeside College': '428', 'Chewton Primary School': '430', 'St Thomas More School': '431', 'Aitken College': '432', 'Old Orchard Primary School': '433', 'Dorset Primary School': '434', 'Avenel Primary School': '435', 'Cobden Primary School': '436', 'Holy Rosary School': '437', 'Darul Ulum College of Victoria': '438', 'Woodford Primary School': '439', 'Watsonia North Primary School': '440', 'Lyndale Greens Primary School': '441', "St Bede's School": '442', 'Sirius College': '443', 'Boronia Heights Primary School': '444', 'Niddrie Primary School': '445', 'Mary Immaculate School': '446', 'Kallista Primary School': '447', 'Brunswick South Primary School': '448', 'St Paul Apostle South School': '449', 'Scoresby Primary School': '450', 'Kingsville Primary School': '451', 'Richmond West Primary School': '452', 'Mount Eliza Primary School': '453', 'Huntingdale Primary School': '454', 'Christian College Bellarine': '455', 'Brunswick North West Primary School': '456', 'Upwey Primary School': '458', "St John Vianney's School": '459', 'Wallarano Primary School': '460', 'Village School': '461', 'Knox Park Primary School': '462', 'Holy Name School': '463', 'Emmaus Catholic Primary School': '464', 'Weeden Heights Primary School': '465', 'Courtenay Gardens Primary School': '466', 'Highton Primary School': '468', 'Plenty Valley Christian College': '469', 'Shepparton Christian College Ltd': '470', 'Maiden Gully Primary School': '471', "St Bernadette's Catholic Primary School": '472', 'Eltham Primary School': '473', 'Woori Yallock Primary School': '474', 'Yarra Primary School': '475', 'Ruskin Park Primary School': '476', "St Bernard's School": '479', 'Parkmore Primary School': '480', 'Rolling Hills Primary School': '481', "St Margaret Mary's School": '483', "St Monica's Primary School": '484', "St Anthony's School": '485', 'Tylden Primary School': '486', 'Irymple South Primary School': '487', 'Oatlands Primary School': '488', "St John's School": '489', 'Eltham College': '490', 'Axedale Primary School': '491', 'Research Primary School': '492', 'Katunga Primary School': '493', 'Cambridge Primary School': '494', 'Keysborough Primary School': '495', 'Holy Spirit School': '496', 'Great Ryrie Primary School': '497', "St Justin's School": '498', 'Wodonga Middle Years College': '499', 'Olivet Christian College': '500'}

In [74]:
# use close school list to match the primary school name in ranking dict
import difflib
final_pri_rank=[]
for i in range(len(closest_primary_school)):
    # set n=1, return one match, butoff=0.9
    match=difflib.get_close_matches(closest_primary_school[i], pri_rank.keys(), n=1, cutoff=0.9)
    if match !=[]:
        final_pri_rank.append(pri_rank[match[0]])
    elif match==[]:
        final_pri_rank.append('not ranked')
    
final_pri_rank

['442',
 'not ranked',
 'not ranked',
 '452',
 '106',
 '79',
 '235',
 '142',
 '358',
 'not ranked',
 '120',
 '237',
 'not ranked',
 '448',
 '58',
 '385',
 '182',
 '138',
 '74',
 '211',
 'not ranked',
 '249',
 '62',
 '225',
 'not ranked',
 '346',
 '356',
 'not ranked',
 '285',
 '213',
 '411',
 '321',
 '235',
 '137',
 '211',
 '187',
 '82',
 'not ranked',
 '90',
 'not ranked',
 'not ranked',
 'not ranked',
 '69',
 '411',
 '107',
 'not ranked',
 '261',
 'not ranked',
 'not ranked',
 '380',
 '174',
 'not ranked',
 '265',
 '299',
 '182',
 '26',
 '384',
 '61',
 '69',
 '309',
 '346',
 'not ranked',
 'not ranked',
 'not ranked',
 '475',
 'not ranked',
 '89',
 '4',
 '290',
 '70',
 '174',
 '227',
 '219',
 '124',
 '393',
 'not ranked',
 'not ranked',
 '97',
 '44',
 '148',
 '399',
 'not ranked',
 'not ranked',
 'not ranked',
 '313',
 '278',
 '164',
 'not ranked',
 'not ranked',
 '66',
 '336',
 '66',
 '489',
 'not ranked',
 'not ranked',
 'not ranked',
 '238',
 '310',
 'not ranked',
 '182',
 'not ranked',
 'not ranked',
 '256',
 '83',
 '321',
 'not ranked',
 '83',
 '83',
 '260',
 'not ranked',
 '80',
 'not ranked',
 '355',
 '271',
 '193',
 '325',
 '299',
 '159',
 '196',
 '387',
 '199',
 'not ranked',
 '128',
 'not ranked',
 '256',
 '35',
 '214',
 '235',
 '308',
 '35',
 '105',
 '299',
 '452',
 '66',
 '483',
 '349',
 'not ranked',
 'not ranked',
 '286',
 'not ranked',
 'not ranked',
 '43',
 'not ranked',
 '175',
 '31',
 '316',
 '86',
 '218',
 '431',
 '185',
 'not ranked',
 '202',
 '326',
 '336',
 '115',
 '248',
 'not ranked',
 '41',
 'not ranked',
 'not ranked',
 '129',
 'not ranked',
 'not ranked',
 '122',
 '202',
 'not ranked',
 'not ranked',
 '106',
 '309',
 '369',
 '306',
 '169',
 '109',
 '182',
 '321',
 'not ranked',
 'not ranked',
 '105',
 '451',
 'not ranked',
 'not ranked',
 '117',
 '69',
 'not ranked',
 '489',
 '44',
 'not ranked',
 '33',
 '249',
 '130',
 'not ranked',
 '483',
 '463',
 '278',
 '261',
 '175',
 '446',
 'not ranked',
 '410',
 'not ranked',
 'not ranked',
 'not ranked',
 '130',
 'not ranked',
 '76',
 'not ranked',
 '176',
 'not ranked',
 'not ranked',
 '306',
 '485',
 'not ranked',
 '387',
 '298',
 '38',
 'not ranked',
 '274',
 '414',
 'not ranked',
 '105',
 'not ranked',
 '310',
 'not ranked',
 '306',
 '225',
 'not ranked',
 'not ranked',
 'not ranked',
 '192',
 'not ranked',
 '178',
 '216',
 '442',
 '351',
 'not ranked',
 '485',
 '122',
 'not ranked',
 '249',
 '222',
 '336',
 '325',
 '36',
 '260',
 '109',
 'not ranked',
 'not ranked',
 '125',
 '397',
 '79',
 '144',
 '464',
 '211',
 '293',
 '14',
 '414',
 'not ranked',
 'not ranked',
 '442',
 '159',
 '237',
 '176',
 'not ranked',
 '159',
 'not ranked',
 'not ranked',
 '33',
 '356',
 '290',
 'not ranked',
 '225',
 'not ranked',
 '378',
 '62',
 '271',
 'not ranked',
 'not ranked',
 '159',
 '141',
 '414',
 'not ranked',
 '192',
 'not ranked',
 'not ranked',
 '485',
 'not ranked',
 'not ranked',
 '248',
 '440',
 '77',
 '496',
 '131',
 '386',
 'not ranked',
 '216',
 'not ranked',
 '134',
 '144',
 '52',
 'not ranked',
 '445',
 'not ranked',
 '454',
 '111',
 '388',
 '216',
 'not ranked',
 'not ranked',
 '399',
 '438',
 'not ranked',
 '29',
 '235',
 '113',
 'not ranked',
 'not ranked',
 '116',
 'not ranked',
 '479',
 '182',
 '120',
 '325',
 '216',
 '311',
 '326',
 '158',
 '127',
 '216',
 '306',
 'not ranked',
 '216',
 'not ranked',
 'not ranked',
 '76',
 '325',
 '155',
 '270',
 '11',
 '199',
 '80',
 '376',
 'not ranked',
 'not ranked',
 '79',
 'not ranked',
 'not ranked',
 'not ranked',
 '313',
 '448',
 '325',
 '80',
 'not ranked',
 '260',
 'not ranked',
 '142',
 '237',
 '483',
 '445',
 '380',
 'not ranked',
 '61',
 'not ranked',
 '399',
 '411',
 '282',
 '221',
 'not ranked',
 'not ranked',
 '225',
 '309',
 'not ranked',
 'not ranked',
 '182',
 '479',
 '260',
 'not ranked',
 '230',
 '345',
 '431',
 'not ranked',
 'not ranked',
 '4',
 '448',
 '225',
 '425',
 '282',
 '218',
 '306',
 'not ranked',
 'not ranked',
 '385',
 'not ranked',
 '242',
 '326',
 '178',
 '208',
 '137',
 '155',
 '155',
 '265',
 '43',
 '260',
 '350',
 '399',
 '10',
 'not ranked',
 '158',
 '411',
 '211',
 '159',
 '242',
 '483',
 '174',
 '327',
 'not ranked',
 'not ranked',
 'not ranked',
 '271',
 '130',
 '50',
 '148',
 '128',
 '86',
 '321',
 '452',
 '271',
 '113',
 '310',
 '144',
 '142',
 '237',
 'not ranked',
 '66',
 '66',
 '260',
 'not ranked',
 'not ranked',
 '316',
 '50',
 'not ranked',
 '484',
 '351',
 '122',
 '221',
 '128',
 '99',
 'not ranked',
 '399',
 '304',
 'not ranked',
 '38',
 'not ranked',
 '288',
 '55',
 'not ranked',
 '284',
 '127',
 'not ranked',
 '235',
 '159',
 'not ranked',
 '53',
 'not ranked',
 '32',
 '159',
 '122',
 'not ranked',
 '326',
 '182',
 '202',
 'not ranked',
 '261',
 'not ranked',
 'not ranked',
 'not ranked',
 '191',
 'not ranked',
 '411',
 '113',
 '479',
 'not ranked',
 'not ranked',
 '159',
 '73',
 '124',
 'not ranked',
 'not ranked',
 '374',
 '326',
 '113',
 'not ranked',
 'not ranked',
 'not ranked',
 '100',
 '394',
 'not ranked',
 '376',
 'not ranked',
 '380',
 '80',
 'not ranked',
 '66',
 '159',
 '249',
 '222',
 '117',
 '431',
 '124',
 '373',
 '66',
 'not ranked',
 '90',
 '437',
 '322',
 'not ranked',
 'not ranked',
 '226',
 '236',
 '249',
 '29',
 '77',
 'not ranked',
 'not ranked',
 'not ranked',
 '62',
 '399',
 '235',
 '306',
 '81',
 '113',
 '113',
 '164',
 '448',
 '448',
 '327',
 'not ranked',
 'not ranked',
 'not ranked',
 'not ranked',
 '356',
 'not ranked',
 '95',
 '313',
 '123',
 '170',
 '116',
 '174',
 'not ranked',
 '373',
 '105',
 'not ranked',
 '376',
 'not ranked',
 '349',
 '256',
 '222',
 '66',
 '130',
 '496',
 '67',
 'not ranked',
 '285',
 'not ranked',
 '489',
 '75',
 '166',
 '261',
 'not ranked',
 '253',
 '206',
 '116',
 '71',
 '242',
 '16',
 'not ranked',
 '199',
 '475',
 '344',
 'not ranked',
 '277',
 '150',
 '479',
 'not ranked',
 '235',
 'not ranked',
 '353',
 'not ranked',
 '76',
 'not ranked',
 '475',
 '456',
 'not ranked',
 'not ranked',
 '325',
 '299',
 '140',
 '105',
 '66',
 '311',
 '113',
 '124',
 '175',
 '484',
 '170',
 '368',
 'not ranked',
 '65',
 '343',
 'not ranked',
 '93',
 'not ranked',
 'not ranked',
 '342',
 'not ranked',
 'not ranked',
 'not ranked',
 '176',
 '73',
 '479',
 'not ranked',
 '454',
 '374',
 '31',
 '242',
 '117',
 '50',
 '270',
 '385',
 'not ranked',
 'not ranked',
 '34',
 '150',
 '385',
 '385',
 'not ranked',
 'not ranked',
 '93',
 '197',
 '133',
 '261',
 'not ranked',
 '83',
 '217',
 '293',
 '225',
 '213',
 '325',
 '217',
 '196',
 '265',
 'not ranked',
 '51',
 '19',
 'not ranked',
 'not ranked',
 'not ranked',
 '185',
 '288',
 '8',
 '90',
 '31',
 '394',
 '446',
 'not ranked',
 '109',
 'not ranked',
 '285',
 '211',
 '155',
 '113',
 'not ranked',
 'not ranked',
 'not ranked',
 '66',
 '345',
 '282',
 '131',
 '66',
 'not ranked',
 '79',
 '274',
 '346',
 '125',
 '218',
 '159',
 '41',
 '321',
 '414',
 'not ranked',
 '159',
 'not ranked',
 '216',
 '452',
 '196',
 '175',
 '351',
 'not ranked',
 'not ranked',
 'not ranked',
 '367',
 '175',
 'not ranked',
 '169',
 'not ranked',
 '327',
 '356',
 '208',
 '353',
 '19',
 '175',
 '325',
 '140',
 '479',
 'not ranked',
 'not ranked',
 'not ranked',
 '308',
 '218',
 'not ranked',
 '336']

In [75]:
# there are 214 school cannot match with its name
final_pri_rank.count('not ranked')

214

In [76]:
gr['primary_school_ranking']= final_pri_rank
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,959,4476,324,St Bede's School,0.503420,442,not available,-1,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,119,452,22,Albanvale Primary School,0.526422,not ranked,not available,-1,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,1923,8979,620,St Brendan's School,0.232892,not ranked,not available,-1,-1,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,824,1890,159,Richmond West Primary School,0.877476,452,not available,-1,-1,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,2047,9171,742,Ashburton Primary School,0.878217,106,not available,-1,-1,POINT (145.0889 -37.8555)

# Find Closest Secondary School and Distance

Firstly, match all the school with lan and lon as tuple list.

This section is similar to primary school. Use `haversine`  to calculate the distance between two points, then use `find_clo_pri` function to return the school name and minimum distance.

The distance list store all the distance from one property to all schools, when we find the shortest distance, use index to find the corrisponding school name in the list.

In [77]:
# combine secondary school name and their lan and lon
all_sec=[]
for i in range(len(second)):
    tup=tuple([sec_xy[i],second[i]])
    all_sec.append(tup)
print(len(all_sec))

586

In [78]:
# there are 720 properties
#for each property, use function get the school name and min distace
close_sec=[]
for i in range(len(Hlan)):
    Hou_lan1=Hlan[i]
    Hou_lon1=Hlon[i]
    result=find_clo_pri(Hou_lan1,Hou_lon1,all_sec)
    close_sec.append(result)
print(close_sec)

[('Kew High School', 0.2065652131725788), ('Victoria University Secondary College', 1.600499913268575), ('Mount Alexander 7-12 College', 0.16085013970208964), ('Richmond High School', 0.5669401174734934), ('Ashwood High School', 1.617907438946183), ('Victorian College Of The Arts Secondary School', 0.5019886455326257), ('Footscray City College', 1.1418866044736702), ('Balwyn High School', 0.8027299813763065), ('Gilmore College For Girls', 0.7501929482706142), ('Frankston High School', 0.9718442458855205), ("Korowa Anglican Girls' School", 1.600880064999902), ('Our Lady of the Sacred Heart College', 1.934061636649668), ('Bundoora Secondary College', 0.5156091505750824), ('Brunswick Secondary College', 1.2467771613498033), ('Bayside P-12 College', 0.9132439948019949), ("St John's College Preston", 1.0707773018219835), ('University High School', 0.17995363960269312), ('Leibler Yavneh College', 1.2053663612492067), ('Highvale Secondary College', 0.4788026562493239), ('McKinnon Secondary College', 0.8048603353926068), ('East Preston Islamic College', 0.6649135903889765), ('Kensington Community High School', 1.6099723799400814), ('Swinburne Senior Secondary College', 0.0632604221492478), ('Lowther Hall Anglican Grammar School', 1.2918876858359314), ('Buckley Park College', 0.9308286465441786), ('Oakleigh Grammar', 1.2357227450103534), ('Trinity Grammar School Kew', 1.0073320328798285), ('Kensington Community High School', 0.5131052303951799), ('Northcote High School', 0.5896433932750516), ("Mount St Joseph Girls' College", 0.5948511469722112), ('Bayside P-12 College', 1.5718085235227115), ('Pascoe Vale Girls Secondary College', 0.9756236038878657), ('Footscray City College', 1.0259694069764065), ('Forest Hill College', 1.4035693258116708), ('McKinnon Secondary College', 1.01695959712616), ('Melton Secondary College', 0.6478720702688442), ('Siena College Ltd', 0.8622114935286652), ('Princes Hill Secondary College', 0.6947588887044381), ('Sydney Road Community School', 1.030974543357783), ('Braybrook College', 0.5438398336107372), ('Darul Ulum College of Victoria', 2.2689985175370775), ('Reservoir High School', 1.1849074622980091), ("Strathcona Baptist Girls' Grammar", 0.26023134768992057), ('Bayside P-12 College', 1.859157788032878), ('Box Hill High School', 0.9778839496181778), ('Brunswick Secondary College', 0.668554007495076), ('Buckley Park College', 0.647475722459023), ('William Ruthven Secondary College', 2.487674174575567), ('Altona College', 0.08193401967945856), ('Bentleigh Secondary College', 0.8584840891159481), ('Doncaster Secondary College', 0.9483978443345759), ('William Ruthven Secondary College', 2.2425261970431776), ('Strathmore Secondary College', 0.43688576918793737), ('Marcellin College', 0.9136817209398668), ('University High School', 0.7220667777683092), ('Bentleigh Secondary College', 1.2567161122658193), ('Viewbank College', 0.7433348854150571), ('Kilvington Grammar School', 0.12332048789156823), ("Strathcona Baptist Girls' Grammar", 0.6012529635092686), ('Elwood College', 0.5902546330171625), ('Oakleigh Grammar', 1.5635126678311655), ('Macleod College', 1.057268436008557), ('Caroline Chisholm Catholic College', 0.5803198094341621), ('Gilmore College For Girls', 1.326271399161334), ('Lynall Hall Community School', 0.35858416789376746), ("St Joseph's College", 1.0677875116016473), ('Siena College Ltd', 1.2042244961544735), ('Fitzroy High School', 1.0812488523473134), ('Kilvington Grammar School', 0.6204758021116081), ('Brighton Grammar School', 0.2306808676639576), ('Templestowe College', 2.0972693504767785), ("St Bernard's College", 0.4177439524933472), ('Box Hill Senior Secondary College', 1.197475011791504), ('SEDA College (Victoria)', 0.5595034303019579), ('Marian College', 0.8180506250660883), ('Sunbury Downs Secondary College', 1.2697423857744776), ('Pascoe Vale Girls Secondary College', 1.3501329689405324), ('Gilmore College For Girls', 0.7845651005496576), ('Melbourne High School', 0.7439199124264042), ('Bialik College', 0.6413334940857824), ('Footscray City College', 0.3538862156177044), ('Sophia Mundi Steiner School', 0.7516764000375591), ('William Ruthven Secondary College', 2.3882888566572573), ('Buckley Park College', 0.9618160304782023), ('Templestowe College', 1.0375761109224038), ("Korowa Anglican Girls' School", 2.150444139641632), ("St Joseph's College", 1.7351701700521447), ("Presbyterian Ladies' College", 1.3416256100575876), ('Cornish College', 2.5479339274658854), ('Sandringham College', 1.6899128286497174), ('Brighton Secondary College', 0.5497569925933914), ('Bayside P-12 College', 1.7439149961944886), ('Fitzroy High School', 0.8137275171716847), ('Presentation College Windsor', 0.22857611554940974), ('East Preston Islamic College', 0.3099104490039488), ('Presentation College Windsor', 0.3181007897379204), ('Macleod College', 1.1735892434012707), ("Fintona Girls' School", 0.7777693249980289), ('Hazel Glen College', 1.12003946310656), ('Ozford College', 0.032591724018247434), ('Glenroy Secondary College', 0.525514340551855), ('Braybrook College', 0.624850040363131), ('Koonung Secondary College', 1.495529940786999), ('Melbourne High School', 0.8331272776022411), ('Pascoe Vale Girls Secondary College', 0.47194655904768706), ('Kolbe Catholic College', 2.7434435976412455), ('Melbourne High School', 0.5696470754786129), ('Melbourne High School', 0.834205935192758), ('Melbourne Girls College', 0.7443247272219992), ('St Helena Secondary College', 0.6579176130430553), ('Oakleigh Grammar', 1.4974398095378258), ('William Ruthven Secondary College', 2.1248951188866703), ('Divrei Emineh', 0.8517458843970205), ("St James' College", 1.1890479555929623), ('Virtual School Victoria', 1.1980609389580794), ('Albert Park College', 1.0675541341650623), ('Glenroy Private', 0.6891829959193707), ('Lowther Hall Anglican Grammar School', 1.4293509736356014), ('Marcellin College', 0.5553186027681138), ("St Columba's College", 0.40451468197757917), ("Stott's Colleges", 0.4289579618592989), ('Lalor Secondary College', 0.4713736564420868), ('Parkdale Secondary College', 0.9296100301716481), ('Greensborough Secondary College', 0.5863607417111262), ('Koonung Secondary College', 1.6956115136030063), ('SEDA College (Victoria)', 0.5178996385420589), ('Doncaster Secondary College', 0.39336713704210013), ('Maribyrnong Secondary College', 1.4714004464832453), ('Mordialloc College', 1.2371699523651833), ('SEDA College (Victoria)', 0.7777051689973543), ('Gilmore College For Girls', 2.4783158893855806), ('Marcellin College', 1.1661250318831928), ('Holmes Secondary College', 1.0734110045059728), ('Melba Secondary College', 0.704091840303876), ('Sydney Road Community School', 1.5356637609369614), ("St John's College Preston", 1.4283402003247205), ('Catholic Regional College Institute of Training', 2.405705612516401), ('Sunbury College', 1.5677832435284418), ('Greensborough Secondary College', 2.490859059137589), ("St Bernard's College", 0.3749085599045446), ('Gilmore College For Girls', 1.0855808494307457), ('Siena College Ltd', 0.49842368422173083), ('Bayside P-12 College', 0.09478014580249318), ('Santa Maria College', 0.9852361531416068), ('Brighton Secondary College', 1.0117771207160762), ('Brunswick Secondary College', 0.24913712699856627), ('Viewbank College', 0.9008822186241632), ('John Monash Science School', 0.9199980397401414), ('Glenroy Secondary College', 1.218447354682782), ('Bayside P-12 College', 0.4797615845079766), ('Mercy College', 0.51507810208641), ('Prahran High School', 0.3132903548325253), ('Braybrook College', 0.8871913495653948), ('Brighton Secondary College', 0.7841511683246261), ('Santa Maria College', 1.3002671277953695), ('Star of the Sea College', 0.9324218617129901), ('Al Siraat College', 1.2333466301813822), ("Methodist Ladies' College", 0.2526847165749482), ('Pascoe Vale Girls Secondary College', 1.0621027741031), ('Kilbreda College', 0.7347544423714142), ('Nunawading Christian College-Secondary', 0.5768066664361147), ('Cheder Levi Yitzchok Inc', 0.22452154973442917), ('Marian College', 0.39616403920411936), ('De La Salle College', 0.9452723018815636), ('Prahran High School', 0.29823560024445717), ('Sunshine College', 0.7402219658823526), ('Kilbreda College', 1.634697508341201), ('Ashwood High School', 1.5280028131939938), ('Elwood College', 0.7315098974579889), ('Greensborough Secondary College', 0.79593294303958), ('Albert Park College', 0.5350789475890382), ('Yesodei HaTorah College', 0.6330703768655045), ('Our Lady of Mercy College', 0.8694340462575567), ('Simonds Catholic College', 0.6153480621404676), ('Pascoe Vale Girls Secondary College', 0.17420461943618554), ('St Aloysius College', 0.7637972791951345), ('Bayside P-12 College', 0.047446242936078506), ('Gilmore College For Girls', 2.4783158893855806), ('Gilmore College For Girls', 2.8427520024218045), ('Braybrook College', 0.5940929863868567), ('Salesian College', 1.966776915020902), ("St Catherine's School", 1.0685308770280717), ('Camberwell High School', 0.46212948473972987), ('Caroline Chisholm Catholic College', 0.5355613469940136), ('Gilmore College For Girls', 1.0737430758143718), ('Prahran High School', 0.6095671173136061), ('Mount Evelyn Christian School/Ranges TEC', 0.4624990772973606), ("St Leonard's College", 0.5103670623007246), ('Footscray City College', 1.2824723522126857), ('Divrei Emineh', 0.5079398069338971), ('Warrandyte High School', 2.3127908541504927), ('Sydney Road Community School', 0.928272379074972), ('Reservoir High School', 1.0846308268679423), ('Salesian College', 2.180143454032082), ('Buckley Park College', 0.540257335047978), ('Santa Maria College', 0.5007382888547621), ('Virtual School Victoria', 1.1033372396012209), ('Marian College', 3.325501838521397), ('Kingswood College', 0.8914478979189279), ('Frankston High School', 1.2428628881992687), ('Presentation College Windsor', 0.5327219928073402), ('Wyndham Central Secondary College', 0.2506860974843148), ('Templestowe College', 0.9884216498120781), ('Norwood Secondary College', 0.9788333843968218), ("St Leonard's College", 1.1242778236090216), ('Lalor Secondary College', 0.8075700006125661), ('Sacre Coeur', 0.7623434240973187), ('Bayside P-12 College', 2.909628108442741), ('William Ruthven Secondary College', 2.093180590953295), ('Albert Park College', 0.4449334532446182), ('Staughton College', 0.5130331940756321), ('Williamstown High School', 0.8127089866952506), ("St Columba's College", 0.8427461362398201), ('Carranballac P-9 College', 2.378585293103753), ("Ivanhoe Girls' Grammar School", 0.9489503418636236), ('Caroline Chisholm Catholic College', 0.8069087575029756), ('Penleigh & Essendon Grammar School', 1.647022206843661), ('Strathmore Secondary College', 0.4794424572750233), ('Mordialloc College', 0.9338397373008628), ('Gilmore College For Girls', 2.308529164416367), ('Scotch College', 0.9810719712705488), ("Fintona Girls' School", 0.7777693249980289), ('Springside West Secondary College', 5.669481976157855), ('Albert Park College', 0.6337733813551847), ('Maribyrnong Secondary College', 1.3355052204190296), ('Catholic Regional College', 0.67451727770693), ("St Mary's Coptic Orthodox College", 0.8342752786853777), ('Emmanuel College', 1.6223598836220006), ('Marcellin College', 1.8486284072541863), ('Buckley Park College', 0.9618160304782023), ('Kingswood College', 0.8643746450923153), ('Ave Maria College', 1.1207299364090795), ('Kew High School', 1.0458244881608931), ('Williamstown High School', 0.9021107771191754), ('Kensington Community High School', 0.6234515648668604), ('Glen Eira College', 0.7302232652920633), ('De La Salle College', 0.9147643169190565), ('Salesian College', 1.1895995329727964), ('Mount Alexander 7-12 College', 1.4461305095475945), ('Gilmore College For Girls', 2.832723779842796), ('Brighton Secondary College', 0.5769313943406416), ('Albert Park College', 0.8267176892177913), ('Highvale Secondary College', 1.3752556350770628), ('Melbourne High School', 0.8604282403208935), ('Our Lady of Mercy College', 0.6281309960795777), ('Princes Hill Secondary College', 0.7461885132921032), ('Wyndham Central Secondary College', 0.2506860974843148), ('Melbourne Girls College', 0.49423873831147996), ('Diamond Valley College', 1.4754305386324509), ('Victorian College Of The Arts Secondary School', 0.13292800624115578), ('Collingwood College', 0.8790067631119419), ('Catholic Regional College Institute of Training', 1.0974788826961481), ('Our Lady of the Sacred Heart College', 0.7911892816904968), ('Kew High School', 1.5343731511240368), ('Melbourne High School', 0.40608060923317646), ('Pascoe Vale Girls Secondary College', 0.9648025392755677), ('Princes Hill Secondary College', 0.7426281320338417), ('East Preston Islamic College', 0.11229530490105888), ('Balwyn High School', 0.5503849160627916), ('Lowther Hall Anglican Grammar School', 1.5419384839694996), ('Our Lady of the Sacred Heart College', 2.0215853588747477), ('Sacre Coeur', 0.45684017815120626), ('Gilmore College For Girls', 1.699687313314405), ('Lowther Hall Anglican Grammar School', 1.290169622998105), ('William Ruthven Secondary College', 0.4524561070939448), ('Maribyrnong Secondary College', 1.4065825581861755), ("St Leonard's College", 0.5385868812424776), ('Trinity Grammar School Kew', 1.6044165650215076), ('Glen Eira College', 0.5267309412910589), ('Thomas Carr College', 0.6767626880553699), ('Lowther Hall Anglican Grammar School', 1.2998447184194062), ('Reservoir High School', 1.3679404318695543), ('Leibler Yavneh College', 0.858791887518454), ('Swinburne Senior Secondary College', 1.0402142417666802), ('South Oakleigh Secondary College', 1.4419796021681892), ('Melbourne Girls College', 1.0292489623885428), ("Presbyterian Ladies' College", 0.5015182415419683), ("St Leonard's College", 1.1969852213389138), ('Kingswood College', 1.6159643422090713), ('Strathmore Secondary College', 1.1207201906822035), ("St Bernard's College", 2.127521970152145), ('Balwyn High School', 0.9827214951289582), ('Bayside P-12 College', 0.6561050569684214), ('William Ruthven Secondary College', 1.5868130017335875), ('Glen Eira College', 0.7220397778145354), ('Presentation College Windsor', 0.31513034692116954), ('East Preston Islamic College', 0.977634572963292), ('Star of the Sea College', 0.25254348203122456), ('Loyola College', 0.9259257016128206), ('Kilvington Grammar School', 1.2842113985660693), ('Thornbury High School', 0.7481970716956843), ('Sacre Coeur', 0.5797697826020864), ('St Albans Secondary College', 2.110172959112959), ('Al Siraat College', 1.1597808248327528), ('Ave Maria College', 0.8970647019374294), ('Kensington Community High School', 0.11493201869209012), ('McKinnon Secondary College', 0.586183587016767), ('Fitzroy High School', 1.035886229668284), ("St John's College Preston", 0.7672749639174768), ('Aitken College', 2.9702956368851736), ('Penleigh & Essendon Grammar School', 0.9251653836606715), ('Glenroy Secondary College', 2.2873687369130775), ("Sacred Heart Girls' College", 1.2327809791703017), ('Avila College', 1.3437388630158116), ('Yeshivah College', 0.3286226844398104), ('Maribyrnong Secondary College', 0.9927819950408856), ('Gilmore College For Girls', 1.8405417057638094), ('Scotch College', 0.9912475340083221), ('Gilmore College For Girls', 1.439494270541439), ('John Fawkner Secondary College', 0.4694620346948808), ('John Fawkner Secondary College', 0.9640230329169164), ('Camberwell Girls Grammar School', 0.526753607114038), ('Maribyrnong Secondary College', 0.6431005476649818), ('Northcote High School', 0.6600428002116443), ('Braybrook College', 1.010115143918755), ('Keysborough Secondary College', 1.0992091731935891), ('Kensington Community High School', 0.7576316566755703), ('Glenroy Secondary College', 1.545931425944419), ('Coburg High School', 1.2482731163965246), ('University High School', 0.7805370488310772), ("Korowa Anglican Girls' School", 1.2742934626841291), ('Albert Park College', 1.1042939334231925), ('Maribyrnong Secondary College', 1.3927755647303983), ('Marcellin College', 1.522487650587075), ('Braybrook College', 1.728660875385617), ("Korowa Anglican Girls' School", 1.627125912290245), ('Kew High School', 0.7303552626422084), ('Ave Maria College', 0.7326959998912274), ('Albert Park College', 0.43410511093136617), ('Billanook College', 0.8054355553223119), ('Maribyrnong Secondary College', 1.156964876941116), ('Noble Park Secondary College', 0.8812219392818506), ('Gilmore College For Girls', 1.4365401555143955), ("St Leonard's College", 1.0549253047966378), ('Albert Park College', 0.8723295621172992), ('Ashwood High School', 1.4759582803270885), ('Antonine College', 1.1166137912565395), ('Canterbury Girls Secondary College', 0.3765152868320784), ("Stott's Colleges", 0.2603458693668673), ('Oakleigh Grammar', 1.3984656199418684), ('Our Lady of Sion College', 0.6086499590853646), ('John Fawkner Secondary College', 1.0663163257364965), ('Cheder Levi Yitzchok Inc', 0.4942163249341936), ('MacRobertson Girls High School', 0.20485990250193492), ('Sunbury College', 0.907032240361736), ('Williamstown High School', 0.4767028312419677), ('Collingwood College', 0.3186272059531606), ('Templestowe College', 1.5399297256721203), ('Sydney Road Community School', 0.258054735075493), ('Albert Park College', 1.440825418279792), ('Oakleigh Grammar', 2.039440977396557), ('Japanese School of Melbourne', 0.541550321632849), ('Melbourne Girls Grammar', 0.9927045316968891), ('Melbourne Girls College', 0.9043033379699437), ('Balwyn High School', 0.8399121618591918), ('Sandringham College', 1.754153764094765), ('Sydney Road Community School', 1.2751430559884385), ('Penleigh & Essendon Grammar School', 0.7474513070732556), ('Our Lady of the Sacred Heart College', 1.2025128375153658), ('Epping Secondary College', 1.8039664072713046), ('Kilvington Grammar School', 0.6816837425275984), ('Mount Ridley P-12 College', 1.8083596579519163), ('Footscray City College', 1.822717819273904), ('Bayside P-12 College', 2.2158425509622144), ('McKinnon Secondary College', 0.7919471972962939), ('South Oakleigh Secondary College', 1.1367872498910303), ('Keilor Downs Secondary College', 1.2754639543679007), ('Islamic College of Melbourne', 1.5173292753668564), ('Mount Alexander 7-12 College', 1.3755863861489577), ('Elwood College', 0.203992544425365), ('Pascoe Vale Girls Secondary College', 1.4514464205346953), ('Salesian College', 0.47307489656765056), ('Simonds Catholic College', 0.8030353249845935), ('Coburg High School', 1.0209758699694207), ('Richmond High School', 0.7680582443782958), ('Caroline Chisholm Catholic College', 0.30262621902459724), ('Thornbury High School', 1.0793230452918041), ('Bentleigh Secondary College', 0.46803960002905454), ('Pascoe Vale Girls Secondary College', 0.9860019412891358), ('Reservoir High School', 1.6306305341979035), ('Maribyrnong Secondary College', 1.7012575279805087), ('Fitzroy High School', 0.8859221221421258), ('Brunswick Secondary College', 1.261718453815278), ('Lowther Hall Anglican Grammar School', 1.0023382356019395), ('Altona College', 1.8294340271135872), ('McKinnon Secondary College', 0.788238115050569), ('Emmanuel College', 0.702583322319567), ('Albert Park College', 0.4449334532446182), ('William Ruthven Secondary College', 1.2893539995076986), ('Melbourne Girls College', 0.9064368251152938), ("St John's College Preston", 1.3164856833459426), ('East Preston Islamic College', 0.8774517996106093), ('Albert Park College', 0.8908692052372322), ('Braybrook College', 2.0394814892549653), ('Kingswood College', 0.9714784182021976), ('Albert Park College', 1.0423707920360237), ('Forest Hill College', 1.822927458969224), ("Korowa Anglican Girls' School", 1.899118271611054), ('University High School', 0.5680879559538274), ('Strathmore Secondary College', 1.0904227324063633), ('Siena College Ltd', 0.5927401944258921), ('Melbourne High School', 0.0960182241399321), ('Donvale Christian College', 1.5790533012236736), ('Gilmore College For Girls', 0.7013839710

In [79]:
# make tuple list into two lists, school name and distace to add in df
closest_secondary_school=[]
distance_to_closest_secondary=[]
for each_tuple in close_sec:
    closest_secondary_school.append(each_tuple[0])
    distance_to_closest_secondary.append(each_tuple[1])

In [80]:
gr['closest_secondary_school']= closest_secondary_school
gr['distance_to_closest_secondary']= distance_to_closest_secondary
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,959,4476,324,St Bede's School,0.503420,442,Kew High School,0.206565,-1,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,119,452,22,Albanvale Primary School,0.526422,not ranked,Victoria University Secondary College,1.600500,-1,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,1923,8979,620,St Brendan's School,0.232892,not ranked,Mount Alexander 7-12 College,0.160850,-1,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,824,1890,159,Richmond West Primary School,0.877476,452,Richmond High School,0.566940,-1,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,2047,9171,742,Ashburton Primary School,0.878217,106,Ashwood High School,1.617907,-1,POINT (145.0889 -37.8555)

# Find Secondary School Ranking

Here we copied the content from the website, save as secondary.txt, then read from its content. Because there is okta login, we cannot use crawler to get content from website.

Read the txt then use regular expression to find the school name with ranking. Create a dictionary, if the key has already appear there, check the value of the ranking if old is smaller, keep the old ranking, because secondary is not in order.

Then we use `difflib.get_close_matches` to find secondary school name with high similarities, `cutoff=0.85`. There are few secondary school compare to primary school, therefore use 0.85 to find the name.

In [ ]:
inputFile1 = '''
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SchoolCatchment Sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3991833096608295"
     data-ad-slot="1042533966"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3991833096608295",
          enable_page_level_ads: true
     });
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
		<link rel="pingback" href="http://www.schoolcatchment.com.au/xmlrpc.php">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
<title>Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government) &#8211; Australian Public School Information</title>
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel='dns-prefetch' href='//connect.facebook.net' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
<link rel="alternate" type="application/rss+xml" title="Australian Public School Information &raquo; Feed" href="http://www.schoolcatchment.com.au/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="Australian Public School Information &raquo; Comments Feed" href="http://www.schoolcatchment.com.au/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title="Australian Public School Information &raquo; Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government) Comments Feed" href="http://www.schoolcatchment.com.au/?feed=rss2&#038;p=12301" />
<!-- This site uses the Google Analytics by MonsterInsights plugin v7.9.0 - Using Analytics tracking - https://www.monsterinsights.com/ -->

<script type="text/javascript" data-cfasync="false">

	var mi_version         = '7.9.0';

	var mi_track_user      = true;

	var mi_no_track_reason = '';

	

	var disableStr = 'ga-disable-UA-150427514-1';



	/* Function to detect opted out users */

	function __gaTrackerIsOptedOut() {

		return document.cookie.indexOf(disableStr + '=true') > -1;

	}



	/* Disable tracking if the opt-out cookie exists. */

	if ( __gaTrackerIsOptedOut() ) {

		window[disableStr] = true;

	}



	/* Opt-out function */

	function __gaTrackerOptout() {

	  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';

	  window[disableStr] = true;

	}

	

	if ( mi_track_user ) {

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

		})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');



		__gaTracker('create', 'UA-150427514-1', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('send','pageview');
	} else {

		console.log( "" );

		(function() {

			/* https://developers.google.com/analytics/devguides/collection/analyticsjs/ */

			var noopfn = function() {

				return null;

			};

			var noopnullfn = function() {

				return null;

			};

			var Tracker = function() {

				return null;

			};

			var p = Tracker.prototype;

			p.get = noopfn;

			p.set = noopfn;

			p.send = noopfn;

			var __gaTracker = function() {

				var len = arguments.length;

				if ( len === 0 ) {

					return;

				}

				var f = arguments[len-1];

				if ( typeof f !== 'object' || f === null || typeof f.hitCallback !== 'function' ) {

					console.log( 'Not running function __gaTracker(' + arguments[0] + " ....) because you are not being tracked. " + mi_no_track_reason );

					return;

				}

				try {

					f.hitCallback();

				} catch (ex) {



				}

			};

			__gaTracker.create = function() {

				return new Tracker();

			};

			__gaTracker.getByName = noopnullfn;

			__gaTracker.getAll = function() {

				return [];

			};

			__gaTracker.remove = noopfn;

			window['__gaTracker'] = __gaTracker;

					})();

		}

</script>

<!-- / Google Analytics by MonsterInsights -->

		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.schoolcatchment.com.au\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.4"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<!-- managing ads with Advanced Ads – https://wpadvancedads.com/ --><script>
					advanced_ads_ready=function(){var fns=[],listener,doc=typeof document==="object"&&document,hack=doc&&doc.documentElement.doScroll,domContentLoaded="DOMContentLoaded",loaded=doc&&(hack?/^loaded|^c/:/^loaded|^i|^c/).test(doc.readyState);if(!loaded&&doc){listener=function(){doc.removeEventListener(domContentLoaded,listener);window.removeEventListener("load",listener);loaded=1;while(listener=fns.shift())listener()};doc.addEventListener(domContentLoaded,listener);window.addEventListener("load",listener)}return function(fn){loaded?setTimeout(fn,0):fns.push(fn)}}();
			</script><style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='http://www.schoolcatchment.com.au/wp-includes/css/dist/block-library/style.min.css?ver=5.2.4' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-theme-css'  href='http://www.schoolcatchment.com.au/wp-includes/css/dist/block-library/theme.min.css?ver=5.2.4' type='text/css' media='all' />
<link rel='stylesheet' id='wp-email-css'  href='http://www.schoolcatchment.com.au/wp-content/plugins/wp-email/email-css.css?ver=2.67.6' type='text/css' media='all' />
<link rel='stylesheet' id='twentysixteen-fonts-css'  href='https://fonts.googleapis.com/css?family=Merriweather%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CMontserrat%3A400%2C700%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='genericons-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/genericons/genericons.css?ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='twentysixteen-style-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/style.css?ver=5.2.4' type='text/css' media='all' />
<link rel='stylesheet' id='twentysixteen-block-style-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/css/blocks.css?ver=20181230' type='text/css' media='all' />
<!--[if lt IE 10]>
<link rel='stylesheet' id='twentysixteen-ie-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/css/ie.css?ver=20160816' type='text/css' media='all' />
<![endif]-->
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentysixteen-ie8-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/css/ie8.css?ver=20160816' type='text/css' media='all' />
<![endif]-->
<!--[if lt IE 8]>
<link rel='stylesheet' id='twentysixteen-ie7-css'  href='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/css/ie7.css?ver=20160816' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='tablepress-responsive-tables-css'  href='http://www.schoolcatchment.com.au/wp-content/plugins/tablepress-responsive-tables/css/responsive.dataTables.min.css?ver=1.5' type='text/css' media='all' />
<link rel='stylesheet' id='tablepress-default-css'  href='http://www.schoolcatchment.com.au/wp-content/plugins/tablepress/css/default.min.css?ver=1.9.2' type='text/css' media='all' />
<!--[if !IE]><!-->
<link rel='stylesheet' id='tablepress-responsive-tables-flip-css'  href='http://www.schoolcatchment.com.au/wp-content/plugins/tablepress-responsive-tables/css/tablepress-responsive-flip.min.css?ver=1.5' type='text/css' media='all' />
<!--<![endif]-->
<script type='text/javascript'>
/* <![CDATA[ */
var monsterinsights_frontend = {"js_events_tracking":"true","download_extensions":"doc,exe,js,pdf,ppt,tgz,zip,xls","inbound_paths":"[{\"path\":\"\\\/go\\\/\",\"label\":\"affiliate\"},{\"path\":\"\\\/recommend\\\/\",\"label\":\"affiliate\"}]","home_url":"http:\/\/www.schoolcatchment.com.au","hash_tracking":"false"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.9.0'></script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/js/html5.js?ver=3.7.3'></script>
<![endif]-->
<link rel='https://api.w.org/' href='http://www.schoolcatchment.com.au/index.php?rest_route=/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.schoolcatchment.com.au/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.schoolcatchment.com.au/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Killara Public School In-Person' href='http://www.schoolcatchment.com.au/?p=12284' />
<link rel='next' title='Interesting Tidbit With Killara Public School' href='http://www.schoolcatchment.com.au/?p=12307' />
<meta name="generator" content="WordPress 5.2.4" />
<link rel="canonical" href="http://www.schoolcatchment.com.au/?p=12301" />
<link rel='shortlink' href='http://www.schoolcatchment.com.au/?p=12301' />
<link rel="alternate" type="application/json+oembed" href="http://www.schoolcatchment.com.au/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fwww.schoolcatchment.com.au%2F%3Fp%3D12301" />
<link rel="alternate" type="text/xml+oembed" href="http://www.schoolcatchment.com.au/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fwww.schoolcatchment.com.au%2F%3Fp%3D12301&#038;format=xml" />
<script type="text/javascript">
(function(url){
	if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){ return; }
	var addEvent = function(evt, handler) {
		if (window.addEventListener) {
			document.addEventListener(evt, handler, false);
		} else if (window.attachEvent) {
			document.attachEvent('on' + evt, handler);
		}
	};
	var removeEvent = function(evt, handler) {
		if (window.removeEventListener) {
			document.removeEventListener(evt, handler, false);
		} else if (window.detachEvent) {
			document.detachEvent('on' + evt, handler);
		}
	};
	var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
	var logHuman = function() {
		if (window.wfLogHumanRan) { return; }
		window.wfLogHumanRan = true;
		var wfscr = document.createElement('script');
		wfscr.type = 'text/javascript';
		wfscr.async = true;
		wfscr.src = url + '&r=' + Math.random();
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);
		for (var i = 0; i < evts.length; i++) {
			removeEvent(evts[i], logHuman);
		}
	};
	for (var i = 0; i < evts.length; i++) {
		addEvent(evts[i], logHuman);
	}
})('//www.schoolcatchment.com.au/?wordfence_lh=1&hid=C18914BC96D1D1F1596F1B9A44C7A506');
</script><!--[if !IE]><!-->
<!--<![endif]-->
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<meta property="og:site_name" content="Australian Public School Information">
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="http://www.schoolcatchment.com.au/?p=12301">
<meta property="og:title" content="Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government)">
<meta property="og:description" content="This is a special entry for Lyn. Top ranking Victoria Melbourne primary schools for the year of 2017. The result is a combination of both year 3 and 5 numbers from NAPLAN. One thing to note is some schools listed have very low enrolment number so the result is possibly not a reliable reflection of&hellip;">
<meta property="article:published_time" content="2019-09-27T13:42:37+00:00">
<meta property="article:modified_time" content="2019-09-27T13:42:39+00:00">
<meta property="article:author" content="http://www.schoolcatchment.com.au/?author=1">
<meta property="article:section" content="General Education">
<meta property="article:tag" content="Victoria Melbourne Education">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>

     (adsbygoogle = window.adsbygoogle || []).push({

          google_ad_client: "ca-pub-3991833096608295",

          enable_page_level_ads: true

     });

</script><meta name="twitter:partner" content="tfwp"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "ca-pub-3991833096608295",
enable_page_level_ads: true,
});
</script>

<meta name="twitter:card" content="summary"><meta name="twitter:title" content="Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government)"><meta name="twitter:description" content="This is a special entry for Lyn. Top ranking Victoria Melbourne primary schools for the year of 2017. The result is a combination of both year 3 and 5 numbers from NAPLAN. One thing to note is some schools listed have very low enrolment number so the result is possibly not a reliable reflection of&hellip;">
</head>

<body class="post-template-default single single-post postid-12301 single-format-standard wp-embed-responsive">

<div id="page" class="site">
	<div class="site-inner">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

		<header id="masthead" class="site-header" role="banner">
			<div class="site-header-main">
				<div class="site-branding">
					
											<p class="site-title"><a href="http://www.schoolcatchment.com.au/" rel="home">Australian Public School Information</a></p>
												<p class="site-description">All you need to know about Australian Public School, including catchment/zone/boundary information.</p>
									</div><!-- .site-branding -->

									<button id="menu-toggle" class="menu-toggle">Menu</button>

					<div id="site-header-menu" class="site-header-menu">
													<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
								<div class="menu-main-menu-container"><ul id="menu-main-menu" class="primary-menu"><li id="menu-item-11854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11854"><a href="http://www.schoolcatchment.com.au/?page_id=5985">Top Ranking Australian Schools</a></li>
<li id="menu-item-11855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11855"><a href="http://www.schoolcatchment.com.au/?page_id=5654">Queensland School Catchment Map</a></li>
<li id="menu-item-11856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11856"><a href="http://www.schoolcatchment.com.au/?page_id=5367">South Australia Public School Zone Map</a></li>
<li id="menu-item-11857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11857"><a href="http://www.schoolcatchment.com.au/?page_id=1148">Western Australia School Local Intake Area (Catchment) Map</a></li>
<li id="menu-item-11858" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11858"><a href="http://www.schoolcatchment.com.au/?page_id=1051">ACT Public School Priority Enrolment Area (Catchment) Map</a></li>
<li id="menu-item-11859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11859"><a href="http://www.schoolcatchment.com.au/?page_id=825">Victoria/Melbourne Public School Zone Map</a></li>
<li id="menu-item-11860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11860"><a href="http://www.schoolcatchment.com.au/?page_id=488">Sydney High School Catchment Map</a></li>
<li id="menu-item-11861" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11861"><a href="http://www.schoolcatchment.com.au/?page_id=36">NSW/Sydney Public School Catchment Map</a></li>
<li id="menu-item-11862" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11862"><a href="http://www.schoolcatchment.com.au/?page_id=2">About us</a></li>
</ul></div>							</nav><!-- .main-navigation -->
						
											</div><!-- .site-header-menu -->
							</div><!-- .site-header-main -->

					</header><!-- .site-header -->

		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-12301" class="post-12301 post type-post status-publish format-standard hentry category-general-education category-victoria-melbourne-education">
	<header class="entry-header">
		<h1 class="entry-title">Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government)</h1>	</header><!-- .entry-header -->

	
	
	<div class="entry-content">
		<p>This is a special entry for Lyn.</p>
<p>Top ranking Victoria Melbourne primary schools for the year of 2017. The result is a combination of both year 3 and 5 numbers from NAPLAN. One thing to note is some schools listed have very low enrolment number so the result is possibly not a reliable reflection of the entire school’s performance and historically can have big fluctuations as well. This is why I also included the enrolment number here, some school got big enrolment number as well due to they are classified as combined with both primary and secondary components counted together. One more thing to note is that percentage is based on the number one primary school regardless of school sector Australia wide.</p>

<table id="tablepress-233" class="tablepress tablepress-id-233 tablepress-responsive-phone">
<thead>
<tr class="row-1 odd">
	<th class="column-1">Ranking</th><th class="column-2">School Name</th><th class="column-3">State</th><th class="column-4">School Sector</th><th class="column-5">Location</th><th class="column-6">Total Enrolment</th><th class="column-7">Combined Score As Percentage of Number One School In Australia Regardless of School Sector</th>
</tr>
</thead>
<tbody class="row-hover">
<tr class="row-2 even">
	<td class="column-1">1</td><td class="column-2">Presbyterian Ladies' College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1412</td><td class="column-7">96.65%</td>
</tr>
<tr class="row-3 odd">
	<td class="column-1">2</td><td class="column-2">Haileybury College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">3754</td><td class="column-7">95.69%</td>
</tr>
<tr class="row-4 even">
	<td class="column-1">3</td><td class="column-2">Ballarat Clarendon College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">1326</td><td class="column-7">93.29%</td>
</tr>
<tr class="row-5 odd">
	<td class="column-1">4</td><td class="column-2">Fitzroy Community School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">113</td><td class="column-7">93.13%</td>
</tr>
<tr class="row-6 even">
	<td class="column-1">5</td><td class="column-2">Fintona Girls' School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">456</td><td class="column-7">92.96%</td>
</tr>
<tr class="row-7 odd">
	<td class="column-1">6</td><td class="column-2">Huntingtower School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">686</td><td class="column-7">92.88%</td>
</tr>
<tr class="row-8 even">
	<td class="column-1">7</td><td class="column-2">Beverley Hills Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">473</td><td class="column-7">92.74%</td>
</tr>
<tr class="row-9 odd">
	<td class="column-1">8</td><td class="column-2">Oakleigh South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1006</td><td class="column-7">91.90%</td>
</tr>
<tr class="row-10 even">
	<td class="column-1">9</td><td class="column-2">Scotch College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1883</td><td class="column-7">91.85%</td>
</tr>
<tr class="row-11 odd">
	<td class="column-1">10</td><td class="column-2">Serpell Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1159</td><td class="column-7">91.81%</td>
</tr>
<tr class="row-12 even">
	<td class="column-1">11</td><td class="column-2">Camberwell Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1301</td><td class="column-7">91.69%</td>
</tr>
<tr class="row-13 odd">
	<td class="column-1">12</td><td class="column-2">Mentone Girls' Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">739</td><td class="column-7">91.40%</td>
</tr>
<tr class="row-14 even">
	<td class="column-1">13</td><td class="column-2">St Andrews Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">581</td><td class="column-7">91.25%</td>
</tr>
<tr class="row-15 odd">
	<td class="column-1">14</td><td class="column-2">Christ Church Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">292</td><td class="column-7">90.89%</td>
</tr>
<tr class="row-16 even">
	<td class="column-1">15</td><td class="column-2">Waverley Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1867</td><td class="column-7">90.65%</td>
</tr>
<tr class="row-17 odd">
	<td class="column-1">16</td><td class="column-2">Balwyn Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">537</td><td class="column-7">90.56%</td>
</tr>
<tr class="row-18 even">
	<td class="column-1">17</td><td class="column-2">Erasmus School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">106</td><td class="column-7">90.32%</td>
</tr>
<tr class="row-19 odd">
	<td class="column-1">18</td><td class="column-2">Lighthouse Christian College Cranbourne</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">863</td><td class="column-7">90.28%</td>
</tr>
<tr class="row-20 even">
	<td class="column-1">19</td><td class="column-2">Glendal Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">873</td><td class="column-7">90.15%</td>
</tr>
<tr class="row-21 odd">
	<td class="column-1">20</td><td class="column-2">Thomastown East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">169</td><td class="column-7">90.13%</td>
</tr>
<tr class="row-22 even">
	<td class="column-1">21</td><td class="column-2">Doncaster Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">681</td><td class="column-7">90.03%</td>
</tr>
<tr class="row-23 odd">
	<td class="column-1">22</td><td class="column-2">Korowa Anglican Girls' School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">620</td><td class="column-7">90.03%</td>
</tr>
<tr class="row-24 even">
	<td class="column-1">23</td><td class="column-2">Carey Baptist Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2248</td><td class="column-7">90.01%</td>
</tr>
<tr class="row-25 odd">
	<td class="column-1">24</td><td class="column-2">Firbank Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1107</td><td class="column-7">89.99%</td>
</tr>
<tr class="row-26 even">
	<td class="column-1">25</td><td class="column-2">The Knox School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">567</td><td class="column-7">89.99%</td>
</tr>
<tr class="row-27 odd">
	<td class="column-1">26</td><td class="column-2">Southmoor Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">432</td><td class="column-7">89.84%</td>
</tr>
<tr class="row-28 even">
	<td class="column-1">27</td><td class="column-2">Loreto Mandeville Hall</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">1167</td><td class="column-7">89.77%</td>
</tr>
<tr class="row-29 odd">
	<td class="column-1">28</td><td class="column-2">Wheelers Hill Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">528</td><td class="column-7">89.74%</td>
</tr>
<tr class="row-30 even">
	<td class="column-1">29</td><td class="column-2">Camberwell Girls Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">712</td><td class="column-7">89.56%</td>
</tr>
<tr class="row-31 odd">
	<td class="column-1">30</td><td class="column-2">Lauriston Girls' School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">897</td><td class="column-7">89.50%</td>
</tr>
<tr class="row-32 even">
	<td class="column-1">31</td><td class="column-2">Bentleigh West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">605</td><td class="column-7">89.44%</td>
</tr>
<tr class="row-33 odd">
	<td class="column-1">32</td><td class="column-2">Holy Trinity Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">381</td><td class="column-7">89.44%</td>
</tr>
<tr class="row-34 even">
	<td class="column-1">33</td><td class="column-2">St Leonard's College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1426</td><td class="column-7">89.41%</td>
</tr>
<tr class="row-35 odd">
	<td class="column-1">34</td><td class="column-2">Sholem Aleichem College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">180</td><td class="column-7">89.31%</td>
</tr>
<tr class="row-36 even">
	<td class="column-1">35</td><td class="column-2">Camberwell Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">654</td><td class="column-7">89.12%</td>
</tr>
<tr class="row-37 odd">
	<td class="column-1">36</td><td class="column-2">Camelot Rise Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">444</td><td class="column-7">89.10%</td>
</tr>
<tr class="row-38 even">
	<td class="column-1">37</td><td class="column-2">Knox Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">292</td><td class="column-7">89.10%</td>
</tr>
<tr class="row-39 odd">
	<td class="column-1">38</td><td class="column-2">Ivanhoe Girls' Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">920</td><td class="column-7">88.93%</td>
</tr>
<tr class="row-40 even">
	<td class="column-1">39</td><td class="column-2">Burwood East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">274</td><td class="column-7">88.88%</td>
</tr>
<tr class="row-41 odd">
	<td class="column-1">40</td><td class="column-2">Genazzano FCJ College</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">1026</td><td class="column-7">88.88%</td>
</tr>
<tr class="row-42 even">
	<td class="column-1">41</td><td class="column-2">Methodist Ladies' College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2034</td><td class="column-7">88.81%</td>
</tr>
<tr class="row-43 odd">
	<td class="column-1">42</td><td class="column-2">Deepdene Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">452</td><td class="column-7">88.79%</td>
</tr>
<tr class="row-44 even">
	<td class="column-1">43</td><td class="column-2">Canterbury Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">605</td><td class="column-7">88.71%</td>
</tr>
<tr class="row-45 odd">
	<td class="column-1">44</td><td class="column-2">South Yarra Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">377</td><td class="column-7">88.52%</td>
</tr>
<tr class="row-46 even">
	<td class="column-1">45</td><td class="column-2">Mount View Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1083</td><td class="column-7">88.41%</td>
</tr>
<tr class="row-47 odd">
	<td class="column-1">46</td><td class="column-2">Glen Waverley Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">864</td><td class="column-7">88.41%</td>
</tr>
<tr class="row-48 even">
	<td class="column-1">47</td><td class="column-2">Vermont Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">694</td><td class="column-7">88.40%</td>
</tr>
<tr class="row-49 odd">
	<td class="column-1">48</td><td class="column-2">Eltham East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">647</td><td class="column-7">88.35%</td>
</tr>
<tr class="row-50 even">
	<td class="column-1">49</td><td class="column-2">Good Shepherd School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">488</td><td class="column-7">88.35%</td>
</tr>
<tr class="row-51 odd">
	<td class="column-1">50</td><td class="column-2">St Cecilia's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">253</td><td class="column-7">88.33%</td>
</tr>
<tr class="row-52 even">
	<td class="column-1">51</td><td class="column-2">Pinewood Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">656</td><td class="column-7">88.26%</td>
</tr>
<tr class="row-53 odd">
	<td class="column-1">52</td><td class="column-2">Preston West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">678</td><td class="column-7">88.23%</td>
</tr>
<tr class="row-54 even">
	<td class="column-1">53</td><td class="column-2">Kingswood College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">567</td><td class="column-7">88.23%</td>
</tr>
<tr class="row-55 odd">
	<td class="column-1">54</td><td class="column-2">Ruyton Girls' School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">839</td><td class="column-7">88.17%</td>
</tr>
<tr class="row-56 even">
	<td class="column-1">55</td><td class="column-2">Toorak College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">737</td><td class="column-7">88.17%</td>
</tr>
<tr class="row-57 odd">
	<td class="column-1">56</td><td class="column-2">Trinity Grammar School Kew</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1381</td><td class="column-7">88.05%</td>
</tr>
<tr class="row-58 even">
	<td class="column-1">57</td><td class="column-2">Good Shepherd Lutheran Primary School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">529</td><td class="column-7">88.04%</td>
</tr>
<tr class="row-59 odd">
	<td class="column-1">58</td><td class="column-2">Westbourne Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1479</td><td class="column-7">88.02%</td>
</tr>
<tr class="row-60 even">
	<td class="column-1">59</td><td class="column-2">St Margaret's School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">824</td><td class="column-7">87.97%</td>
</tr>
<tr class="row-61 odd">
	<td class="column-1">60</td><td class="column-2">St Kevin's College</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">2037</td><td class="column-7">87.93%</td>
</tr>
<tr class="row-62 even">
	<td class="column-1">61</td><td class="column-2">Kilvington Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">723</td><td class="column-7">87.90%</td>
</tr>
<tr class="row-63 odd">
	<td class="column-1">62</td><td class="column-2">Glenferrie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">357</td><td class="column-7">87.83%</td>
</tr>
<tr class="row-64 even">
	<td class="column-1">63</td><td class="column-2">Livingstone Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">774</td><td class="column-7">87.80%</td>
</tr>
<tr class="row-65 odd">
	<td class="column-1">64</td><td class="column-2">Templeton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">720</td><td class="column-7">87.80%</td>
</tr>
<tr class="row-66 even">
	<td class="column-1">65</td><td class="column-2">Melbourne Girls Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">946</td><td class="column-7">87.76%</td>
</tr>
<tr class="row-67 odd">
	<td class="column-1">66</td><td class="column-2">Sacred Heart School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">277</td><td class="column-7">87.61%</td>
</tr>
<tr class="row-68 even">
	<td class="column-1">67</td><td class="column-2">Our Lady of Lourdes School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">140</td><td class="column-7">87.59%</td>
</tr>
<tr class="row-69 odd">
	<td class="column-1">68</td><td class="column-2">Malvern Central School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">416</td><td class="column-7">87.57%</td>
</tr>
<tr class="row-70 even">
	<td class="column-1">69</td><td class="column-2">Strathcona Baptist Girls' Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">733</td><td class="column-7">87.52%</td>
</tr>
<tr class="row-71 odd">
	<td class="column-1">70</td><td class="column-2">Brighton Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1218</td><td class="column-7">87.52%</td>
</tr>
<tr class="row-72 even">
	<td class="column-1">71</td><td class="column-2">Birralee Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">426</td><td class="column-7">87.50%</td>
</tr>
<tr class="row-73 odd">
	<td class="column-1">72</td><td class="column-2">Chilwell Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">374</td><td class="column-7">87.49%</td>
</tr>
<tr class="row-74 even">
	<td class="column-1">73</td><td class="column-2">St Kilda Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">350</td><td class="column-7">87.45%</td>
</tr>
<tr class="row-75 odd">
	<td class="column-1">74</td><td class="column-2">Highvale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">294</td><td class="column-7">87.40%</td>
</tr>
<tr class="row-76 even">
	<td class="column-1">75</td><td class="column-2">Melbourne Montessori School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">266</td><td class="column-7">87.38%</td>
</tr>
<tr class="row-77 odd">
	<td class="column-1">76</td><td class="column-2">Hampton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">731</td><td class="column-7">87.33%</td>
</tr>
<tr class="row-78 even">
	<td class="column-1">77</td><td class="column-2">Carnegie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">590</td><td class="column-7">87.30%</td>
</tr>
<tr class="row-79 odd">
	<td class="column-1">78</td><td class="column-2">Hartwell Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">710</td><td class="column-7">87.30%</td>
</tr>
<tr class="row-80 even">
	<td class="column-1">79</td><td class="column-2">Melbourne Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1794</td><td class="column-7">87.30%</td>
</tr>
<tr class="row-81 odd">
	<td class="column-1">80</td><td class="column-2">Murrumbeena Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">559</td><td class="column-7">87.28%</td>
</tr>
<tr class="row-82 even">
	<td class="column-1">81</td><td class="column-2">Alphington Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">428</td><td class="column-7">87.23%</td>
</tr>
<tr class="row-83 odd">
	<td class="column-1">82</td><td class="column-2">St Dominic's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">286</td><td class="column-7">87.20%</td>
</tr>
<tr class="row-84 even">
	<td class="column-1">83</td><td class="column-2">Toorak Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">503</td><td class="column-7">87.18%</td>
</tr>
<tr class="row-85 odd">
	<td class="column-1">84</td><td class="column-2">Sandridge School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">112</td><td class="column-7">87.18%</td>
</tr>
<tr class="row-86 even">
	<td class="column-1">85</td><td class="column-2">Brandon Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">390</td><td class="column-7">87.14%</td>
</tr>
<tr class="row-87 odd">
	<td class="column-1">86</td><td class="column-2">Banyule Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">654</td><td class="column-7">87.13%</td>
</tr>
<tr class="row-88 even">
	<td class="column-1">87</td><td class="column-2">Armadale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">370</td><td class="column-7">87.08%</td>
</tr>
<tr class="row-89 odd">
	<td class="column-1">88</td><td class="column-2">Park Orchards Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">323</td><td class="column-7">87.04%</td>
</tr>
<tr class="row-90 even">
	<td class="column-1">89</td><td class="column-2">Wattle Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">391</td><td class="column-7">87.02%</td>
</tr>
<tr class="row-91 odd">
	<td class="column-1">90</td><td class="column-2">Our Lady Help of Christians School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">200</td><td class="column-7">86.99%</td>
</tr>
<tr class="row-92 even">
	<td class="column-1">91</td><td class="column-2">Kerrimuir Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">344</td><td class="column-7">86.96%</td>
</tr>
<tr class="row-93 odd">
	<td class="column-1">92</td><td class="column-2">Caulfield Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">3082</td><td class="column-7">86.96%</td>
</tr>
<tr class="row-94 even">
	<td class="column-1">93</td><td class="column-2">Greythorn Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">565</td><td class="column-7">86.94%</td>
</tr>
<tr class="row-95 odd">
	<td class="column-1">94</td><td class="column-2">Casey Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">807</td><td class="column-7">86.89%</td>
</tr>
<tr class="row-96 even">
	<td class="column-1">95</td><td class="column-2">St Joan of Arc School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">375</td><td class="column-7">86.80%</td>
</tr>
<tr class="row-97 odd">
	<td class="column-1">96</td><td class="column-2">Mount Waverley Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">183</td><td class="column-7">86.63%</td>
</tr>
<tr class="row-98 even">
	<td class="column-1">97</td><td class="column-2">Footscray City Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">365</td><td class="column-7">86.61%</td>
</tr>
<tr class="row-99 odd">
	<td class="column-1">98</td><td class="column-2">Burwood Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">341</td><td class="column-7">86.61%</td>
</tr>
<tr class="row-100 even">
	<td class="column-1">99</td><td class="column-2">Caulfield Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">271</td><td class="column-7">86.61%</td>
</tr>
<tr class="row-101 odd">
	<td class="column-1">100</td><td class="column-2">Ivanhoe Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">615</td><td class="column-7">86.58%</td>
</tr>
<tr class="row-102 even">
	<td class="column-1">101</td><td class="column-2">Ss Peter &amp; Paul's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">162</td><td class="column-7">86.58%</td>
</tr>
<tr class="row-103 odd">
	<td class="column-1">102</td><td class="column-2">Paynesville Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">153</td><td class="column-7">86.56%</td>
</tr>
<tr class="row-104 even">
	<td class="column-1">103</td><td class="column-2">Fitzroy North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">532</td><td class="column-7">86.54%</td>
</tr>
<tr class="row-105 odd">
	<td class="column-1">104</td><td class="column-2">Black Rock Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">586</td><td class="column-7">86.51%</td>
</tr>
<tr class="row-106 even">
	<td class="column-1">105</td><td class="column-2">Yarraville West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">821</td><td class="column-7">86.49%</td>
</tr>
<tr class="row-107 odd">
	<td class="column-1">106</td><td class="column-2">Ashburton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">551</td><td class="column-7">86.49%</td>
</tr>
<tr class="row-108 even">
	<td class="column-1">107</td><td class="column-2">Laburnum Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">771</td><td class="column-7">86.47%</td>
</tr>
<tr class="row-109 odd">
	<td class="column-1">108</td><td class="column-2">Our Lady Help of Christians School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">316</td><td class="column-7">86.47%</td>
</tr>
<tr class="row-110 even">
	<td class="column-1">109</td><td class="column-2">Heidelberg Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">517</td><td class="column-7">86.46%</td>
</tr>
<tr class="row-111 odd">
	<td class="column-1">110</td><td class="column-2">Heathdale Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1237</td><td class="column-7">86.46%</td>
</tr>
<tr class="row-112 even">
	<td class="column-1">111</td><td class="column-2">Mount Waverley Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">801</td><td class="column-7">86.44%</td>
</tr>
<tr class="row-113 odd">
	<td class="column-1">112</td><td class="column-2">Ormond Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">414</td><td class="column-7">86.37%</td>
</tr>
<tr class="row-114 even">
	<td class="column-1">113</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">341</td><td class="column-7">86.37%</td>
</tr>
<tr class="row-115 odd">
	<td class="column-1">114</td><td class="column-2">Heatherton Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">370</td><td class="column-7">86.37%</td>
</tr>
<tr class="row-116 even">
	<td class="column-1">115</td><td class="column-2">Westgarth Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">647</td><td class="column-7">86.35%</td>
</tr>
<tr class="row-117 odd">
	<td class="column-1">116</td><td class="column-2">Kensington Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">480</td><td class="column-7">86.34%</td>
</tr>
<tr class="row-118 even">
	<td class="column-1">117</td><td class="column-2">St Catherine's School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">689</td><td class="column-7">86.34%</td>
</tr>
<tr class="row-119 odd">
	<td class="column-1">118</td><td class="column-2">Shelford Girls' Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">504</td><td class="column-7">86.34%</td>
</tr>
<tr class="row-120 even">
	<td class="column-1">119</td><td class="column-2">Panton Hill Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">118</td><td class="column-7">86.25%</td>
</tr>
<tr class="row-121 odd">
	<td class="column-1">120</td><td class="column-2">Glen Iris Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">423</td><td class="column-7">86.22%</td>
</tr>
<tr class="row-122 even">
	<td class="column-1">121</td><td class="column-2">Mount Macedon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">128</td><td class="column-7">86.11%</td>
</tr>
<tr class="row-123 odd">
	<td class="column-1">122</td><td class="column-2">Malvern Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">697</td><td class="column-7">86.11%</td>
</tr>
<tr class="row-124 even">
	<td class="column-1">123</td><td class="column-2">Alphington Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">525</td><td class="column-7">86.08%</td>
</tr>
<tr class="row-125 odd">
	<td class="column-1">124</td><td class="column-2">Auburn South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">674</td><td class="column-7">86.06%</td>
</tr>
<tr class="row-126 even">
	<td class="column-1">125</td><td class="column-2">Hawthorn West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">486</td><td class="column-7">85.96%</td>
</tr>
<tr class="row-127 odd">
	<td class="column-1">126</td><td class="column-2">Penleigh &amp; Essendon Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2446</td><td class="column-7">85.94%</td>
</tr>
<tr class="row-128 even">
	<td class="column-1">127</td><td class="column-2">Kew East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">470</td><td class="column-7">85.93%</td>
</tr>
<tr class="row-129 odd">
	<td class="column-1">128</td><td class="column-2">Parkdale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">665</td><td class="column-7">85.93%</td>
</tr>
<tr class="row-130 even">
	<td class="column-1">129</td><td class="column-2">Blackburn Lake Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">469</td><td class="column-7">85.91%</td>
</tr>
<tr class="row-131 odd">
	<td class="column-1">130</td><td class="column-2">St Kevin's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">127</td><td class="column-7">85.89%</td>
</tr>
<tr class="row-132 even">
	<td class="column-1">131</td><td class="column-2">St Roch's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">169</td><td class="column-7">85.89%</td>
</tr>
<tr class="row-133 odd">
	<td class="column-1">132</td><td class="column-2">Dunkeld Consolidated School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">104</td><td class="column-7">85.84%</td>
</tr>
<tr class="row-134 even">
	<td class="column-1">133</td><td class="column-2">Essendon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">509</td><td class="column-7">85.81%</td>
</tr>
<tr class="row-135 odd">
	<td class="column-1">134</td><td class="column-2">Valkstone Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">676</td><td class="column-7">85.81%</td>
</tr>
<tr class="row-136 even">
	<td class="column-1">135</td><td class="column-2">Mont Albert Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">718</td><td class="column-7">85.77%</td>
</tr>
<tr class="row-137 odd">
	<td class="column-1">136</td><td class="column-2">Yackandandah Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">143</td><td class="column-7">85.75%</td>
</tr>
<tr class="row-138 even">
	<td class="column-1">137</td><td class="column-2">Orchard Grove Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">662</td><td class="column-7">85.75%</td>
</tr>
<tr class="row-139 odd">
	<td class="column-1">138</td><td class="column-2">Gardenvale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">663</td><td class="column-7">85.72%</td>
</tr>
<tr class="row-140 even">
	<td class="column-1">139</td><td class="column-2">Malvern Valley Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">253</td><td class="column-7">85.72%</td>
</tr>
<tr class="row-141 odd">
	<td class="column-1">140</td><td class="column-2">The King David School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">595</td><td class="column-7">85.68%</td>
</tr>
<tr class="row-142 even">
	<td class="column-1">141</td><td class="column-2">Surrey Hills Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">404</td><td class="column-7">85.65%</td>
</tr>
<tr class="row-143 odd">
	<td class="column-1">142</td><td class="column-2">Balwyn North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">479</td><td class="column-7">85.65%</td>
</tr>
<tr class="row-144 even">
	<td class="column-1">143</td><td class="column-2">Doreen Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">151</td><td class="column-7">85.58%</td>
</tr>
<tr class="row-145 odd">
	<td class="column-1">144</td><td class="column-2">Clifton Hill Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">746</td><td class="column-7">85.58%</td>
</tr>
<tr class="row-146 even">
	<td class="column-1">145</td><td class="column-2">Strathmore North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">425</td><td class="column-7">85.55%</td>
</tr>
<tr class="row-147 odd">
	<td class="column-1">146</td><td class="column-2">Donvale Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1255</td><td class="column-7">85.51%</td>
</tr>
<tr class="row-148 even">
	<td class="column-1">147</td><td class="column-2">Aireys Inlet Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">109</td><td class="column-7">85.51%</td>
</tr>
<tr class="row-149 odd">
	<td class="column-1">148</td><td class="column-2">Bialik College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">874</td><td class="column-7">85.48%</td>
</tr>
<tr class="row-150 even">
	<td class="column-1">149</td><td class="column-2">Kororoit Creek Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1178</td><td class="column-7">85.48%</td>
</tr>
<tr class="row-151 odd">
	<td class="column-1">150</td><td class="column-2">Ivanhoe Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1913</td><td class="column-7">85.39%</td>
</tr>
<tr class="row-152 even">
	<td class="column-1">151</td><td class="column-2">Deutsche Schule Melbourne</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">103</td><td class="column-7">85.38%</td>
</tr>
<tr class="row-153 odd">
	<td class="column-1">152</td><td class="column-2">Mount Waverley North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">233</td><td class="column-7">85.38%</td>
</tr>
<tr class="row-154 even">
	<td class="column-1">153</td><td class="column-2">Rangeview Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">582</td><td class="column-7">85.36%</td>
</tr>
<tr class="row-155 odd">
	<td class="column-1">154</td><td class="column-2">Mount Pleasant Road Nunawading Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">328</td><td class="column-7">85.34%</td>
</tr>
<tr class="row-156 even">
	<td class="column-1">155</td><td class="column-2">St Michael's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">305</td><td class="column-7">85.34%</td>
</tr>
<tr class="row-157 odd">
	<td class="column-1">156</td><td class="column-2">Inverleigh Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">202</td><td class="column-7">85.32%</td>
</tr>
<tr class="row-158 even">
	<td class="column-1">157</td><td class="column-2">Woorinen District Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">86</td><td class="column-7">85.32%</td>
</tr>
<tr class="row-159 odd">
	<td class="column-1">158</td><td class="column-2">Lloyd Street Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">533</td><td class="column-7">85.31%</td>
</tr>
<tr class="row-160 even">
	<td class="column-1">159</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">344</td><td class="column-7">85.31%</td>
</tr>
<tr class="row-161 odd">
	<td class="column-1">160</td><td class="column-2">Nunawading Christian College - Primary</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">186</td><td class="column-7">85.29%</td>
</tr>
<tr class="row-162 even">
	<td class="column-1">161</td><td class="column-2">Fyans Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">311</td><td class="column-7">85.27%</td>
</tr>
<tr class="row-163 odd">
	<td class="column-1">162</td><td class="column-2">Donvale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">256</td><td class="column-7">85.26%</td>
</tr>
<tr class="row-164 even">
	<td class="column-1">163</td><td class="column-2">Syndal South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">423</td><td class="column-7">85.24%</td>
</tr>
<tr class="row-165 odd">
	<td class="column-1">164</td><td class="column-2">Mountain Gate Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">359</td><td class="column-7">85.22%</td>
</tr>
<tr class="row-166 even">
	<td class="column-1">165</td><td class="column-2">Templestowe Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">455</td><td class="column-7">85.20%</td>
</tr>
<tr class="row-167 odd">
	<td class="column-1">166</td><td class="column-2">Templestowe Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">345</td><td class="column-7">85.19%</td>
</tr>
<tr class="row-168 even">
	<td class="column-1">167</td><td class="column-2">Alamanda K-9 College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">2065</td><td class="column-7">85.19%</td>
</tr>
<tr class="row-169 odd">
	<td class="column-1">168</td><td class="column-2">Brentwood Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">710</td><td class="column-7">85.17%</td>
</tr>
<tr class="row-170 even">
	<td class="column-1">169</td><td class="column-2">St Kilda Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">599</td><td class="column-7">85.15%</td>
</tr>
<tr class="row-171 odd">
	<td class="column-1">170</td><td class="column-2">Brighton Beach Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">379</td><td class="column-7">85.15%</td>
</tr>
<tr class="row-172 even">
	<td class="column-1">171</td><td class="column-2">Southern Cross Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">532</td><td class="column-7">85.15%</td>
</tr>
<tr class="row-173 odd">
	<td class="column-1">172</td><td class="column-2">Cheltenham East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">438</td><td class="column-7">85.14%</td>
</tr>
<tr class="row-174 even">
	<td class="column-1">173</td><td class="column-2">Tintern Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">804</td><td class="column-7">85.14%</td>
</tr>
<tr class="row-175 odd">
	<td class="column-1">174</td><td class="column-2">St Gregory the Great School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">426</td><td class="column-7">85.12%</td>
</tr>
<tr class="row-176 even">
	<td class="column-1">175</td><td class="column-2">Wales Street Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">603</td><td class="column-7">85.08%</td>
</tr>
<tr class="row-177 odd">
	<td class="column-1">176</td><td class="column-2">Sacre Coeur</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">720</td><td class="column-7">85.08%</td>
</tr>
<tr class="row-178 even">
	<td class="column-1">177</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">323</td><td class="column-7">85.08%</td>
</tr>
<tr class="row-179 odd">
	<td class="column-1">178</td><td class="column-2">Our Lady of Perpetual Succour School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">186</td><td class="column-7">85.08%</td>
</tr>
<tr class="row-180 even">
	<td class="column-1">179</td><td class="column-2">Good News Lutheran College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">879</td><td class="column-7">85.08%</td>
</tr>
<tr class="row-181 odd">
	<td class="column-1">180</td><td class="column-2">Mitcham Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">410</td><td class="column-7">85.07%</td>
</tr>
<tr class="row-182 even">
	<td class="column-1">181</td><td class="column-2">Yarra Valley Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1214</td><td class="column-7">85.02%</td>
</tr>
<tr class="row-183 odd">
	<td class="column-1">182</td><td class="column-2">North Melbourne Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">743</td><td class="column-7">85.00%</td>
</tr>
<tr class="row-184 even">
	<td class="column-1">183</td><td class="column-2">Antonio Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">503</td><td class="column-7">85.00%</td>
</tr>
<tr class="row-185 odd">
	<td class="column-1">184</td><td class="column-2">Belmont Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">302</td><td class="column-7">84.98%</td>
</tr>
<tr class="row-186 even">
	<td class="column-1">185</td><td class="column-2">Williamstown North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">766</td><td class="column-7">84.98%</td>
</tr>
<tr class="row-187 odd">
	<td class="column-1">186</td><td class="column-2">Cardross Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">104</td><td class="column-7">84.98%</td>
</tr>
<tr class="row-188 even">
	<td class="column-1">187</td><td class="column-2">Donburn Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">455</td><td class="column-7">84.98%</td>
</tr>
<tr class="row-189 odd">
	<td class="column-1">188</td><td class="column-2">Aspendale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">532</td><td class="column-7">84.93%</td>
</tr>
<tr class="row-190 even">
	<td class="column-1">189</td><td class="column-2">St Vincent de Paul's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">432</td><td class="column-7">84.91%</td>
</tr>
<tr class="row-191 odd">
	<td class="column-1">190</td><td class="column-2">Geelong Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1448</td><td class="column-7">84.90%</td>
</tr>
<tr class="row-192 even">
	<td class="column-1">191</td><td class="column-2">Merri Creek Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">440</td><td class="column-7">84.88%</td>
</tr>
<tr class="row-193 odd">
	<td class="column-1">192</td><td class="column-2">Boroondara Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">632</td><td class="column-7">84.86%</td>
</tr>
<tr class="row-194 even">
	<td class="column-1">193</td><td class="column-2">Fairfield Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">487</td><td class="column-7">84.83%</td>
</tr>
<tr class="row-195 odd">
	<td class="column-1">194</td><td class="column-2">St Leonard's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">277</td><td class="column-7">84.78%</td>
</tr>
<tr class="row-196 even">
	<td class="column-1">195</td><td class="column-2">Blackburn Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">518</td><td class="column-7">84.76%</td>
</tr>
<tr class="row-197 odd">
	<td class="column-1">196</td><td class="column-2">St Clement of Rome School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">354</td><td class="column-7">84.72%</td>
</tr>
<tr class="row-198 even">
	<td class="column-1">197</td><td class="column-2">Beth Rivkah Ladies College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">590</td><td class="column-7">84.72%</td>
</tr>
<tr class="row-199 odd">
	<td class="column-1">198</td><td class="column-2">Overnewton Anglican Community College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2109</td><td class="column-7">84.72%</td>
</tr>
<tr class="row-200 even">
	<td class="column-1">199</td><td class="column-2">Carlton Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">359</td><td class="column-7">84.71%</td>
</tr>
<tr class="row-201 odd">
	<td class="column-1">200</td><td class="column-2">Puckapunyal Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">207</td><td class="column-7">84.69%</td>
</tr>
<tr class="row-202 even">
	<td class="column-1">201</td><td class="column-2">Carrum Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">314</td><td class="column-7">84.69%</td>
</tr>
<tr class="row-203 odd">
	<td class="column-1">202</td><td class="column-2">Wesley College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">3031</td><td class="column-7">84.69%</td>
</tr>
<tr class="row-204 even">
	<td class="column-1">203</td><td class="column-2">Sacred Heart School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">267</td><td class="column-7">84.67%</td>
</tr>
<tr class="row-205 odd">
	<td class="column-1">204</td><td class="column-2">St Leo the Great School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">242</td><td class="column-7">84.67%</td>
</tr>
<tr class="row-206 even">
	<td class="column-1">205</td><td class="column-2">Bacchus Marsh Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">1986</td><td class="column-7">84.67%</td>
</tr>
<tr class="row-207 odd">
	<td class="column-1">206</td><td class="column-2">Oakleigh Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">436</td><td class="column-7">84.65%</td>
</tr>
<tr class="row-208 even">
	<td class="column-1">207</td><td class="column-2">Lowther Hall Anglican Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">785</td><td class="column-7">84.65%</td>
</tr>
<tr class="row-209 odd">
	<td class="column-1">208</td><td class="column-2">Galilee Regional Catholic Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">313</td><td class="column-7">84.60%</td>
</tr>
<tr class="row-210 even">
	<td class="column-1">209</td><td class="column-2">Milgate Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">646</td><td class="column-7">84.59%</td>
</tr>
<tr class="row-211 odd">
	<td class="column-1">210</td><td class="column-2">Derinya Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">800</td><td class="column-7">84.57%</td>
</tr>
<tr class="row-212 even">
	<td class="column-1">211</td><td class="column-2">St Paul's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">271</td><td class="column-7">84.55%</td>
</tr>
<tr class="row-213 odd">
	<td class="column-1">212</td><td class="column-2">The Kilmore International School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">437</td><td class="column-7">84.53%</td>
</tr>
<tr class="row-214 even">
	<td class="column-1">213</td><td class="column-2">Altona Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">631</td><td class="column-7">84.52%</td>
</tr>
<tr class="row-215 odd">
	<td class="column-1">214</td><td class="column-2">Doncaster Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">548</td><td class="column-7">84.50%</td>
</tr>
<tr class="row-216 even">
	<td class="column-1">215</td><td class="column-2">Mount Eliza North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">626</td><td class="column-7">84.50%</td>
</tr>
<tr class="row-217 odd">
	<td class="column-1">216</td><td class="column-2">St Margaret's Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">333</td><td class="column-7">84.43%</td>
</tr>
<tr class="row-218 even">
	<td class="column-1">217</td><td class="column-2">Oakleigh Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">674</td><td class="column-7">84.40%</td>
</tr>
<tr class="row-219 odd">
	<td class="column-1">218</td><td class="column-2">Carlton North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">285</td><td class="column-7">84.38%</td>
</tr>
<tr class="row-220 even">
	<td class="column-1">219</td><td class="column-2">Our Holy Redeemer School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">163</td><td class="column-7">84.38%</td>
</tr>
<tr class="row-221 odd">
	<td class="column-1">220</td><td class="column-2">Oxley Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">827</td><td class="column-7">84.38%</td>
</tr>
<tr class="row-222 even">
	<td class="column-1">221</td><td class="column-2">Hughesdale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">542</td><td class="column-7">84.36%</td>
</tr>
<tr class="row-223 odd">
	<td class="column-1">222</td><td class="column-2">Wembley Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">720</td><td class="column-7">84.35%</td>
</tr>
<tr class="row-224 even">
	<td class="column-1">223</td><td class="column-2">Tambo Upper Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">103</td><td class="column-7">84.33%</td>
</tr>
<tr class="row-225 odd">
	<td class="column-1">224</td><td class="column-2">Ocean Grove Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">633</td><td class="column-7">84.33%</td>
</tr>
<tr class="row-226 even">
	<td class="column-1">225</td><td class="column-2">Moonee Ponds Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">351</td><td class="column-7">84.33%</td>
</tr>
<tr class="row-227 odd">
	<td class="column-1">226</td><td class="column-2">Caulfield Junior College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">474</td><td class="column-7">84.31%</td>
</tr>
<tr class="row-228 even">
	<td class="column-1">227</td><td class="column-2">Aberfeldie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">378</td><td class="column-7">84.26%</td>
</tr>
<tr class="row-229 odd">
	<td class="column-1">228</td><td class="column-2">Newport Lakes Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">445</td><td class="column-7">84.24%</td>
</tr>
<tr class="row-230 even">
	<td class="column-1">229</td><td class="column-2">Haddon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">222</td><td class="column-7">84.24%</td>
</tr>
<tr class="row-231 odd">
	<td class="column-1">230</td><td class="column-2">St Bernadette's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">239</td><td class="column-7">84.24%</td>
</tr>
<tr class="row-232 even">
	<td class="column-1">231</td><td class="column-2">St Paul's Anglican Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">1259</td><td class="column-7">84.24%</td>
</tr>
<tr class="row-233 odd">
	<td class="column-1">232</td><td class="column-2">Cornish College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">656</td><td class="column-7">84.24%</td>
</tr>
<tr class="row-234 even">
	<td class="column-1">233</td><td class="column-2">Coburg West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">504</td><td class="column-7">84.23%</td>
</tr>
<tr class="row-235 odd">
	<td class="column-1">234</td><td class="column-2">Tulliallan Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">337</td><td class="column-7">84.21%</td>
</tr>
<tr class="row-236 even">
	<td class="column-1">235</td><td class="column-2">Footscray North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">409</td><td class="column-7">84.17%</td>
</tr>
<tr class="row-237 odd">
	<td class="column-1">236</td><td class="column-2">Heathmont East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">584</td><td class="column-7">84.16%</td>
</tr>
<tr class="row-238 even">
	<td class="column-1">237</td><td class="column-2">Moorabbin Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">248</td><td class="column-7">84.14%</td>
</tr>
<tr class="row-239 odd">
	<td class="column-1">238</td><td class="column-2">Viewbank Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">654</td><td class="column-7">84.14%</td>
</tr>
<tr class="row-240 even">
	<td class="column-1">239</td><td class="column-2">Essex Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">567</td><td class="column-7">84.14%</td>
</tr>
<tr class="row-241 odd">
	<td class="column-1">240</td><td class="column-2">Wonga Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">397</td><td class="column-7">84.12%</td>
</tr>
<tr class="row-242 even">
	<td class="column-1">241</td><td class="column-2">Andersons Creek Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">339</td><td class="column-7">84.12%</td>
</tr>
<tr class="row-243 odd">
	<td class="column-1">242</td><td class="column-2">Middle Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">531</td><td class="column-7">84.11%</td>
</tr>
<tr class="row-244 even">
	<td class="column-1">243</td><td class="column-2">Emerald Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">502</td><td class="column-7">84.11%</td>
</tr>
<tr class="row-245 odd">
	<td class="column-1">244</td><td class="column-2">Montmorency South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">619</td><td class="column-7">84.11%</td>
</tr>
<tr class="row-246 even">
	<td class="column-1">245</td><td class="column-2">Apollo Bay P-12 College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">262</td><td class="column-7">84.11%</td>
</tr>
<tr class="row-247 odd">
	<td class="column-1">246</td><td class="column-2">Coleraine Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">48</td><td class="column-7">84.09%</td>
</tr>
<tr class="row-248 even">
	<td class="column-1">247</td><td class="column-2">Ripponlea Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">289</td><td class="column-7">84.09%</td>
</tr>
<tr class="row-249 odd">
	<td class="column-1">248</td><td class="column-2">St James' School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">337</td><td class="column-7">84.09%</td>
</tr>
<tr class="row-250 even">
	<td class="column-1">249</td><td class="column-2">Ascot Vale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">266</td><td class="column-7">84.07%</td>
</tr>
<tr class="row-251 odd">
	<td class="column-1">250</td><td class="column-2">Preston Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">741</td><td class="column-7">84.04%</td>
</tr>
<tr class="row-252 even">
	<td class="column-1">251</td><td class="column-2">Bellaire Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">607</td><td class="column-7">84.04%</td>
</tr>
<tr class="row-253 odd">
	<td class="column-1">252</td><td class="column-2">St Robert's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">381</td><td class="column-7">84.04%</td>
</tr>
<tr class="row-254 even">
	<td class="column-1">253</td><td class="column-2">Croydon Hills Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">680</td><td class="column-7">84.02%</td>
</tr>
<tr class="row-255 odd">
	<td class="column-1">254</td><td class="column-2">St Luke the Evangelist School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">202</td><td class="column-7">84.02%</td>
</tr>
<tr class="row-256 even">
	<td class="column-1">255</td><td class="column-2">Beechworth Montessori School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">81</td><td class="column-7">84.02%</td>
</tr>
<tr class="row-257 odd">
	<td class="column-1">256</td><td class="column-2">St Bridget's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">62</td><td class="column-7">84.00%</td>
</tr>
<tr class="row-258 even">
	<td class="column-1">257</td><td class="column-2">Warrandyte Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">211</td><td class="column-7">83.99%</td>
</tr>
<tr class="row-259 odd">
	<td class="column-1">258</td><td class="column-2">Cheltenham Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">419</td><td class="column-7">83.99%</td>
</tr>
<tr class="row-260 even">
	<td class="column-1">259</td><td class="column-2">Greenhills Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">526</td><td class="column-7">83.99%</td>
</tr>
<tr class="row-261 odd">
	<td class="column-1">260</td><td class="column-2">Richmond Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">351</td><td class="column-7">83.99%</td>
</tr>
<tr class="row-262 even">
	<td class="column-1">261</td><td class="column-2">Essendon North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">664</td><td class="column-7">83.97%</td>
</tr>
<tr class="row-263 odd">
	<td class="column-1">262</td><td class="column-2">Jells Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">507</td><td class="column-7">83.95%</td>
</tr>
<tr class="row-264 even">
	<td class="column-1">263</td><td class="column-2">Mentone Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1435</td><td class="column-7">83.93%</td>
</tr>
<tr class="row-265 odd">
	<td class="column-1">264</td><td class="column-2">Northside Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">319</td><td class="column-7">83.93%</td>
</tr>
<tr class="row-266 even">
	<td class="column-1">265</td><td class="column-2">Strathmore Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">505</td><td class="column-7">83.92%</td>
</tr>
<tr class="row-267 odd">
	<td class="column-1">266</td><td class="column-2">Marysville Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">56</td><td class="column-7">83.90%</td>
</tr>
<tr class="row-268 even">
	<td class="column-1">267</td><td class="column-2">Mount Blowhard Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">71</td><td class="column-7">83.90%</td>
</tr>
<tr class="row-269 odd">
	<td class="column-1">268</td><td class="column-2">Beaumaris Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">543</td><td class="column-7">83.88%</td>
</tr>
<tr class="row-270 even">
	<td class="column-1">269</td><td class="column-2">St Philip's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">125</td><td class="column-7">83.88%</td>
</tr>
<tr class="row-271 odd">
	<td class="column-1">270</td><td class="column-2">Coburg North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">415</td><td class="column-7">83.85%</td>
</tr>
<tr class="row-272 even">
	<td class="column-1">271</td><td class="column-2">Coatesville Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">759</td><td class="column-7">83.83%</td>
</tr>
<tr class="row-273 odd">
	<td class="column-1">272</td><td class="column-2">Peninsula Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1282</td><td class="column-7">83.83%</td>
</tr>
<tr class="row-274 even">
	<td class="column-1">273</td><td class="column-2">Maranatha Christian School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">766</td><td class="column-7">83.83%</td>
</tr>
<tr class="row-275 odd">
	<td class="column-1">274</td><td class="column-2">St Christopher's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">91</td><td class="column-7">83.81%</td>
</tr>
<tr class="row-276 even">
	<td class="column-1">275</td><td class="column-2">St Michael's Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1203</td><td class="column-7">83.81%</td>
</tr>
<tr class="row-277 odd">
	<td class="column-1">276</td><td class="column-2">St Louis de Montfort's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">725</td><td class="column-7">83.80%</td>
</tr>
<tr class="row-278 even">
	<td class="column-1">277</td><td class="column-2">Yesodei HaTorah College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">163</td><td class="column-7">83.80%</td>
</tr>
<tr class="row-279 odd">
	<td class="column-1">278</td><td class="column-2">Solway Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">507</td><td class="column-7">83.78%</td>
</tr>
<tr class="row-280 even">
	<td class="column-1">279</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Outer Regional</td><td class="column-6">516</td><td class="column-7">83.76%</td>
</tr>
<tr class="row-281 odd">
	<td class="column-1">280</td><td class="column-2">St Thomas the Apostle School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">350</td><td class="column-7">83.76%</td>
</tr>
<tr class="row-282 even">
	<td class="column-1">281</td><td class="column-2">Lighthouse Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">677</td><td class="column-7">83.76%</td>
</tr>
<tr class="row-283 odd">
	<td class="column-1">282</td><td class="column-2">Mckinnon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">814</td><td class="column-7">83.75%</td>
</tr>
<tr class="row-284 even">
	<td class="column-1">283</td><td class="column-2">Watsonia Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">308</td><td class="column-7">83.75%</td>
</tr>
<tr class="row-285 odd">
	<td class="column-1">284</td><td class="column-2">Xavier College</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">1961</td><td class="column-7">83.75%</td>
</tr>
<tr class="row-286 even">
	<td class="column-1">285</td><td class="column-2">Northcote Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">377</td><td class="column-7">83.71%</td>
</tr>
<tr class="row-287 odd">
	<td class="column-1">286</td><td class="column-2">Apollo Parkways Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">819</td><td class="column-7">83.71%</td>
</tr>
<tr class="row-288 even">
	<td class="column-1">287</td><td class="column-2">Sacred Heart School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">276</td><td class="column-7">83.66%</td>
</tr>
<tr class="row-289 odd">
	<td class="column-1">288</td><td class="column-2">Mount Scopus Memorial College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1283</td><td class="column-7">83.66%</td>
</tr>
<tr class="row-290 even">
	<td class="column-1">289</td><td class="column-2">Fish Creek and District Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">89</td><td class="column-7">83.63%</td>
</tr>
<tr class="row-291 odd">
	<td class="column-1">290</td><td class="column-2">Glen Huntly Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">315</td><td class="column-7">83.63%</td>
</tr>
<tr class="row-292 even">
	<td class="column-1">291</td><td class="column-2">Edinburgh College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">276</td><td class="column-7">83.63%</td>
</tr>
<tr class="row-293 odd">
	<td class="column-1">292</td><td class="column-2">Thomas Mitchell Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">803</td><td class="column-7">83.61%</td>
</tr>
<tr class="row-294 even">
	<td class="column-1">293</td><td class="column-2">St Anne's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">289</td><td class="column-7">83.61%</td>
</tr>
<tr class="row-295 odd">
	<td class="column-1">294</td><td class="column-2">Eltham North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">593</td><td class="column-7">83.57%</td>
</tr>
<tr class="row-296 even">
	<td class="column-1">295</td><td class="column-2">Sandringham East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">522</td><td class="column-7">83.56%</td>
</tr>
<tr class="row-297 odd">
	<td class="column-1">296</td><td class="column-2">Woodleigh School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">945</td><td class="column-7">83.56%</td>
</tr>
<tr class="row-298 even">
	<td class="column-1">297</td><td class="column-2">Gordon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">112</td><td class="column-7">83.54%</td>
</tr>
<tr class="row-299 odd">
	<td class="column-1">298</td><td class="column-2">Seabrook Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">980</td><td class="column-7">83.54%</td>
</tr>
<tr class="row-300 even">
	<td class="column-1">299</td><td class="column-2">Belle Vue Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">174</td><td class="column-7">83.52%</td>
</tr>
<tr class="row-301 odd">
	<td class="column-1">300</td><td class="column-2">St Mark's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">478</td><td class="column-7">83.52%</td>
</tr>
<tr class="row-302 even">
	<td class="column-1">301</td><td class="column-2">Mulgrave Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">354</td><td class="column-7">83.50%</td>
</tr>
<tr class="row-303 odd">
	<td class="column-1">302</td><td class="column-2">St James' School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">249</td><td class="column-7">83.50%</td>
</tr>
<tr class="row-304 even">
	<td class="column-1">303</td><td class="column-2">Magpie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">97</td><td class="column-7">83.47%</td>
</tr>
<tr class="row-305 odd">
	<td class="column-1">304</td><td class="column-2">Kingston Heath Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">296</td><td class="column-7">83.45%</td>
</tr>
<tr class="row-306 even">
	<td class="column-1">305</td><td class="column-2">St Aloysius' School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">61</td><td class="column-7">83.45%</td>
</tr>
<tr class="row-307 odd">
	<td class="column-1">306</td><td class="column-2">Albert Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">581</td><td class="column-7">83.44%</td>
</tr>
<tr class="row-308 even">
	<td class="column-1">307</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">410</td><td class="column-7">83.42%</td>
</tr>
<tr class="row-309 odd">
	<td class="column-1">308</td><td class="column-2">Mordialloc Beach Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">183</td><td class="column-7">83.40%</td>
</tr>
<tr class="row-310 even">
	<td class="column-1">309</td><td class="column-2">Elwood Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">803</td><td class="column-7">83.40%</td>
</tr>
<tr class="row-311 odd">
	<td class="column-1">310</td><td class="column-2">Chatham Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">409</td><td class="column-7">83.40%</td>
</tr>
<tr class="row-312 even">
	<td class="column-1">311</td><td class="column-2">Ivanhoe East Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">546</td><td class="column-7">83.37%</td>
</tr>
<tr class="row-313 odd">
	<td class="column-1">312</td><td class="column-2">Kinglake Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">86</td><td class="column-7">83.35%</td>
</tr>
<tr class="row-314 even">
	<td class="column-1">313</td><td class="column-2">Templestowe Valley Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">488</td><td class="column-7">83.35%</td>
</tr>
<tr class="row-315 odd">
	<td class="column-1">314</td><td class="column-2">Whitehorse Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">361</td><td class="column-7">83.33%</td>
</tr>
<tr class="row-316 even">
	<td class="column-1">315</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Outer Regional</td><td class="column-6">42</td><td class="column-7">83.32%</td>
</tr>
<tr class="row-317 odd">
	<td class="column-1">316</td><td class="column-2">Brunswick South West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">404</td><td class="column-7">83.30%</td>
</tr>
<tr class="row-318 even">
	<td class="column-1">317</td><td class="column-2">Wantirna South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">265</td><td class="column-7">83.30%</td>
</tr>
<tr class="row-319 odd">
	<td class="column-1">318</td><td class="column-2">Ringwood Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">271</td><td class="column-7">83.30%</td>
</tr>
<tr class="row-320 even">
	<td class="column-1">319</td><td class="column-2">Selby Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">240</td><td class="column-7">83.28%</td>
</tr>
<tr class="row-321 odd">
	<td class="column-1">320</td><td class="column-2">Bayswater South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">303</td><td class="column-7">83.26%</td>
</tr>
<tr class="row-322 even">
	<td class="column-1">321</td><td class="column-2">Westbreen Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">263</td><td class="column-7">83.25%</td>
</tr>
<tr class="row-323 odd">
	<td class="column-1">322</td><td class="column-2">Tinternvale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">334</td><td class="column-7">83.25%</td>
</tr>
<tr class="row-324 even">
	<td class="column-1">323</td><td class="column-2">Pleasant Street Primary School ( Ballarat)</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">346</td><td class="column-7">83.23%</td>
</tr>
<tr class="row-325 odd">
	<td class="column-1">324</td><td class="column-2">Wandin Yallock Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">85</td><td class="column-7">83.23%</td>
</tr>
<tr class="row-326 even">
	<td class="column-1">325</td><td class="column-2">Port Melbourne Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">813</td><td class="column-7">83.23%</td>
</tr>
<tr class="row-327 odd">
	<td class="column-1">326</td><td class="column-2">Avondale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">361</td><td class="column-7">83.23%</td>
</tr>
<tr class="row-328 even">
	<td class="column-1">327</td><td class="column-2">Camberwell South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">481</td><td class="column-7">83.21%</td>
</tr>
<tr class="row-329 odd">
	<td class="column-1">328</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">261</td><td class="column-7">83.21%</td>
</tr>
<tr class="row-330 even">
	<td class="column-1">329</td><td class="column-2">Resurrection House</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">159</td><td class="column-7">83.20%</td>
</tr>
<tr class="row-331 odd">
	<td class="column-1">330</td><td class="column-2">Aspendale Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">670</td><td class="column-7">83.18%</td>
</tr>
<tr class="row-332 even">
	<td class="column-1">331</td><td class="column-2">Bright P-12 College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">550</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-333 odd">
	<td class="column-1">332</td><td class="column-2">Macedon Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">241</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-334 even">
	<td class="column-1">333</td><td class="column-2">Castlemaine North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">242</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-335 odd">
	<td class="column-1">334</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Outer Regional</td><td class="column-6">42</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-336 even">
	<td class="column-1">335</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">365</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-337 odd">
	<td class="column-1">336</td><td class="column-2">St Finbar's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">324</td><td class="column-7">83.16%</td>
</tr>
<tr class="row-338 even">
	<td class="column-1">337</td><td class="column-2">St Joseph's Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">156</td><td class="column-7">83.13%</td>
</tr>
<tr class="row-339 odd">
	<td class="column-1">338</td><td class="column-2">Red Hill Consolidated School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">578</td><td class="column-7">83.11%</td>
</tr>
<tr class="row-340 even">
	<td class="column-1">339</td><td class="column-2">Nazareth School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">314</td><td class="column-7">83.09%</td>
</tr>
<tr class="row-341 odd">
	<td class="column-1">340</td><td class="column-2">Hillcrest Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1524</td><td class="column-7">83.09%</td>
</tr>
<tr class="row-342 even">
	<td class="column-1">341</td><td class="column-2">Flemington Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">414</td><td class="column-7">83.08%</td>
</tr>
<tr class="row-343 odd">
	<td class="column-1">342</td><td class="column-2">Brighton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">768</td><td class="column-7">83.08%</td>
</tr>
<tr class="row-344 even">
	<td class="column-1">343</td><td class="column-2">St Columba's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">154</td><td class="column-7">83.08%</td>
</tr>
<tr class="row-345 odd">
	<td class="column-1">344</td><td class="column-2">Auburn Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">499</td><td class="column-7">83.06%</td>
</tr>
<tr class="row-346 even">
	<td class="column-1">345</td><td class="column-2">St Peter's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">666</td><td class="column-7">83.06%</td>
</tr>
<tr class="row-347 odd">
	<td class="column-1">346</td><td class="column-2">St Patrick's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">338</td><td class="column-7">83.06%</td>
</tr>
<tr class="row-348 even">
	<td class="column-1">347</td><td class="column-2">Balnarring Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">377</td><td class="column-7">83.02%</td>
</tr>
<tr class="row-349 odd">
	<td class="column-1">348</td><td class="column-2">Briar Hill Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">193</td><td class="column-7">83.02%</td>
</tr>
<tr class="row-350 even">
	<td class="column-1">349</td><td class="column-2">St Raphael's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">272</td><td class="column-7">83.02%</td>
</tr>
<tr class="row-351 odd">
	<td class="column-1">350</td><td class="column-2">Our Lady of the Pines School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">348</td><td class="column-7">83.02%</td>
</tr>
<tr class="row-352 even">
	<td class="column-1">351</td><td class="column-2">Williamstown Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">531</td><td class="column-7">83.01%</td>
</tr>
<tr class="row-353 odd">
	<td class="column-1">352</td><td class="column-2">Parktone Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">553</td><td class="column-7">83.01%</td>
</tr>
<tr class="row-354 even">
	<td class="column-1">353</td><td class="column-2">Sandringham Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">488</td><td class="column-7">82.99%</td>
</tr>
<tr class="row-355 odd">
	<td class="column-1">354</td><td class="column-2">Toolamba Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">168</td><td class="column-7">82.99%</td>
</tr>
<tr class="row-356 even">
	<td class="column-1">355</td><td class="column-2">Caulfield South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">496</td><td class="column-7">82.99%</td>
</tr>
<tr class="row-357 odd">
	<td class="column-1">356</td><td class="column-2">Kew Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">493</td><td class="column-7">82.97%</td>
</tr>
<tr class="row-358 even">
	<td class="column-1">357</td><td class="column-2">Dandenong North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">833</td><td class="column-7">82.96%</td>
</tr>
<tr class="row-359 odd">
	<td class="column-1">358</td><td class="column-2">St Monica's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">134</td><td class="column-7">82.94%</td>
</tr>
<tr class="row-360 even">
	<td class="column-1">359</td><td class="column-2">Christian College Highton</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">984</td><td class="column-7">82.92%</td>
</tr>
<tr class="row-361 odd">
	<td class="column-1">360</td><td class="column-2">Montmorency Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">258</td><td class="column-7">82.90%</td>
</tr>
<tr class="row-362 even">
	<td class="column-1">361</td><td class="column-2">Park Ridge Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">612</td><td class="column-7">82.90%</td>
</tr>
<tr class="row-363 odd">
	<td class="column-1">362</td><td class="column-2">Woodend Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">400</td><td class="column-7">82.89%</td>
</tr>
<tr class="row-364 even">
	<td class="column-1">363</td><td class="column-2">Kunyung Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">689</td><td class="column-7">82.89%</td>
</tr>
<tr class="row-365 odd">
	<td class="column-1">364</td><td class="column-2">St Patrick's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">357</td><td class="column-7">82.87%</td>
</tr>
<tr class="row-366 even">
	<td class="column-1">365</td><td class="column-2">Kardinia International College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1787</td><td class="column-7">82.87%</td>
</tr>
<tr class="row-367 odd">
	<td class="column-1">366</td><td class="column-2">Cowes Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">585</td><td class="column-7">82.85%</td>
</tr>
<tr class="row-368 even">
	<td class="column-1">367</td><td class="column-2">Rosanna Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">314</td><td class="column-7">82.85%</td>
</tr>
<tr class="row-369 odd">
	<td class="column-1">368</td><td class="column-2">Bonbeach Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">302</td><td class="column-7">82.85%</td>
</tr>
<tr class="row-370 even">
	<td class="column-1">369</td><td class="column-2">Greensborough Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">168</td><td class="column-7">82.84%</td>
</tr>
<tr class="row-371 odd">
	<td class="column-1">370</td><td class="column-2">Warragul North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">617</td><td class="column-7">82.84%</td>
</tr>
<tr class="row-372 even">
	<td class="column-1">371</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">289</td><td class="column-7">82.84%</td>
</tr>
<tr class="row-373 odd">
	<td class="column-1">372</td><td class="column-2">Birregurra Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">83</td><td class="column-7">82.82%</td>
</tr>
<tr class="row-374 even">
	<td class="column-1">373</td><td class="column-2">Our Lady of the Nativity School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">396</td><td class="column-7">82.82%</td>
</tr>
<tr class="row-375 odd">
	<td class="column-1">374</td><td class="column-2">Marlborough Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">208</td><td class="column-7">82.80%</td>
</tr>
<tr class="row-376 even">
	<td class="column-1">375</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">152</td><td class="column-7">82.80%</td>
</tr>
<tr class="row-377 odd">
	<td class="column-1">376</td><td class="column-2">St Francis Xavier's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">354</td><td class="column-7">82.80%</td>
</tr>
<tr class="row-378 even">
	<td class="column-1">377</td><td class="column-2">Wallington Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">160</td><td class="column-7">82.78%</td>
</tr>
<tr class="row-379 odd">
	<td class="column-1">378</td><td class="column-2">Elsternwick Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">595</td><td class="column-7">82.77%</td>
</tr>
<tr class="row-380 even">
	<td class="column-1">379</td><td class="column-2">Girton Grammar School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">1141</td><td class="column-7">82.77%</td>
</tr>
<tr class="row-381 odd">
	<td class="column-1">380</td><td class="column-2">Tucker Road Bentleigh Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">615</td><td class="column-7">82.75%</td>
</tr>
<tr class="row-382 even">
	<td class="column-1">381</td><td class="column-2">St Paul's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">364</td><td class="column-7">82.75%</td>
</tr>
<tr class="row-383 odd">
	<td class="column-1">382</td><td class="column-2">St James School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Inner Regional</td><td class="column-6">102</td><td class="column-7">82.73%</td>
</tr>
<tr class="row-384 even">
	<td class="column-1">383</td><td class="column-2">Truganina P-9 College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">897</td><td class="column-7">82.73%</td>
</tr>
<tr class="row-385 odd">
	<td class="column-1">384</td><td class="column-2">St Martin of Tours School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">512</td><td class="column-7">82.72%</td>
</tr>
<tr class="row-386 even">
	<td class="column-1">385</td><td class="column-2">Bellbrae Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">501</td><td class="column-7">82.68%</td>
</tr>
<tr class="row-387 odd">
	<td class="column-1">386</td><td class="column-2">St Paul's Kealba Catholic School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">340</td><td class="column-7">82.68%</td>
</tr>
<tr class="row-388 even">
	<td class="column-1">387</td><td class="column-2">St Therese's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">546</td><td class="column-7">82.65%</td>
</tr>
<tr class="row-389 odd">
	<td class="column-1">388</td><td class="column-2">Yeshivah College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">386</td><td class="column-7">82.65%</td>
</tr>
<tr class="row-390 even">
	<td class="column-1">389</td><td class="column-2">King's College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">212</td><td class="column-7">82.65%</td>
</tr>
<tr class="row-391 odd">
	<td class="column-1">390</td><td class="column-2">St John's Lutheran School Geelong</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">248</td><td class="column-7">82.63%</td>
</tr>
<tr class="row-392 even">
	<td class="column-1">391</td><td class="column-2">Glen Waverley South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">338</td><td class="column-7">82.61%</td>
</tr>
<tr class="row-393 odd">
	<td class="column-1">392</td><td class="column-2">Beaconhills College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2902</td><td class="column-7">82.61%</td>
</tr>
<tr class="row-394 even">
	<td class="column-1">393</td><td class="column-2">St Theresa's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">226</td><td class="column-7">82.60%</td>
</tr>
<tr class="row-395 odd">
	<td class="column-1">394</td><td class="column-2">St Damian's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">432</td><td class="column-7">82.58%</td>
</tr>
<tr class="row-396 even">
	<td class="column-1">395</td><td class="column-2">Beaumaris North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">693</td><td class="column-7">82.56%</td>
</tr>
<tr class="row-397 odd">
	<td class="column-1">396</td><td class="column-2">Sacred Heart School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Outer Regional</td><td class="column-6">58</td><td class="column-7">82.54%</td>
</tr>
<tr class="row-398 even">
	<td class="column-1">397</td><td class="column-2">Diamond Creek Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">221</td><td class="column-7">82.53%</td>
</tr>
<tr class="row-399 odd">
	<td class="column-1">398</td><td class="column-2">Quarry Hill Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">361</td><td class="column-7">82.53%</td>
</tr>
<tr class="row-400 even">
	<td class="column-1">399</td><td class="column-2">Footscray West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">619</td><td class="column-7">82.53%</td>
</tr>
<tr class="row-401 odd">
	<td class="column-1">400</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">187</td><td class="column-7">82.53%</td>
</tr>
<tr class="row-402 even">
	<td class="column-1">401</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">319</td><td class="column-7">82.51%</td>
</tr>
<tr class="row-403 odd">
	<td class="column-1">402</td><td class="column-2">St Francis of Assisi School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">1112</td><td class="column-7">82.51%</td>
</tr>
<tr class="row-404 even">
	<td class="column-1">403</td><td class="column-2">Flinders Christian Community College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1877</td><td class="column-7">82.51%</td>
</tr>
<tr class="row-405 odd">
	<td class="column-1">404</td><td class="column-2">Hume Anglican Grammar</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1018</td><td class="column-7">82.51%</td>
</tr>
<tr class="row-406 even">
	<td class="column-1">405</td><td class="column-2">Wandin North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">248</td><td class="column-7">82.49%</td>
</tr>
<tr class="row-407 odd">
	<td class="column-1">406</td><td class="column-2">Port Fairy Consolidated School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">221</td><td class="column-7">82.48%</td>
</tr>
<tr class="row-408 even">
	<td class="column-1">407</td><td class="column-2">St Anne's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">161</td><td class="column-7">82.48%</td>
</tr>
<tr class="row-409 odd">
	<td class="column-1">408</td><td class="column-2">Bendigo Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">172</td><td class="column-7">82.44%</td>
</tr>
<tr class="row-410 even">
	<td class="column-1">409</td><td class="column-2">Kingswood Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">587</td><td class="column-7">82.44%</td>
</tr>
<tr class="row-411 odd">
	<td class="column-1">410</td><td class="column-2">Roberts McCubbin Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">418</td><td class="column-7">82.44%</td>
</tr>
<tr class="row-412 even">
	<td class="column-1">411</td><td class="column-2">Newport Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">481</td><td class="column-7">82.42%</td>
</tr>
<tr class="row-413 odd">
	<td class="column-1">412</td><td class="column-2">Tarrington Lutheran School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Outer Regional</td><td class="column-6">118</td><td class="column-7">82.41%</td>
</tr>
<tr class="row-414 even">
	<td class="column-1">413</td><td class="column-2">Bairnsdale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">246</td><td class="column-7">82.35%</td>
</tr>
<tr class="row-415 odd">
	<td class="column-1">414</td><td class="column-2">Pascoe Vale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">521</td><td class="column-7">82.35%</td>
</tr>
<tr class="row-416 even">
	<td class="column-1">415</td><td class="column-2">Barwon Heads Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">492</td><td class="column-7">82.34%</td>
</tr>
<tr class="row-417 odd">
	<td class="column-1">416</td><td class="column-2">St Peter's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">194</td><td class="column-7">82.34%</td>
</tr>
<tr class="row-418 even">
	<td class="column-1">417</td><td class="column-2">Our Lady of the Way School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">144</td><td class="column-7">82.32%</td>
</tr>
<tr class="row-419 odd">
	<td class="column-1">418</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Inner Regional</td><td class="column-6">153</td><td class="column-7">82.32%</td>
</tr>
<tr class="row-420 even">
	<td class="column-1">419</td><td class="column-2">St Christopher's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">717</td><td class="column-7">82.30%</td>
</tr>
<tr class="row-421 odd">
	<td class="column-1">420</td><td class="column-2">Upper Plenty Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">189</td><td class="column-7">82.27%</td>
</tr>
<tr class="row-422 even">
	<td class="column-1">421</td><td class="column-2">Our Lady of Good Counsel School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">254</td><td class="column-7">82.27%</td>
</tr>
<tr class="row-423 odd">
	<td class="column-1">422</td><td class="column-2">Glenroy Central Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">239</td><td class="column-7">82.27%</td>
</tr>
<tr class="row-424 even">
	<td class="column-1">423</td><td class="column-2">Stella Maris School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">320</td><td class="column-7">82.25%</td>
</tr>
<tr class="row-425 odd">
	<td class="column-1">424</td><td class="column-2">St Peter's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">555</td><td class="column-7">82.23%</td>
</tr>
<tr class="row-426 even">
	<td class="column-1">425</td><td class="column-2">Seaholme Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">302</td><td class="column-7">82.18%</td>
</tr>
<tr class="row-427 odd">
	<td class="column-1">426</td><td class="column-2">St Albans Meadows Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">448</td><td class="column-7">82.18%</td>
</tr>
<tr class="row-428 even">
	<td class="column-1">427</td><td class="column-2">Victory Lutheran College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">716</td><td class="column-7">82.18%</td>
</tr>
<tr class="row-429 odd">
	<td class="column-1">428</td><td class="column-2">Lakeside College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">342</td><td class="column-7">82.17%</td>
</tr>
<tr class="row-430 even">
	<td class="column-1">429</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">297</td><td class="column-7">82.15%</td>
</tr>
<tr class="row-431 odd">
	<td class="column-1">430</td><td class="column-2">Chewton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">77</td><td class="column-7">82.13%</td>
</tr>
<tr class="row-432 even">
	<td class="column-1">431</td><td class="column-2">St Thomas More School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Inner Regional</td><td class="column-6">409</td><td class="column-7">82.11%</td>
</tr>
<tr class="row-433 odd">
	<td class="column-1">432</td><td class="column-2">Aitken College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1269</td><td class="column-7">82.11%</td>
</tr>
<tr class="row-434 even">
	<td class="column-1">433</td><td class="column-2">Old Orchard Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">538</td><td class="column-7">82.10%</td>
</tr>
<tr class="row-435 odd">
	<td class="column-1">434</td><td class="column-2">Dorset Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">487</td><td class="column-7">82.10%</td>
</tr>
<tr class="row-436 even">
	<td class="column-1">435</td><td class="column-2">Avenel Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">127</td><td class="column-7">82.06%</td>
</tr>
<tr class="row-437 odd">
	<td class="column-1">436</td><td class="column-2">Cobden Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">178</td><td class="column-7">82.06%</td>
</tr>
<tr class="row-438 even">
	<td class="column-1">437</td><td class="column-2">Holy Rosary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">306</td><td class="column-7">82.05%</td>
</tr>
<tr class="row-439 odd">
	<td class="column-1">438</td><td class="column-2">Darul Ulum College of Victoria</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">1059</td><td class="column-7">82.01%</td>
</tr>
<tr class="row-440 even">
	<td class="column-1">439</td><td class="column-2">Woodford Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">202</td><td class="column-7">81.99%</td>
</tr>
<tr class="row-441 odd">
	<td class="column-1">440</td><td class="column-2">Watsonia North Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">545</td><td class="column-7">81.99%</td>
</tr>
<tr class="row-442 even">
	<td class="column-1">441</td><td class="column-2">Lyndale Greens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">618</td><td class="column-7">81.99%</td>
</tr>
<tr class="row-443 odd">
	<td class="column-1">442</td><td class="column-2">St Bede's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">292</td><td class="column-7">81.99%</td>
</tr>
<tr class="row-444 even">
	<td class="column-1">443</td><td class="column-2">Sirius College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">2472</td><td class="column-7">81.99%</td>
</tr>
<tr class="row-445 odd">
	<td class="column-1">444</td><td class="column-2">Boronia Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">497</td><td class="column-7">81.98%</td>
</tr>
<tr class="row-446 even">
	<td class="column-1">445</td><td class="column-2">Niddrie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">282</td><td class="column-7">81.98%</td>
</tr>
<tr class="row-447 odd">
	<td class="column-1">446</td><td class="column-2">Mary Immaculate School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">121</td><td class="column-7">81.98%</td>
</tr>
<tr class="row-448 even">
	<td class="column-1">447</td><td class="column-2">Kallista Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">163</td><td class="column-7">81.96%</td>
</tr>
<tr class="row-449 odd">
	<td class="column-1">448</td><td class="column-2">Brunswick South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">318</td><td class="column-7">81.91%</td>
</tr>
<tr class="row-450 even">
	<td class="column-1">449</td><td class="column-2">St Paul Apostle South School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">222</td><td class="column-7">81.91%</td>
</tr>
<tr class="row-451 odd">
	<td class="column-1">450</td><td class="column-2">Scoresby Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">219</td><td class="column-7">81.89%</td>
</tr>
<tr class="row-452 even">
	<td class="column-1">451</td><td class="column-2">Kingsville Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">642</td><td class="column-7">81.87%</td>
</tr>
<tr class="row-453 odd">
	<td class="column-1">452</td><td class="column-2">Richmond West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">274</td><td class="column-7">81.87%</td>
</tr>
<tr class="row-454 even">
	<td class="column-1">453</td><td class="column-2">Mount Eliza Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">644</td><td class="column-7">81.86%</td>
</tr>
<tr class="row-455 odd">
	<td class="column-1">454</td><td class="column-2">Huntingdale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">380</td><td class="column-7">81.86%</td>
</tr>
<tr class="row-456 even">
	<td class="column-1">455</td><td class="column-2">Christian College Bellarine</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">441</td><td class="column-7">81.84%</td>
</tr>
<tr class="row-457 odd">
	<td class="column-1">456</td><td class="column-2">Brunswick North West Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">364</td><td class="column-7">81.82%</td>
</tr>
<tr class="row-458 even">
	<td class="column-1">457</td><td class="column-2">St Patrick's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Inner Regional</td><td class="column-6">124</td><td class="column-7">81.81%</td>
</tr>
<tr class="row-459 odd">
	<td class="column-1">458</td><td class="column-2">Upwey Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">89</td><td class="column-7">81.77%</td>
</tr>
<tr class="row-460 even">
	<td class="column-1">459</td><td class="column-2">St John Vianney's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">148</td><td class="column-7">81.77%</td>
</tr>
<tr class="row-461 odd">
	<td class="column-1">460</td><td class="column-2">Wallarano Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">686</td><td class="column-7">81.75%</td>
</tr>
<tr class="row-462 even">
	<td class="column-1">461</td><td class="column-2">Village School</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">72</td><td class="column-7">81.75%</td>
</tr>
<tr class="row-463 odd">
	<td class="column-1">462</td><td class="column-2">Knox Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">288</td><td class="column-7">81.74%</td>
</tr>
<tr class="row-464 even">
	<td class="column-1">463</td><td class="column-2">Holy Name School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">286</td><td class="column-7">81.74%</td>
</tr>
<tr class="row-465 odd">
	<td class="column-1">464</td><td class="column-2">Emmaus Catholic Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">422</td><td class="column-7">81.74%</td>
</tr>
<tr class="row-466 even">
	<td class="column-1">465</td><td class="column-2">Weeden Heights Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">173</td><td class="column-7">81.72%</td>
</tr>
<tr class="row-467 odd">
	<td class="column-1">466</td><td class="column-2">Courtenay Gardens Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">836</td><td class="column-7">81.72%</td>
</tr>
<tr class="row-468 even">
	<td class="column-1">467</td><td class="column-2">St Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">557</td><td class="column-7">81.72%</td>
</tr>
<tr class="row-469 odd">
	<td class="column-1">468</td><td class="column-2">Highton Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">336</td><td class="column-7">81.70%</td>
</tr>
<tr class="row-470 even">
	<td class="column-1">469</td><td class="column-2">Plenty Valley Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">739</td><td class="column-7">81.70%</td>
</tr>
<tr class="row-471 odd">
	<td class="column-1">470</td><td class="column-2">Shepparton Christian College Ltd</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">200</td><td class="column-7">81.70%</td>
</tr>
<tr class="row-472 even">
	<td class="column-1">471</td><td class="column-2">Maiden Gully Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">550</td><td class="column-7">81.69%</td>
</tr>
<tr class="row-473 odd">
	<td class="column-1">472</td><td class="column-2">St Bernadette's Catholic Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">234</td><td class="column-7">81.69%</td>
</tr>
<tr class="row-474 even">
	<td class="column-1">473</td><td class="column-2">Eltham Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">420</td><td class="column-7">81.67%</td>
</tr>
<tr class="row-475 odd">
	<td class="column-1">474</td><td class="column-2">Woori Yallock Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">264</td><td class="column-7">81.67%</td>
</tr>
<tr class="row-476 even">
	<td class="column-1">475</td><td class="column-2">Yarra Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">260</td><td class="column-7">81.67%</td>
</tr>
<tr class="row-477 odd">
	<td class="column-1">476</td><td class="column-2">Ruskin Park Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">351</td><td class="column-7">81.65%</td>
</tr>
<tr class="row-478 even">
	<td class="column-1">477</td><td class="column-2">St Joseph's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Inner Regional</td><td class="column-6">114</td><td class="column-7">81.65%</td>
</tr>
<tr class="row-479 odd">
	<td class="column-1">478</td><td class="column-2">Sacred Heart School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">305</td><td class="column-7">81.65%</td>
</tr>
<tr class="row-480 even">
	<td class="column-1">479</td><td class="column-2">St Bernard's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">225</td><td class="column-7">81.65%</td>
</tr>
<tr class="row-481 odd">
	<td class="column-1">480</td><td class="column-2">Parkmore Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">137</td><td class="column-7">81.62%</td>
</tr>
<tr class="row-482 even">
	<td class="column-1">481</td><td class="column-2">Rolling Hills Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">364</td><td class="column-7">81.62%</td>
</tr>
<tr class="row-483 odd">
	<td class="column-1">482</td><td class="column-2">St Kevin's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">113</td><td class="column-7">81.62%</td>
</tr>
<tr class="row-484 even">
	<td class="column-1">483</td><td class="column-2">St Margaret Mary's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">135</td><td class="column-7">81.60%</td>
</tr>
<tr class="row-485 odd">
	<td class="column-1">484</td><td class="column-2">St Monica's Primary School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">536</td><td class="column-7">81.57%</td>
</tr>
<tr class="row-486 even">
	<td class="column-1">485</td><td class="column-2">St Anthony's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">162</td><td class="column-7">81.57%</td>
</tr>
<tr class="row-487 odd">
	<td class="column-1">486</td><td class="column-2">Tylden Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">115</td><td class="column-7">81.55%</td>
</tr>
<tr class="row-488 even">
	<td class="column-1">487</td><td class="column-2">Irymple South Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Outer Regional</td><td class="column-6">352</td><td class="column-7">81.55%</td>
</tr>
<tr class="row-489 odd">
	<td class="column-1">488</td><td class="column-2">Oatlands Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1089</td><td class="column-7">81.55%</td>
</tr>
<tr class="row-490 even">
	<td class="column-1">489</td><td class="column-2">St John's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">182</td><td class="column-7">81.55%</td>
</tr>
<tr class="row-491 odd">
	<td class="column-1">490</td><td class="column-2">Eltham College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Major Cities</td><td class="column-6">597</td><td class="column-7">81.55%</td>
</tr>
<tr class="row-492 even">
	<td class="column-1">491</td><td class="column-2">Axedale Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">110</td><td class="column-7">81.53%</td>
</tr>
<tr class="row-493 odd">
	<td class="column-1">492</td><td class="column-2">Research Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">182</td><td class="column-7">81.53%</td>
</tr>
<tr class="row-494 even">
	<td class="column-1">493</td><td class="column-2">Katunga Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">89</td><td class="column-7">81.50%</td>
</tr>
<tr class="row-495 odd">
	<td class="column-1">494</td><td class="column-2">Cambridge Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">1031</td><td class="column-7">81.50%</td>
</tr>
<tr class="row-496 even">
	<td class="column-1">495</td><td class="column-2">Keysborough Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">457</td><td class="column-7">81.50%</td>
</tr>
<tr class="row-497 odd">
	<td class="column-1">496</td><td class="column-2">Holy Spirit School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">251</td><td class="column-7">81.50%</td>
</tr>
<tr class="row-498 even">
	<td class="column-1">497</td><td class="column-2">Great Ryrie Primary School</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Major Cities</td><td class="column-6">501</td><td class="column-7">81.48%</td>
</tr>
<tr class="row-499 odd">
	<td class="column-1">498</td><td class="column-2">St Justin's School</td><td class="column-3">VIC</td><td class="column-4">Catholic</td><td class="column-5">Major Cities</td><td class="column-6">347</td><td class="column-7">81.48%</td>
</tr>
<tr class="row-500 even">
	<td class="column-1">499</td><td class="column-2">Wodonga Middle Years College</td><td class="column-3">VIC</td><td class="column-4">Government</td><td class="column-5">Inner Regional</td><td class="column-6">823</td><td class="column-7">81.46%</td>
</tr>
<tr class="row-501 odd">
	<td class="column-1">500</td><td class="column-2">Olivet Christian College</td><td class="column-3">VIC</td><td class="column-4">Independent</td><td class="column-5">Inner Regional</td><td class="column-6">75</td><td class="column-7">81.46%</td>
</tr>
</tbody>
</table>
<!-- #tablepress-233 from cache -->
<p>Share this post:</p>
<p>
<div class="fb-social-plugin fb-like" data-ref="shortcode" data-href="http://www.schoolcatchment.com.au/?p=12301"></div>
<div class="twitter-share"><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.schoolcatchment.com.au%2F%3Fp%3D12301" class="twitter-share-button">Tweet</a></div><a href="http://www.schoolcatchment.com.au/?p=12301&amp;wp_email=1" title="Email This Post" rel="nofollow"><img class="WP-EmailIcon" src="http://www.schoolcatchment.com.au/wp-content/plugins/wp-email/images/email_famfamfam.png" alt="Email This Post" title="Email This Post" style="border: 0px;" /></a>&nbsp;<a href="http://www.schoolcatchment.com.au/?p=12301&amp;wp_email=1" title="Email This Post" rel="nofollow">Email This Post</a></p>
	</div><!-- .entry-content -->

	<footer class="entry-footer">
		<span class="byline"><span class="author vcard"><img alt='' src='http://1.gravatar.com/avatar/a17030ffa68682e1108a598203a0ff8a?s=49&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/a17030ffa68682e1108a598203a0ff8a?s=98&#038;d=mm&#038;r=g 2x' class='avatar avatar-49 photo' height='49' width='49' /><span class="screen-reader-text">Author </span> <a class="url fn n" href="http://www.schoolcatchment.com.au/?author=1">admin</a></span></span><span class="posted-on"><span class="screen-reader-text">Posted on </span><a href="http://www.schoolcatchment.com.au/?p=12301" rel="bookmark"><time class="entry-date published" datetime="2019-09-27T23:42:37+11:00">2019-09-27</time><time class="updated" datetime="2019-09-27T23:42:39+11:00">2019-09-27</time></a></span><span class="cat-links"><span class="screen-reader-text">Categories </span><a href="http://www.schoolcatchment.com.au/?cat=7" rel="category">General Education</a>, <a href="http://www.schoolcatchment.com.au/?cat=21" rel="category">Victoria Melbourne Education</a></span>			</footer><!-- .entry-footer -->
</article><!-- #post-12301 -->

<div id="comments" class="comments-area">

	
	
		<div id="respond" class="comment-respond">
		<h2 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=12301#respond" style="display:none;">Cancel reply</a></small></h2>			<form action="http://www.schoolcatchment.com.au/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='12301' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="bd18ee50ec" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="166"/></p>			</form>
			</div><!-- #respond -->
	<p class="akismet_comment_form_privacy_notice">This site uses Akismet to reduce spam. <a href="https://akismet.com/privacy/" target="_blank" rel="nofollow noopener">Learn how your comment data is processed</a>.</p>
</div><!-- .comments-area -->

	<nav class="navigation post-navigation" role="navigation">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://www.schoolcatchment.com.au/?p=12284" rel="prev"><span class="meta-nav" aria-hidden="true">Previous</span> <span class="screen-reader-text">Previous post:</span> <span class="post-title">Killara Public School In-Person</span></a></div><div class="nav-next"><a href="http://www.schoolcatchment.com.au/?p=12307" rel="next"><span class="meta-nav" aria-hidden="true">Next</span> <span class="screen-reader-text">Next post:</span> <span class="post-title">Interesting Tidbit With Killara Public School</span></a></div></div>
	</nav>
	</main><!-- .site-main -->

	<aside id="content-bottom-widgets" class="content-bottom-widgets" role="complementary">
			<div class="widget-area">
			<section id="text-6" class="widget widget_text">			<div class="textwidget"><p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br />
<!-- SchoolCatchment Sidebar --><br />
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3991833096608295"
     data-ad-slot="1042533966"
     data-ad-format="auto"></ins><br />
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
</div>
		</section>		<section id="recent-posts-4" class="widget widget_recent_entries">		<h2 class="widget-title">Recent Posts</h2>		<ul>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12338">Australia Top ICSEA Ranked School For 2018</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12314">Balgowlah North Public School In-Person</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12311">Wentworth Point Public School</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12307">Interesting Tidbit With Killara Public School</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12301">Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government)</a>
									</li>
					</ul>
		</section><section id="categories-4" class="widget widget_categories"><h2 class="widget-title">Categories</h2>		<ul>
				<li class="cat-item cat-item-13"><a href="http://www.schoolcatchment.com.au/?cat=13">Australian Capital Territory (ACT) Public School Priority Enrolment Area (Catchment)</a>
</li>
	<li class="cat-item cat-item-24"><a href="http://www.schoolcatchment.com.au/?cat=24">Australian School Funding</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.schoolcatchment.com.au/?cat=7">General Education</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.schoolcatchment.com.au/?cat=5">General Mapping</a>
</li>
	<li class="cat-item cat-item-8"><a href="http://www.schoolcatchment.com.au/?cat=8">Misc</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://www.schoolcatchment.com.au/?cat=9">NSW And Sydney High School Catchment Map</a>
</li>
	<li class="cat-item cat-item-2"><a href="http://www.schoolcatchment.com.au/?cat=2">NSW And Sydney Public School Catchment Map</a>
</li>
	<li class="cat-item cat-item-16"><a href="http://www.schoolcatchment.com.au/?cat=16">Perth Primary School Local Intake Area (Catchment) Map</a>
</li>
	<li class="cat-item cat-item-19"><a href="http://www.schoolcatchment.com.au/?cat=19">Queensland School Catchment</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.schoolcatchment.com.au/?cat=4">School by School Introduction</a>
</li>
	<li class="cat-item cat-item-14"><a href="http://www.schoolcatchment.com.au/?cat=14">School Children Parenting experience</a>
</li>
	<li class="cat-item cat-item-18"><a href="http://www.schoolcatchment.com.au/?cat=18">South Australia Public School Zone</a>
</li>
	<li class="cat-item cat-item-17"><a href="http://www.schoolcatchment.com.au/?cat=17">South Australia School Zone Catchment Map</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.schoolcatchment.com.au/?cat=3">Sydney Public School Information</a>
</li>
	<li class="cat-item cat-item-23"><a href="http://www.schoolcatchment.com.au/?cat=23">Tasmania School Zone and Information</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.schoolcatchment.com.au/?cat=6">Top Sydney/NSW Public School</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.schoolcatchment.com.au/?cat=1">Uncategorized</a>
</li>
	<li class="cat-item cat-item-21"><a href="http://www.schoolcatchment.com.au/?cat=21">Victoria Melbourne Education</a>
</li>
	<li class="cat-item cat-item-11"><a href="http://www.schoolcatchment.com.au/?cat=11">Victoria, Melbourne Primary School Zone Map</a>
</li>
	<li class="cat-item cat-item-12"><a href="http://www.schoolcatchment.com.au/?cat=12">Victoria, Melbourne Secondary School Zone Map</a>
</li>
	<li class="cat-item cat-item-15"><a href="http://www.schoolcatchment.com.au/?cat=15">Western Australia Primary School Local Intake Area (Catchment) Map</a>
</li>
	<li class="cat-item cat-item-22"><a href="http://www.schoolcatchment.com.au/?cat=22">Western Australia School Intake Area</a>
</li>
		</ul>
			</section><section id="recent-comments-4" class="widget widget_recent_comments"><h2 class="widget-title">Recent Comments</h2><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="http://www.schoolcatchment.com.au/?p=6050#comment-31963">Top 100 Ranking Victoria Melbourne Primary Schools For The Year Of 2016 (Government/Public)</a></li><li class="recentcomments"><span class="comment-author-link">Prakash</span> on <a href="http://www.schoolcatchment.com.au/?p=6050#comment-31948">Top 100 Ranking Victoria Melbourne Primary Schools For The Year Of 2016 (Government/Public)</a></li><li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="http://www.schoolcatchment.com.au/?p=1401#comment-31841">Canberra, ACT College Priority Enrolment Area Year 11 to 12 (Catchment) Map</a></li><li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="http://www.schoolcatchment.com.au/?p=5125#comment-31840">Cammeraygal High School</a></li><li class="recentcomments"><span class="comment-author-link">Tina Vandervelde</span> on <a href="http://www.schoolcatchment.com.au/?p=1401#comment-31784">Canberra, ACT College Priority Enrolment Area Year 11 to 12 (Catchment) Map</a></li></ul></section><section id="text-7" class="widget widget_text">			<div class="textwidget"><p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br />
<!-- SchoolCatchment Sidebar --><br />
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3991833096608295"
     data-ad-slot="1042533966"
     data-ad-format="auto"></ins><br />
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
</div>
		</section>		</div><!-- .widget-area -->
	
			<div class="widget-area">
			<section id="text-13" class="widget widget_text">			<div class="textwidget"><p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br />
<!-- SchoolCatchment Sidebar --><br />
<ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-3991833096608295" data-ad-slot="1042533966" data-ad-format="auto" data-full-width-responsive="true"></ins><br />
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><code></p>
</div>
		</section>		</div><!-- .widget-area -->
	</aside><!-- .content-bottom-widgets -->

</div><!-- .content-area -->


	<aside id="secondary" class="sidebar widget-area" role="complementary">
		<section id="text-18" class="widget widget_text">			<div class="textwidget"><p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br />
<!-- SchoolCatchment Sidebar --><br />
<ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-3991833096608295" data-ad-slot="1042533966" data-ad-format="auto" data-full-width-responsive="true"></ins><br />
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
</div>
		</section><section id="text-19" class="widget widget_text"><h2 class="widget-title">Google Adsense</h2>			<div class="textwidget"><p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br />
<!-- SchoolCatchment Sidebar --><br />
<ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-3991833096608295" data-ad-slot="1042533966" data-ad-format="auto" data-full-width-responsive="true"></ins><br />
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
</div>
		</section><section id="search-3" class="widget widget_search">
<form role="search" method="get" class="search-form" action="http://www.schoolcatchment.com.au/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
	</label>
	<button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button>
</form>
</section><section id="categories-7" class="widget widget_categories"><h2 class="widget-title">Categories</h2><form action="http://www.schoolcatchment.com.au" method="get"><label class="screen-reader-text" for="cat">Categories</label><select  name='cat' id='cat' class='postform' >
	<option value='-1'>Select Category</option>
	<option class="level-0" value="13">Australian Capital Territory (ACT) Public School Priority Enrolment Area (Catchment)</option>
	<option class="level-0" value="24">Australian School Funding</option>
	<option class="level-0" value="7">General Education</option>
	<option class="level-0" value="5">General Mapping</option>
	<option class="level-0" value="8">Misc</option>
	<option class="level-0" value="9">NSW And Sydney High School Catchment Map</option>
	<option class="level-0" value="2">NSW And Sydney Public School Catchment Map</option>
	<option class="level-0" value="16">Perth Primary School Local Intake Area (Catchment) Map</option>
	<option class="level-0" value="19">Queensland School Catchment</option>
	<option class="level-0" value="4">School by School Introduction</option>
	<option class="level-0" value="14">School Children Parenting experience</option>
	<option class="level-0" value="18">South Australia Public School Zone</option>
	<option class="level-0" value="17">South Australia School Zone Catchment Map</option>
	<option class="level-0" value="3">Sydney Public School Information</option>
	<option class="level-0" value="23">Tasmania School Zone and Information</option>
	<option class="level-0" value="6">Top Sydney/NSW Public School</option>
	<option class="level-0" value="1">Uncategorized</option>
	<option class="level-0" value="21">Victoria Melbourne Education</option>
	<option class="level-0" value="11">Victoria, Melbourne Primary School Zone Map</option>
	<option class="level-0" value="12">Victoria, Melbourne Secondary School Zone Map</option>
	<option class="level-0" value="15">Western Australia Primary School Local Intake Area (Catchment) Map</option>
	<option class="level-0" value="22">Western Australia School Intake Area</option>
</select>
</form>
<script type='text/javascript'>
/* <![CDATA[ */
(function() {
	var dropdown = document.getElementById( "cat" );
	function onCatChange() {
		if ( dropdown.options[ dropdown.selectedIndex ].value > 0 ) {
			dropdown.parentNode.submit();
		}
	}
	dropdown.onchange = onCatChange;
})();
/* ]]> */
</script>

			</section>		<section id="recent-posts-7" class="widget widget_recent_entries">		<h2 class="widget-title">Recent Posts</h2>		<ul>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12338">Australia Top ICSEA Ranked School For 2018</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12314">Balgowlah North Public School In-Person</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12311">Wentworth Point Public School</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12307">Interesting Tidbit With Killara Public School</a>
									</li>
											<li>
					<a href="http://www.schoolcatchment.com.au/?p=12301">Top 500 Ranking Victoria Melbourne Primary School For The Year Of 2018 (Government and Non-government)</a>
									</li>
					</ul>
		</section><section id="pages-3" class="widget widget_pages"><h2 class="widget-title">Pages</h2>		<ul>
			<li class="page_item page-item-2"><a href="http://www.schoolcatchment.com.au/?page_id=2">About us</a></li>
<li class="page_item page-item-1051"><a href="http://www.schoolcatchment.com.au/?page_id=1051">ACT Public School Priority Enrolment Area (Catchment) Map</a></li>
<li class="page_item page-item-36"><a href="http://www.schoolcatchment.com.au/?page_id=36">NSW/Sydney Public School Catchment Map</a></li>
<li class="page_item page-item-5654"><a href="http://www.schoolcatchment.com.au/?page_id=5654">Queensland School Catchment Map</a></li>
<li class="page_item page-item-5367"><a href="http://www.schoolcatchment.com.au/?page_id=5367">South Australia Public School Zone Map</a></li>
<li class="page_item page-item-488"><a href="http://www.schoolcatchment.com.au/?page_id=488">Sydney High School Catchment Map</a></li>
<li class="page_item page-item-5985"><a href="http://www.schoolcatchment.com.au/?page_id=5985">Top Ranking Australian Schools</a></li>
<li class="page_item page-item-825"><a href="http://www.schoolcatchment.com.au/?page_id=825">Victoria/Melbourne Public School Zone Map</a></li>
<li class="page_item page-item-1148"><a href="http://www.schoolcatchment.com.au/?page_id=1148">Western Australia School Local Intake Area (Catchment) Map</a></li>
		</ul>
			</section><section id="custom_html-4" class="widget_text widget widget_custom_html"><h2 class="widget-title">Google Adsense</h2><div class="textwidget custom-html-widget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- SchoolCatchment Sidebar -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-3991833096608295"

     data-ad-slot="1042533966"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

(adsbygoogle = window.adsbygoogle || []).push({});

</script></div></section><section id="custom_html-5" class="widget_text widget widget_custom_html"><h2 class="widget-title">Google Adsense</h2><div class="textwidget custom-html-widget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- SchoolCatchment Sidebar -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-3991833096608295"

     data-ad-slot="1042533966"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

(adsbygoogle = window.adsbygoogle || []).push({});

</script></div></section><section id="custom_html-6" class="widget_text widget widget_custom_html"><h2 class="widget-title">Google Adsense</h2><div class="textwidget custom-html-widget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- SchoolCatchment Sidebar -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-3991833096608295"

     data-ad-slot="1042533966"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

(adsbygoogle = window.adsbygoogle || []).push({});

</script></div></section><section id="custom_html-8" class="widget_text widget widget_custom_html"><h2 class="widget-title">Google Adsense</h2><div class="textwidget custom-html-widget"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- SchoolCatchment Sidebar -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-3991833096608295"

     data-ad-slot="1042533966"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

     (adsbygoogle = window.adsbygoogle || []).push({});

</script></div></section>	</aside><!-- .sidebar .widget-area -->

		</div><!-- .site-content -->

		<footer id="colophon" class="site-footer" role="contentinfo">
							<nav class="main-navigation" role="navigation" aria-label="Footer Primary Menu">
					<div class="menu-main-menu-container"><ul id="menu-main-menu-1" class="primary-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11854"><a href="http://www.schoolcatchment.com.au/?page_id=5985">Top Ranking Australian Schools</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11855"><a href="http://www.schoolcatchment.com.au/?page_id=5654">Queensland School Catchment Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11856"><a href="http://www.schoolcatchment.com.au/?page_id=5367">South Australia Public School Zone Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11857"><a href="http://www.schoolcatchment.com.au/?page_id=1148">Western Australia School Local Intake Area (Catchment) Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11858"><a href="http://www.schoolcatchment.com.au/?page_id=1051">ACT Public School Priority Enrolment Area (Catchment) Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11859"><a href="http://www.schoolcatchment.com.au/?page_id=825">Victoria/Melbourne Public School Zone Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11860"><a href="http://www.schoolcatchment.com.au/?page_id=488">Sydney High School Catchment Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11861"><a href="http://www.schoolcatchment.com.au/?page_id=36">NSW/Sydney Public School Catchment Map</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11862"><a href="http://www.schoolcatchment.com.au/?page_id=2">About us</a></li>
</ul></div>				</nav><!-- .main-navigation -->
			
			
			<div class="site-info">
								<span class="site-title"><a href="http://www.schoolcatchment.com.au/" rel="home">Australian Public School Information</a></span>
								<a href="https://wordpress.org/" class="imprint">
					Proudly powered by WordPress				</a>
			</div><!-- .site-info -->
		</footer><!-- .site-footer -->
	</div><!-- .site-inner -->
</div><!-- .site -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- SchoolCatchment Sidebar -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-3991833096608295"

     data-ad-slot="1042533966"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

     (adsbygoogle = window.adsbygoogle || []).push({});

</script><script type='text/javascript'>
/* <![CDATA[ */
var emailL10n = {"ajax_url":"http:\/\/www.schoolcatchment.com.au\/wp-admin\/admin-ajax.php","max_allowed":"5","text_error":"The Following Error Occurs:","text_name_invalid":"- Your Name is empty\/invalid","text_email_invalid":"- Your Email is empty\/invalid","text_remarks_invalid":"- Your Remarks is invalid","text_friend_names_empty":"- Friend Name(s) is empty","text_friend_name_invalid":"- Friend Name is empty\/invalid: ","text_max_friend_names_allowed":"- Maximum 5 Friend Names allowed","text_friend_emails_empty":"- Friend Email(s) is empty","text_friend_email_invalid":"- Friend Email is invalid: ","text_max_friend_emails_allowed":"- Maximum 5 Friend Emails allowed","text_friends_tally":"- Friend Name(s) count does not tally with Friend Email(s) count","text_image_verify_empty":"- Image Verification is empty"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/plugins/wp-email/email-js.js?ver=2.67.6'></script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/js/skip-link-focus-fix.js?ver=20160816'></script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-includes/js/comment-reply.min.js?ver=5.2.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var screenReaderText = {"expand":"expand child menu","collapse":"collapse child menu"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/themes/twentysixteen/js/functions.js?ver=20181230'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var FB_WP=FB_WP||{};FB_WP.queue={_methods:[],flushed:false,add:function(fn){FB_WP.queue.flushed?fn():FB_WP.queue._methods.push(fn)},flush:function(){for(var fn;fn=FB_WP.queue._methods.shift();){fn()}FB_WP.queue.flushed=true}};window.fbAsyncInit=function(){FB.init({"xfbml":true});if(FB_WP && FB_WP.queue && FB_WP.queue.flush){FB_WP.queue.flush()}}
/* ]]> */
</script>
<script type="text/javascript">(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="http:\/\/connect.facebook.net\/en_US\/all.js";fjs.parentNode.insertBefore(js,fjs)}(document,"script","facebook-jssdk"));</script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-includes/js/wp-embed.min.js?ver=5.2.4'></script>
<script type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/plugins/tablepress/js/jquery.datatables.min.js?ver=1.9.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
window.twttr=(function(w){t=w.twttr||{};t._e=[];t.ready=function(f){t._e.push(f);};return t;}(window));
/* ]]> */
</script>
<script type="text/javascript" id="twitter-wjs" async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async="async" type='text/javascript' src='http://www.schoolcatchment.com.au/wp-content/plugins/akismet/_inc/form.js?ver=4.1.2'></script>
<script type="text/javascript">
jQuery(document).ready(function($){
$('#tablepress-233').dataTable({"order":[],"orderClasses":false,"stripeClasses":["even","odd"],"pagingType":"simple"});
});
</script><div id="fb-root"></div></body>
</html>

'''

In [83]:
#inputFile1 = open('secondary.txt', 'r', encoding='utf-8').read()
# separate each section with "<hr />"
pattern1=inputFile1.split("<hr />")
del pattern1[584]
# create dict
sec_dict={}
for each_p in pattern1:
    sec_info = re.findall('(?:<div>)(.*?)(?:</div>)', each_p)
    if sec_info[0] not in sec_dict.keys():
        sec_dict[sec_info[0]]=sec_info[1]
    elif sec_info[0] in sec_dict.keys():
        old_rank=sec_dict[sec_info[0]]
        # if old rank number is smaller, keep the old rank
        if old_rank<sec_info[1]:
            sec_dict[sec_info[0]]=old_rank
        elif old_rank>sec_info[1]:
            sec_dict[sec_info[0]]=sec_info[1]            
print(sec_dict)

{'Academy of Mary Immaculate': '144', 'Adass Israel School': '534', 'Advance College of Education': '535', 'Aitken College': '194', 'Al Siraat College': '280', 'Al-Taqwa College': '400', 'Albert Park College': '131', 'Albury Wodonga Comm College': '536', 'Alexandra Secondary College': '481', 'Alia College': '500', 'Alice Miller School': '127', 'Alkira Secondary College': '328', 'Alphington Grammar School': '86', 'Antonine College': '482', 'Apollo Bay P-12 College': '18', 'Aquinas College': '151', 'Ararat Secondary College': '486', 'Ashwood High School': '241', 'Assumption College': '301', 'Auburn High School': '167', 'Australian Internatl Academy': '501', 'Ave Maria College': '111', 'Avila College': '102', 'Bacchus Marsh College': '496', 'Bacchus Marsh Grammar': '147', 'Baimbridge College': '452', 'Bairnsdale Secondary College': '513', 'Balcombe Grammar School': '156', 'Ballarat Christian College': '408', 'Ballarat Clarendon College': '12', 'Ballarat Grammar': '84', 'Ballarat High School': '266', 'Ballarat SC - Mount Rowan': '442', 'Ballarat SC - Woodmans Hill': '488', 'Balwyn High School': '44', 'Bayside Christian College': '242', 'Bayside P-12 College': '243', 'Bayswater Secondary College': '526', 'Bayview College': '251', 'Beaconhills College': '152', 'Beaufort Secondary College': '391', 'Beechworth Secondary College': '457', 'Belgrave Heights Christian Schl': '255', 'Bellarine Secondary College': '421', 'Belmont High School': '343', 'Benalla P-12 College': '512', 'Bendigo Senior Sec College': '375', 'Bendigo TAFE': '537', 'Bentleigh Secondary College': '230', 'Berry Street Victoria': '538', 'Berwick Grammar School': '75', 'Berwick Secondary College': '245', 'Beth Rivkah Ladies College': '36', 'Bialik College': '1', 'Billanook College': '122', 'Birchip P-12 School': '274', 'Blackburn High School': '216', 'Boort District P-12 School': '208', 'Boronia K-12 College': '473', 'Box Hill High School': '56', 'Box Hill Institute': '539', 'Box Hill Senior Sec College': '416', 'Braemar College': '71', 'Brauer College': '382', 'Braybrook College': '139', 'Brentwood Secondary College': '168', 'Bright P-12 College': '203', 'Brighton Grammar School': '46', 'Brighton Secondary College': '213', 'Broadford Secondary College': '417', 'Brunswick Secondary College': '211', 'Buckley Park College': '123', 'Bundoora Secondary College': '531', 'Camberwell Anglican Girls GS': '11', 'Camberwell Grammar School': '26', 'Camberwell High School': '112', 'Camperdown College': '392', 'Cann River P-12 College': '540', 'Canterbury Girls Sec College': '91', 'Carey Baptist Grammar School': '68', 'Caroline Chisholm Catholic Coll': '235', 'Carrum Downs Sec College': '469', 'Carwatha College P-12': '418', 'Casey Grammar School': '197', 'Casterton Secondary College': '89', 'Castlemaine Secondary College': '295', 'Cathedral College': '214', 'Catherine McAuley College': '217', 'Catholic College Sale': '212', 'Catholic College Wodonga': '308', 'Catholic Ladies College': '103', 'Catholic Regional College': '236', 'Caulfield Grammar School': '24', 'Centre for Adult Education': '463', 'Chaffey Secondary College': '544', 'Chairo Christian School': '220', 'Charles La Trobe P-12 College': '465', 'Charlton College': '132', 'Cheltenham Secondary College': '285', 'Chisholm Institute': '493', 'Chisholm Institute of TAFE': '532', "Christian Brothers' College": '148', 'Christian College Institute': '114', 'Cire Community School': '546', 'Clonard College': '140', 'Cobden Technical School': '502', 'Cobram Anglican Grammar School': '450', 'Cobram Secondary College': '398', 'Coburg High School': '79', 'Cohuna Secondary College': '282', 'Colac Secondary College': '517', 'Collingwood College': '359', 'Copperfield College': '302', 'Cornish College': '176', 'Corryong College': '320', 'Covenant College': '128', 'Craigieburn Secondary College': '497', 'Cranbourne East Sec College': '260', 'Cranbourne Secondary College': '381', 'Croydon Community School': '547', 'Damascus College': '340', 'Dandenong High School': '514', 'Darul Ulum College of Victoria': '261', 'Daylesford Secondary College': '352', 'De La Salle College': '115', 'Derrinallum P12 College': '332', 'Diamond Valley College': '358', 'Diamond Valley Learn Centre': '548', 'Dimboola Memorial Sec College': '161', 'Distance Education Victoria': '275', 'Diversitat': '549', 'Djerriwarrh Emp. &amp; Edu. Servic.': '550', 'Donald High School': '303', 'Doncaster Secondary College': '225', 'Donvale Christian College': '74', 'Dromana Secondary College': '195', 'Drouin Secondary College': '314', 'East Doncaster Sec College': '105', 'East Loddon P-12 College': '160', 'East Preston Islamic College': '491', 'Echuca College': '427', 'Edenhope College': '474', 'Edinburgh College': '200', 'Education Centre Gippsland': '551', 'Elisabeth Murdoch College': '296', 'Eltham College': '64', 'Eltham High School': '279', 'Elwood College': '175', 'Emerald Secondary College': '276', 'Emmanuel College': '180', 'Emmaus College': '142', 'Epping Secondary College': '309', 'Essendon Keilor College': '460', 'Euroa Secondary College': '485', 'F.C.J. College': '324', 'Fairhills High School': '406', 'Federation Training': '503', 'Federation University Australia': '552', 'Fintona Girls School': '9', 'Firbank Grammar School': '29', 'Fitzroy High School': '248', 'Flinders Christian Comm College': '149', 'Footscray City College': '166', 'Forest Hill College': '409', 'Foster Secondary College': '456', 'Fountain Gate Sec College': '384', 'Frankston High School': '87', 'Galen College': '268', 'Geelong Baptist College': '475', 'Geelong Grammar School': '146', 'Geelong High School': '411', 'Geelong Lutheran College': '263', 'Genazzano F.C.J. College': '33', 'Gilmore College For Girls': '387', 'Gilson College': '283', 'Gippsland Grammar': '141', 'Girton Grammar School': '88', 'Gisborne Secondary College': '370', 'Gladstone Park Sec College': '290', 'Glen Eira College': '215', 'Glen Waverley Sec College': '66', 'Gleneagles Secondary College': '221', 'Glenroy Neighbourhood Centre': '553', 'Glenroy Secondary College': '511', 'Glenvale School': '97', 'Good News Lutheran College': '520', 'Good Shepherd College': '247', 'Gordon Institute of TAFE': '527', 'Goroke P-12 College': '333', 'Goulburn Ovens Inst of TAFE': '554', 'Goulburn Valley Grammar Schl': '41', 'Greensborough Sec College': '341', 'Grovedale College': '401', 'Haileybury College': '25', 'Haileybury Girls College': '8', 'Haileybury Rendall School': '60', 'Hallam Senior Sec College': '525', 'Hampton Park Sec College': '437', 'Hawkesdale College': '393', 'Healesville High School': '453', 'Heathdale Christian College': '223', 'Heatherton Christian College': '226', 'Heathmont College': '433', 'Heritage College': '252', 'Hester Hornbrook Academy': '555', 'Heywood &amp; District Sec College': '504', 'Highvale Secondary College': '138', 'Highview Christian Comm College': '204', 'Hillcrest Christian College': '240', 'Holmes Secondary College': '277', 'Holmesglen Institute of TAFE': '556', 'Holy Trinity Lutheran College': '80', 'Hopetoun P-12 College': '322', 'Hoppers Crossing Sec College': '351', 'Horsham College': '181', 'Hume Anglican Grammar': '286', 'Hume Central Sec College': '404', 'Huntingtower School': '3', 'Ilim College': '311', 'Ilim College Boys Campus': '390', 'Islamic College of Melbourne': '414', "Ivanhoe Girls' Grammar School": '49', 'Ivanhoe Grammar School': '57', 'John Fawkner College': '515', 'John Monash Science School': '59', 'John Paul College': '291', 'Kambrya College': '253', 'Kangan Institute of TAFE': '533', 'Kaniva P-12 College': '334', 'Kardinia Internatl College': '117', 'Keilor Downs College': '172', 'Kensington Comm High School': '558', 'Kerang Christian College': '505', 'Kerang Technical High School': '443', 'Kew High School': '124', 'Keysborough SC - Acacia': '306', 'Keysborough SC - Banksia': '407', 'Kilbreda College': '145', 'Killester College': '182', 'Kilvington Grammar School': '37', 'Kings College': '292', 'Kingswood College': '106', 'Kolbe Catholic College': '430', 'Koo Wee Rup Sec College': '264', 'Koonung Secondary College': '94', "Korowa Anglican Girls' School": '13', 'Korumburra Sec College': '342', 'Kurnai College': '363', 'Kurunjang Secondary College': '506', 'Kyabram P-12 College': '454', 'Kyneton Secondary College': '428', 'Lakes Entrance Sec College': '487', 'Lakeside Lutheran College': '438', 'Lakeview Senior College': '297', 'Lalor North Sec College': '518', 'Lalor Secondary College': '378', 'Lara Secondary College': '476', 'Lauriston Girls School': '19', 'Lavalla Catholic College': '281', 'Lavers Hill K-12 College': '272', 'Laverton P-12 College': '516', 'Leibler Yavneh College': '28', 'Leongatha Secondary College': '462', 'Lighthouse Christian College': '184', 'Lilydale Heights College': '498', 'Lilydale High School': '315', 'Little Yarra Steiner School': '77', 'Loreto College': '155', 'Loreto Mandeville Hall': '15', 'Lorne P-12 College': '335', 'Lowanna College': '470', 'Lowther Hall Anglican GS': '40', 'Loyola College': '206', 'Luther College': '83', 'Lynall Hall Community School': '559', 'Lyndale Secondary College': '419', 'Lyndhurst Secondary College': '389', "Mac.Robertson Girls' High Schl": '4', 'MacKillop Catholic Reg College': '265', 'Macleod College': '459', 'Maffra Secondary College': '399', 'Mallacoota P-12 College': '163', 'Manangatang P-12 College': '449', 'Manor Lakes P-12 College': '420', 'Mansfield Secondary College': '394', 'Maranatha Christian School': '177', 'Marcellin College': '169', 'Marian College Ararat': '402', 'Marian College Myrtleford': '386', 'Marian College Sunshine': '317', 'Maribyrnong Sec College': '192', 'Marist - Sion College': '267', 'Marist College Bendigo': '205', 'Mary MacKillop Catholic College': '310', 'Maryborough Education Centre': '471', 'Marymede Catholic College': '231', 'Mater Christi College': '113', "Matthew Flinders Girls' SC": '293', 'Mazenod College': '82', 'McClelland Secondary College': '355', 'McGuire College': '524', 'McKinnon Secondary College': '48', 'Melba College': '367', 'Melbourne Girls Grammar': '21', "Melbourne Girls' College": '61', 'Melbourne Grammar School': '14', 'Melbourne High School': '2', 'Melbourne Polytechnic': '560', 'Melbourne Rudolf Steiner Schl': '193', 'Melton Christian College': '412', 'Melton Secondary College': '318', "Mentone Girls' Grammar School": '42', "Mentone Girls' Sec College": '121', 'Mentone Grammar School': '34', 'Mercy College': '349', 'Mercy Regional College': '323', 'Merinda Park Learning Centre': '561', 'Methodist Ladies College': '17', 'Mildura Senior College': '372', 'Mill Park Secondary College': '484', 'Minaret College': '287', 'Mirboo North Sec College': '158', 'Monbulk College': '356', 'Monivae College': '257', 'Monterey Secondary College': '507', 'Montmorency Sec College': '201', 'Mooroolbark College': '379', 'Mooroopna Secondary College': '444', 'Mordialloc College': '164', 'Mornington Secondary College': '383', 'Mortlake College': '258', 'Mount Alexander 7-12 Coll': '348', 'Mount Beauty Sec College': '325', 'Mount Clear College': '425', 'Mount Eliza Sec College': '256', 'Mount Erin College': '329', 'Mount Evelyn Christian School': '227', 'Mount Lilydale Mercy College': '321', 'Mount Ridley P-12 College': '432', 'Mount Scopus Memorial College': '10', "Mount St Joseph Girls' College": '119', 'Mount Waverley Sec College': '143', 'Mountain District Christian SC': '373', 'Mountain District Learn Centre': '562', 'Mt Hira College': '344', 'Mullauna College': '190', 'Murrayville Community College': '78', 'Murtoa P-12 College': '210', 'Myrtleford P-12 College': '508', 'Nagle College': '326', 'Narre Community Learn Centre': '563', 'Narre Warren Sth P-12 College': '95', 'Nathalia Secondary College': '519', 'Nazareth College': '232', 'Neerim District Sec College': '336', 'Newcomb Secondary College': '395', 'Newhaven College': '134', 'Nhill College': '327', 'Noble Park Secondary College': '439', 'North Geelong Sec College': '422', 'North Melbourne Grammar Coll': '477', 'North Ringwood Comm House': '564', 'Northcote High School': '178', 'Northern Bay P-12 College': '521', 'Northern College of Arts &amp; Tech': '368', 'Northside Christian College': '162', 'Norwood Secondary College': '219', 'Nossal High School': '20', 'Notre Dame College': '228', 'Numurkah Secondary College': '360', 'Nunawading Christian College': '92', 'Oakleigh Grammar': '270', 'Oakwood School': '565', 'Oberon High School': '345', 'Orbost Secondary College': '509', 'Our Lady of Mercy College': '90', 'Our Lady of Sacred Heart Coll': '73', 'Our Lady of Sion College': '69', 'Ouyen P-12 College': '339', 'Overnewton Anglican Comm Coll': '191', 'Oxley Christian College': '107', 'Ozford College': '530', 'Padua College': '199', 'Pakenham Secondary College': '380', 'Parade College': '173', 'Parkdale Secondary College': '234', 'Parkville College': '566', 'Pascoe Vale Girls Sec College': '371', 'Patterson River Sec College': '396', 'Peninsula Grammar': '99', 'Penleigh &amp; Essendon Grammar': '23', 'Penola Catholic College': '361', 'Peter Lalor Vocational Coll': '567', 'Phoenix P-12 Comm Coll': '376', 'Pines Learning': '568', 'Plenty Valley Christian College': '238', 'Point Cook Senior Sec College': '353', 'Portland Secondary College': '467', "Presbyterian Ladies' College": '6', 'Presentation College': '174', 'Preshil The Margaret Lyttle SC': '207', 'Preston Reservoir ACE': '569', 'Princes Hill Sec College': '81', 'RMIT TAFE': '415', 'Rainbow P-12 College': '337', 'Red Cliffs Secondary College': '522', 'Reservoir High School': '346', 'Ringwood Secondary College': '185', 'River Nile School': '570', 'Robinvale College': '528', 'Rochester Secondary College': '362', 'Rosebud Secondary College': '246', 'Rosehill Secondary College': '239', 'Rowville Secondary College': '423', 'Roxburgh College': '451', 'Rushworth P-12 College': '445', 'Rutherglen High School': '298', "Ruyton Girls' School": '5', 'SEDA College': '571', 'Sacre Coeur': '16', 'Sacred Heart College': '284', 'Sacred Heart College Geelong': '136', 'Sacred Heart College Kyneton': '150', "Sacred Heart Girls' College": '93', 'Saint Ignatius College': '154', 'Sale College': '464', 'Salesian College': '153', 'Salesian College Sunbury': '254', 'Sandringham College': '304', 'Santa Maria College': '137', 'Scoresby Secondary College': '330', 'Scotch College': '31', 'Seymour College': '429', "Shelford Girls' Grammar": '30', 'Shepparton ACE College': '572', 'Shepparton Christian College': '385', 'Shepparton High School': '495', 'Sherbrooke Community School': '446', 'Siena College': '50', 'Simonds Catholic College': '262', 'Sirius College - Eastmeadows': '120', 'Sirius College - Keysborough': '278', 'Sirius College - Meadow Fair': '116', 'Skillsplus': '573', 'Somerville Secondary College': '434', 'South Oakleigh Sec College': '259', 'South West Institute of TAFE': '574', 'Southern Cross Grammar': '157', 'Southern Grampians Adult Edu': '575', 'St Albans Secondary College': '179', 'St Aloysius College': '170', 'St Andrews Christian College': '135', 'St Arnaud Secondary College': '490', "St Augustine's College": '300', "St Bede's College": '171', "St Bernard's College": '130', "St Brigid's College": '313', "St Catherine's School": '35', "St Columba's College": '85', 'St Francis Xavier College': '189', 'St Helena Secondary College': '244', "St John's Greek Orth College": '237', "St John's Regional College": '364', "St Joseph's College": '126', "St Kevin's College": '7', "St Leonard's College": '43', "St Margaret's School": '51', 'St Mary MacKillop College': '196', 'St Mary of the Angels School': '202', "St Mary's Coptic Orth College": '338', "St Michael's Grammar School": '58', "St Monica's College": '250', "St Patrick's College": '187', "St Paul's Anglican Grammar Schl": '70', "St Peter's College": '388', 'St Thomas Aquinas College': '109', 'Star of the Sea College': '54', 'Staughton College': '441', 'Stawell Secondary College': '440', "Stott's College": '478', 'Strathcona Baptist Girls GS': '22', 'Strathmore Secondary College': '133', 'Sunbury College': '424', 'Sunbury Downs Sec College': '125', 'Sunraysia Institute of TAFE': '576', 'Sunshine College': '233', 'Surf Coast Sec College': '331', 'Suzanne Cory High School': '47', 'Swan Hill College': '365', 'Swifts Creek P-12 School': '510', 'Swinburne Senior Sec College': '288', 'Swinburne Uni of Tech - TAFE': '577', 'Sydney Road Community School': '447', 'Tallangatta Secondary College': '403', 'Tarneit Senior College': '472', 'Taylors Lakes Sec College': '431', 'Templestowe College': '307', 'Terang College Sec Campus': '316', 'The David Scott School': '578', 'The Geelong College': '65', 'The Grange P-12 College': '312', 'The Hamilton &amp; Alexandra Coll': '101', 'The King David School': '27', 'The Knox School': '110', 'Thomas Carr College': '377', 'Thomastown Secondary College': '489', 'Thornbury High School': '209', 'Timboon P-12 School': '479', 'Tintern Grammar': '100', 'Toorak College': '45', 'Trafalgar High School': '366', 'Traralgon College': '492', 'Trinity College Colac': '299', 'Trinity Grammar School': '32', 'Tyrrell College': '273', 'University High School': '67', 'Upper Yarra Secondary College': '458', 'Upwey High School': '405', 'Vermont Secondary College': '129', 'Victoria University - TAFE': '529', 'Victoria University SC': '410', 'Victorian College for the Deaf': '579', 'Victorian College of the Arts': '62', 'Victory Christian College': '249', 'Victory Lutheran College': '294', 'Viewbank College': '96', 'Wallan Secondary College': '523', 'Wanganui Park Sec College': '374', 'Wangaratta High School': '347', 'Wantirna College': '305', 'Warracknabeal Sec College': '218', 'Warragul Regional College': '369', 'Warrandyte High School': '319', 'Warrnambool College': '357', 'Waverley Christian College': '76', 'Wedderburn College': '397', 'Wellington Secondary College': '229', 'Werribee Secondary College': '165', 'Werrimull P-12 College': '448', 'Wesley College': '108', 'Westall Secondary College': '354', 'Westbourne Grammar School': '55', 'Western Heights Sec College': '494', 'Western Port Sec College': '480', 'Western Senior Sec Coll': '580', 'Wheelers Hill Sec College': '426', 'Whitefriars College': '198', 'Whittlesea Secondary College': '413', 'William Angliss Inst of TAFE': '581', 'William Ruthven Sec College': '435', 'Williamstown High School': '104', 'Wodonga Institute of TAFE': '582', 'Wodonga Senior Sec College': '483', 'Wonthaggi Secondary College': '350', 'Woodleigh School': '118', 'Wycheproof P-12 College': '159', 'Wyndham Central Sec Coll': '499', 'Wyndham Community Centre': '583', 'Xavier College': '53', 'Yarra Hills Secondary College': '468', 'Yarra Valley Grammar School': '52', 'Yarram Secondary College': '455', 'Yarrawonga College P-12': '436', 'Yea High School': '461', 'Yeshivah College': '63', 'Yesodei HaTorah College': '38', 'Yuille Park Community College': '584'}

In [84]:
# use close school list to match the primary school name in ranking dict
final_sec_rank=[]
for i in range(len(closest_secondary_school)):
    # set n=1, return one match, butoff=0.85
    match=difflib.get_close_matches(closest_secondary_school[i], sec_dict.keys(), n=1, cutoff=0.85)
    print(closest_secondary_school[i],match)
    if match !=[]:
        final_sec_rank.append(sec_dict[match[0]])
    elif match==[]:
        final_sec_rank.append('not ranked')
    
final_sec_rank

Kew High School ['Kew High School']
Victoria University Secondary College []
Mount Alexander 7-12 College ['Mount Alexander 7-12 Coll']
Richmond High School []
Ashwood High School ['Ashwood High School']
Victorian College Of The Arts Secondary School []
Footscray City College ['Footscray City College']
Balwyn High School ['Balwyn High School']
Gilmore College For Girls ['Gilmore College For Girls']
Frankston High School ['Frankston High School']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Bundoora Secondary College ['Bundoora Secondary College']
Brunswick Secondary College ['Brunswick Secondary College']
Bayside P-12 College ['Bayside P-12 College']
St John's College Preston []
University High School ['University High School']
Leibler Yavneh College ['Leibler Yavneh College']
Highvale Secondary College ['Highvale Secondary College']
McKinnon Secondary College ['McKinnon Secondary College']
East Preston Islamic College ['East Preston Islamic College']
Kensington Community High School ['Kensington Comm High School']
Swinburne Senior Secondary College ['Swinburne Senior Sec College']
Lowther Hall Anglican Grammar School []
Buckley Park College ['Buckley Park College']
Oakleigh Grammar ['Oakleigh Grammar']
Trinity Grammar School Kew ['Trinity Grammar School']
Kensington Community High School ['Kensington Comm High School']
Northcote High School ['Northcote High School']
Mount St Joseph Girls' College ["Mount St Joseph Girls' College"]
Bayside P-12 College ['Bayside P-12 College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Footscray City College ['Footscray City College']
Forest Hill College ['Forest Hill College']
McKinnon Secondary College ['McKinnon Secondary College']
Melton Secondary College ['Melton Secondary College']
Siena College Ltd ['Siena College']
Princes Hill Secondary College ['Princes Hill Sec College']
Sydney Road Community School ['Sydney Road Community School']
Braybrook College ['Braybrook College']
Darul Ulum College of Victoria ['Darul Ulum College of Victoria']
Reservoir High School ['Reservoir High School']
Strathcona Baptist Girls' Grammar ['Strathcona Baptist Girls GS']
Bayside P-12 College ['Bayside P-12 College']
Box Hill High School ['Box Hill High School']
Brunswick Secondary College ['Brunswick Secondary College']
Buckley Park College ['Buckley Park College']
William Ruthven Secondary College ['William Ruthven Sec College']
Altona College []
Bentleigh Secondary College ['Bentleigh Secondary College']
Doncaster Secondary College ['Doncaster Secondary College']
William Ruthven Secondary College ['William Ruthven Sec College']
Strathmore Secondary College ['Strathmore Secondary College']
Marcellin College ['Marcellin College']
University High School ['University High School']
Bentleigh Secondary College ['Bentleigh Secondary College']
Viewbank College ['Viewbank College']
Kilvington Grammar School ['Kilvington Grammar School']
Strathcona Baptist Girls' Grammar ['Strathcona Baptist Girls GS']
Elwood College ['Elwood College']
Oakleigh Grammar ['Oakleigh Grammar']
Macleod College ['Macleod College']
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Gilmore College For Girls ['Gilmore College For Girls']
Lynall Hall Community School ['Lynall Hall Community School']
St Joseph's College ["St Joseph's College"]
Siena College Ltd ['Siena College']
Fitzroy High School ['Fitzroy High School']
Kilvington Grammar School ['Kilvington Grammar School']
Brighton Grammar School ['Brighton Grammar School']
Templestowe College ['Templestowe College']
St Bernard's College ["St Bernard's College"]
Box Hill Senior Secondary College ['Box Hill Senior Sec College']
SEDA College (Victoria) []
Marian College []
Sunbury Downs Secondary College ['Sunbury Downs Sec College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Gilmore College For Girls ['Gilmore College For Girls']
Melbourne High School ['Melbourne High School']
Bialik College ['Bialik College']
Footscray City College ['Footscray City College']
Sophia Mundi Steiner School []
William Ruthven Secondary College ['William Ruthven Sec College']
Buckley Park College ['Buckley Park College']
Templestowe College ['Templestowe College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
St Joseph's College ["St Joseph's College"]
Presbyterian Ladies' College ["Presbyterian Ladies' College"]
Cornish College ['Cornish College']
Sandringham College ['Sandringham College']
Brighton Secondary College ['Brighton Secondary College']
Bayside P-12 College ['Bayside P-12 College']
Fitzroy High School ['Fitzroy High School']
Presentation College Windsor []
East Preston Islamic College ['East Preston Islamic College']
Presentation College Windsor []
Macleod College ['Macleod College']
Fintona Girls' School ['Fintona Girls School']
Hazel Glen College []
Ozford College ['Ozford College']
Glenroy Secondary College ['Glenroy Secondary College']
Braybrook College ['Braybrook College']
Koonung Secondary College ['Koonung Secondary College']
Melbourne High School ['Melbourne High School']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Kolbe Catholic College ['Kolbe Catholic College']
Melbourne High School ['Melbourne High School']
Melbourne High School ['Melbourne High School']
Melbourne Girls College ["Melbourne Girls' College"]
St Helena Secondary College ['St Helena Secondary College']
Oakleigh Grammar ['Oakleigh Grammar']
William Ruthven Secondary College ['William Ruthven Sec College']
Divrei Emineh []
St James' College []
Virtual School Victoria []
Albert Park College ['Albert Park College']
Glenroy Private []
Lowther Hall Anglican Grammar School []
Marcellin College ['Marcellin College']
St Columba's College ["St Columba's College"]
Stott's Colleges ["Stott's College"]
Lalor Secondary College ['Lalor Secondary College']
Parkdale Secondary College ['Parkdale Secondary College']
Greensborough Secondary College ['Greensborough Sec College']
Koonung Secondary College ['Koonung Secondary College']
SEDA College (Victoria) []
Doncaster Secondary College ['Doncaster Secondary College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Mordialloc College ['Mordialloc College']
SEDA College (Victoria) []
Gilmore College For Girls ['Gilmore College For Girls']
Marcellin College ['Marcellin College']
Holmes Secondary College ['Holmes Secondary College']
Melba Secondary College ['Melton Secondary College']
Sydney Road Community School ['Sydney Road Community School']
St John's College Preston []
Catholic Regional College Institute of Training []
Sunbury College ['Sunbury College']
Greensborough Secondary College ['Greensborough Sec College']
St Bernard's College ["St Bernard's College"]
Gilmore College For Girls ['Gilmore College For Girls']
Siena College Ltd ['Siena College']
Bayside P-12 College ['Bayside P-12 College']
Santa Maria College ['Santa Maria College']
Brighton Secondary College ['Brighton Secondary College']
Brunswick Secondary College ['Brunswick Secondary College']
Viewbank College ['Viewbank College']
John Monash Science School ['John Monash Science School']
Glenroy Secondary College ['Glenroy Secondary College']
Bayside P-12 College ['Bayside P-12 College']
Mercy College ['Mercy College']
Prahran High School []
Braybrook College ['Braybrook College']
Brighton Secondary College ['Brighton Secondary College']
Santa Maria College ['Santa Maria College']
Star of the Sea College ['Star of the Sea College']
Al Siraat College ['Al Siraat College']
Methodist Ladies' College ['Methodist Ladies College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Kilbreda College ['Kilbreda College']
Nunawading Christian College-Secondary []
Cheder Levi Yitzchok Inc []
Marian College []
De La Salle College ['De La Salle College']
Prahran High School []
Sunshine College ['Sunshine College']
Kilbreda College ['Kilbreda College']
Ashwood High School ['Ashwood High School']
Elwood College ['Elwood College']
Greensborough Secondary College ['Greensborough Sec College']
Albert Park College ['Albert Park College']
Yesodei HaTorah College ['Yesodei HaTorah College']
Our Lady of Mercy College ['Our Lady of Mercy College']
Simonds Catholic College ['Simonds Catholic College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
St Aloysius College ['St Aloysius College']
Bayside P-12 College ['Bayside P-12 College']
Gilmore College For Girls ['Gilmore College For Girls']
Gilmore College For Girls ['Gilmore College For Girls']
Braybrook College ['Braybrook College']
Salesian College ['Salesian College']
St Catherine's School ["St Catherine's School"]
Camberwell High School ['Camberwell High School']
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Gilmore College For Girls ['Gilmore College For Girls']
Prahran High School []
Mount Evelyn Christian School/Ranges TEC []
St Leonard's College ["St Leonard's College"]
Footscray City College ['Footscray City College']
Divrei Emineh []
Warrandyte High School ['Warrandyte High School']
Sydney Road Community School ['Sydney Road Community School']
Reservoir High School ['Reservoir High School']
Salesian College ['Salesian College']
Buckley Park College ['Buckley Park College']
Santa Maria College ['Santa Maria College']
Virtual School Victoria []
Marian College []
Kingswood College ['Kingswood College']
Frankston High School ['Frankston High School']
Presentation College Windsor []
Wyndham Central Secondary College []
Templestowe College ['Templestowe College']
Norwood Secondary College ['Norwood Secondary College']
St Leonard's College ["St Leonard's College"]
Lalor Secondary College ['Lalor Secondary College']
Sacre Coeur ['Sacre Coeur']
Bayside P-12 College ['Bayside P-12 College']
William Ruthven Secondary College ['William Ruthven Sec College']

Albert Park College ['Albert Park College']
Staughton College ['Staughton College']
Williamstown High School ['Williamstown High School']
St Columba's College ["St Columba's College"]
Carranballac P-9 College []
Ivanhoe Girls' Grammar School ["Ivanhoe Girls' Grammar School"]
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Penleigh & Essendon Grammar School []
Strathmore Secondary College ['Strathmore Secondary College']
Mordialloc College ['Mordialloc College']
Gilmore College For Girls ['Gilmore College For Girls']
Scotch College ['Scotch College']
Fintona Girls' School ['Fintona Girls School']
Springside West Secondary College []
Albert Park College ['Albert Park College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Catholic Regional College ['Catholic Regional College']
St Mary's Coptic Orthodox College ["St Mary's Coptic Orth College"]
Emmanuel College ['Emmanuel College']
Marcellin College ['Marcellin College']
Buckley Park College ['Buckley Park College']
Kingswood College ['Kingswood College']
Ave Maria College ['Ave Maria College']
Kew High School ['Kew High School']
Williamstown High School ['Williamstown High School']
Kensington Community High School ['Kensington Comm High School']
Glen Eira College ['Glen Eira College']
De La Salle College ['De La Salle College']
Salesian College ['Salesian College']
Mount Alexander 7-12 College ['Mount Alexander 7-12 Coll']
Gilmore College For Girls ['Gilmore College For Girls']
Brighton Secondary College ['Brighton Secondary College']
Albert Park College ['Albert Park College']
Highvale Secondary College ['Highvale Secondary College']
Melbourne High School ['Melbourne High School']
Our Lady of Mercy College ['Our Lady of Mercy College']
Princes Hill Secondary College ['Princes Hill Sec College']
Wyndham Central Secondary College []
Melbourne Girls College ["Melbourne Girls' College"]
Diamond Valley College ['Diamond Valley College']
Victorian College Of The Arts Secondary School []
Collingwood College ['Collingwood College']
Catholic Regional College Institute of Training []
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Kew High School ['Kew High School']
Melbourne High School ['Melbourne High School']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Princes Hill Secondary College ['Princes Hill Sec College']
East Preston Islamic College ['East Preston Islamic College']
Balwyn High School ['Balwyn High School']
Lowther Hall Anglican Grammar School []
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Sacre Coeur ['Sacre Coeur']
Gilmore College For Girls ['Gilmore College For Girls']
Lowther Hall Anglican Grammar School []
William Ruthven Secondary College ['William Ruthven Sec College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
St Leonard's College ["St Leonard's College"]
Trinity Grammar School Kew ['Trinity Grammar School']
Glen Eira College ['Glen Eira College']
Thomas Carr College ['Thomas Carr College']
Lowther Hall Anglican Grammar School []
Reservoir High School ['Reservoir High School']
Leibler Yavneh College ['Leibler Yavneh College']
Swinburne Senior Secondary College ['Swinburne Senior Sec College']
South Oakleigh Secondary College ['South Oakleigh Sec College']
Melbourne Girls College ["Melbourne Girls' College"]
Presbyterian Ladies' College ["Presbyterian Ladies' College"]
St Leonard's College ["St Leonard's College"]
Kingswood College ['Kingswood College']
Strathmore Secondary College ['Strathmore Secondary College']
St Bernard's College ["St Bernard's College"]
Balwyn High School ['Balwyn High School']
Bayside P-12 College ['Bayside P-12 College']
William Ruthven Secondary College ['William Ruthven Sec College']
Glen Eira College ['Glen Eira College']
Presentation College Windsor []
East Preston Islamic College ['East Preston Islamic College']
Star of the Sea College ['Star of the Sea College']
Loyola College ['Loyola College']
Kilvington Grammar School ['Kilvington Grammar School']
Thornbury High School ['Thornbury High School']
Sacre Coeur ['Sacre Coeur']
St Albans Secondary College ['St Albans Secondary College']
Al Siraat College ['Al Siraat College']
Ave Maria College ['Ave Maria College']
Kensington Community High School ['Kensington Comm High School']
McKinnon Secondary College ['McKinnon Secondary College']
Fitzroy High School ['Fitzroy High School']
St John's College Preston []
Aitken College ['Aitken College']
Penleigh & Essendon Grammar School []
Glenroy Secondary College ['Glenroy Secondary College']
Sacred Heart Girls' College ["Sacred Heart Girls' College"]
Avila College ['Avila College']
Yeshivah College ['Yeshivah College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Gilmore College For Girls ['Gilmore College For Girls']
Scotch College ['Scotch College']
Gilmore College For Girls ['Gilmore College For Girls']
John Fawkner Secondary College []
John Fawkner Secondary College []
Camberwell Girls Grammar School ['Camberwell Grammar School']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Northcote High School ['Northcote High School']
Braybrook College ['Braybrook College']
Keysborough Secondary College ['Koonung Secondary College']
Kensington Community High School ['Kensington Comm High School']
Glenroy Secondary College ['Glenroy Secondary College']
Coburg High School ['Coburg High School']
University High School ['University High School']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Albert Park College ['Albert Park College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Marcellin College ['Marcellin College']
Braybrook College ['Braybrook College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Kew High School ['Kew High School']
Ave Maria College ['Ave Maria College']
Albert Park College ['Albert Park College']
Billanook College ['Billanook College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Noble Park Secondary College ['Noble Park Secondary College']
Gilmore College For Girls ['Gilmore College For Girls']
St Leonard's College ["St Leonard's College"]
Albert Park College ['Albert Park College']
Ashwood High School ['Ashwood High School']
Antonine College ['Antonine College']
Canterbury Girls Secondary College ['Canterbury Girls Sec College']
Stott's Colleges ["Stott's College"]
Oakleigh Grammar ['Oakleigh Grammar']
Our Lady of Sion College ['Our Lady of Sion College']
John Fawkner Secondary College []
Cheder Levi Yitzchok Inc []
MacRobertson Girls High School ["Mac.Robertson Girls' High Schl"]
Sunbury College ['Sunbury College']
Williamstown High School ['Williamstown High School']
Collingwood College ['Collingwood College']
Templestowe College ['Templestowe College']
Sydney Road Community School ['Sydney Road Community School']
Albert Park College ['Albert Park College']
Oakleigh Grammar ['Oakleigh Grammar']
Japanese School of Melbourne []
Melbourne Girls Grammar ['Melbourne Girls Grammar']
Melbourne Girls College ["Melbourne Girls' College"]
Balwyn High School ['Balwyn High School']
Sandringham College ['Sandringham College']
Sydney Road Community School ['Sydney Road Community School']
Penleigh & Essendon Grammar School []
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Epping Secondary College ['Epping Secondary College']
Kilvington Grammar School ['Kilvington Grammar School']
Mount Ridley P-12 College ['Mount Ridley P-12 College']
Footscray City College ['Footscray City College']
Bayside P-12 College ['Bayside P-12 College']
McKinnon Secondary College ['McKinnon Secondary College']
South Oakleigh Secondary College ['South Oakleigh Sec College']
Keilor Downs Secondary College []
Islamic College of Melbourne ['Islamic College of Melbourne']
Mount Alexander 7-12 College ['Mount Alexander 7-12 Coll']
Elwood College ['Elwood College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Salesian College ['Salesian College']
Simonds Catholic College ['Simonds Catholic College']
Coburg High School ['Coburg High School']
Richmond High School []
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Thornbury High School ['Thornbury High School']

Bentleigh Secondary College ['Bentleigh Secondary College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Reservoir High School ['Reservoir High School']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Fitzroy High School ['Fitzroy High School']
Brunswick Secondary College ['Brunswick Secondary College']
Lowther Hall Anglican Grammar School []
Altona College []
McKinnon Secondary College ['McKinnon Secondary College']
Emmanuel College ['Emmanuel College']
Albert Park College ['Albert Park College']
William Ruthven Secondary College ['William Ruthven Sec College']
Melbourne Girls College ["Melbourne Girls' College"]
St John's College Preston []
East Preston Islamic College ['East Preston Islamic College']
Albert Park College ['Albert Park College']
Braybrook College ['Braybrook College']
Kingswood College ['Kingswood College']
Albert Park College ['Albert Park College']
Forest Hill College ['Forest Hill College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
University High School ['University High School']
Strathmore Secondary College ['Strathmore Secondary College']
Siena College Ltd ['Siena College']
Melbourne High School ['Melbourne High School']
Donvale Christian College ['Donvale Christian College']
Gilmore College For Girls ['Gilmore College For Girls']
East Doncaster Secondary College ['Doncaster Secondary College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Bayside P-12 College ['Bayside P-12 College']
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Kensington Community High School ['Kensington Comm High School']
Albert Park College ['Albert Park College']
Emmanuel College ['Emmanuel College']
Templestowe College ['Templestowe College']
Alia College ['Alia College']
Greensborough Secondary College ['Greensborough Sec College']
Collingwood College ['Collingwood College']
Academy of Mary Immaculate ['Academy of Mary Immaculate']
St James' College []
Templestowe College ['Templestowe College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Alia College ['Alia College']
Mentone Grammar School ['Mentone Grammar School']
Viewbank College ['Viewbank College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Melbourne Girls Grammar ['Melbourne Girls Grammar']
St James' College []
Patterson River Secondary College ['Patterson River Sec College']
Fintona Girls' School ['Fintona Girls School']
Fitzroy High School ['Fitzroy High School']
Balwyn High School ['Balwyn High School']
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Fitzroy High School ['Fitzroy High School']
Sacred Heart Girls' College ["Sacred Heart Girls' College"]
Sandringham College ['Sandringham College']
Melbourne Girls Grammar ['Melbourne Girls Grammar']
Northern College of the Arts and Technology []
St Albans Secondary College ['St Albans Secondary College']
Brunswick Secondary College ['Brunswick Secondary College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Rosehill Secondary College ['Rosehill Secondary College']
Lowther Hall Anglican Grammar School []
Williamstown High School ['Williamstown High School']
Oakwood School ['Oakwood School']
Sacred Heart Girls' College ["Sacred Heart Girls' College"]
St Bede's College ["St Bede's College"]
Japanese School of Melbourne []
Princes Hill Secondary College ['Princes Hill Sec College']
Gilmore College For Girls ['Gilmore College For Girls']
Cheltenham Secondary College ['Cheltenham Secondary College']
Cheltenham Secondary College ['Cheltenham Secondary College']
Ivanhoe Girls' Grammar School ["Ivanhoe Girls' Grammar School"]
John Fawkner Secondary College []
Mount Scopus Memorial College ['Mount Scopus Memorial College']
Toorak College ['Toorak College']
Divrei Emineh []
Xavier College ['Xavier College']
Kew High School ['Kew High School']
Bentleigh Secondary College ['Bentleigh Secondary College']
Footscray City College ['Footscray City College']
Lowther Hall Anglican Grammar School []
Buckley Park College ['Buckley Park College']
Kingswood College ['Kingswood College']
Leibler Yavneh College ['Leibler Yavneh College']
Catholic Ladies' College Ltd ['Catholic Ladies College']
St Leonard's College ["St Leonard's College"]
Oakwood School ['Oakwood School']
Kurunjang Secondary College ['Kurunjang Secondary College']
Braybrook College ['Braybrook College']
Victorian College Of The Arts Secondary School []
Prahran High School []
John Fawkner Secondary College []
Buckley Park College ['Buckley Park College']
University High School ['University High School']
Glenroy Private []
South Oakleigh Secondary College ['South Oakleigh Sec College']
Northcote High School ['Northcote High School']
Frankston High School ['Frankston High School']
Bayside P-12 College ['Bayside P-12 College']
De La Salle College ['De La Salle College']
Coburg High School ['Coburg High School']
Antonine College ['Antonine College']
Viewbank College ['Viewbank College']
St Leonard's College ["St Leonard's College"]
St Michael's Grammar School ["St Michael's Grammar School"]
SEDA College (Victoria) []
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
East Preston Islamic College ['East Preston Islamic College']
Heathmont College ['Heathmont College']
Braybrook College ['Braybrook College']
De La Salle College ['De La Salle College']
Emmanuel College ['Emmanuel College']
Catholic Ladies' College Ltd ['Catholic Ladies College']
Sandringham College ['Sandringham College']
Ivanhoe Girls' Grammar School ["Ivanhoe Girls' Grammar School"]
Bundoora Secondary College ['Bundoora Secondary College']
St Leonard's College ["St Leonard's College"]
Box Hill High School ['Box Hill High School']
Mercy College ['Mercy College']
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Oakleigh Grammar ['Oakleigh Grammar']
East Preston Islamic College ['East Preston Islamic College']
Academy of Mary Immaculate ['Academy of Mary Immaculate']
Loyola College ['Loyola College']
Lowther Hall Anglican Grammar School []
Gilmore College For Girls ['Gilmore College For Girls']
Bentleigh Secondary College ['Bentleigh Secondary College']
Glenroy Secondary College ['Glenroy Secondary College']
Auburn High School ['Auburn High School']
Buckley Park College ['Buckley Park College']
Preston High School ['Frankston High School']
Buckley Park College ['Buckley Park College']
Northcote High School ['Northcote High School']
Kensington Community High School ['Kensington Comm High School']
Tintern Grammar ['Tintern Grammar']
William Ruthven Secondary College ['William Ruthven Sec College']
Presentation College Windsor []
Oakwood School ['Oakwood School']
Bayswater Secondary College ['Bayswater Secondary College']
Footscray City College ['Footscray City College']
Camberwell Girls Grammar School ['Camberwell Grammar School']
Glen Eira College ['Glen Eira College']
Mount Ridley P-12 College ['Mount Ridley P-12 College']
Braybrook College ['Braybrook College']
Wellington Secondary College ['Wellington Secondary College']
Swinburne Senior Secondary College ['Swinburne Senior Sec College']
Gilmore College For Girls ['Gilmore College For Girls']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Albert Park College ['Albert Park College']
Alphington Grammar School ['Alphington Grammar School']
Adass Israel School ['Adass Israel School']
Santa Maria College ['Santa Maria College']
St Joseph's College ["St Joseph's College"]
Brunswick Secondary College ['Brunswick Secondary College']
Princes Hill Secondary College ['Princes Hill Sec College']
Alia College ['Alia College']
Buckley Park College ['Buckley Park College']
Richmond High School []
Sunbury Downs Secondary College ['Sunbury Downs Sec College']
Preshil, The Margaret Lyttle Memorial School []
Trinity Grammar School Kew ['Trinity Grammar School']
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Brighton Grammar School ['Brighton Grammar School']
Templestowe College ['Templestowe College']
Alphington Grammar School ['Alphington Grammar School']
St Leonard's College ["St Leonard's College"]
Kensington Community High School ['Kensington Comm High School']
Templestowe College ['Templestowe College']
Collingwood College ['Collingwood College']
Ave Maria College ['Ave Maria College']
Gilmore College For Girls ['Gilmore College For Girls']
Mount Alexander 7-12 College ['Mount Alexander 7-12 Coll']
Our Lady of Sion College ['Our Lady of Sion College']
Antonine College ['Antonine College']
Coburg High School ['Coburg High School']
Koonung Secondary College ['Koonung Secondary College']
Emmanuel College ['Emmanuel College']
Preston High School ['Frankston High School']
McKinnon Secondary College ['McKinnon Secondary College']
Virtual School Victoria []
The King David School ['The King David School']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Santa Maria College ['Santa Maria College']
William Ruthven Secondary College ['William Ruthven Sec College']
Footscray City College ['Footscray City College']
Glen Eira College ['Glen Eira College']
Templestowe College ['Templestowe College']
Buckley Park College ['Buckley Park College']
Salesian College ['Salesian College']
Luther College ['Luther College']
Salesian College ['Salesian College']
Kensington Community High School ['Kensington Comm High School']
Koonung Secondary College ['Koonung Secondary College']
Wesley College ['Wesley College']
Fintona Girls' School ['Fintona Girls School']
Norwood Secondary College ['Norwood Secondary College']
Ozford College ['Ozford College']
Lynall Hall Community School ['Lynall Hall Community School']
Preshil, The Margaret Lyttle Memorial School []
Princes Hill Secondary College ['Princes Hill Sec College']
Yesodei HaTorah College ['Yesodei HaTorah College']
Ivanhoe Grammar School ['Ivanhoe Grammar School']
Coburg High School ['Coburg High School']
Mill Park Secondary College ['Mill Park Secondary College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Richmond High School []
St Leonard's College ["St Leonard's College"]
Emmanuel College ['Emmanuel College']
St Leonard's College ["St Leonard's College"]

Coburg High School ['Coburg High School']
Lynall Hall Community School ['Lynall Hall Community School']
Antonine College ['Antonine College']
Bentleigh Secondary College ['Bentleigh Secondary College']
Thornbury High School ['Thornbury High School']
Albert Park College ['Albert Park College']
Glenroy Private []
The King David School ['The King David School']
Gilmore College For Girls ['Gilmore College For Girls']
Bayside P-12 College ['Bayside P-12 College']
Our Lady of Mercy College ['Our Lady of Mercy College']
De La Salle College ['De La Salle College']
Auburn High School ['Auburn High School']
Santa Maria College ['Santa Maria College']
Lowther Hall Anglican Grammar School []
St Leonard's College ["St Leonard's College"]
Patterson River Secondary College ['Patterson River Sec College']
Gilmore College For Girls ['Gilmore College For Girls']
Melbourne Girls Grammar ['Melbourne Girls Grammar']
Elwood College ['Elwood College']
Preston High School ['Frankston High School']
Box Hill Senior Secondary College ['Box Hill Senior Sec College']
Ilim College ['Ilim College']
Academy of Mary Immaculate ['Academy of Mary Immaculate']
Firbank Grammar School ['Firbank Grammar School']
Darul Ulum College of Victoria ['Darul Ulum College of Victoria']
Buckley Park College ['Buckley Park College']
Reservoir High School ['Reservoir High School']
Sacre Coeur ['Sacre Coeur']
St Michael's Grammar School ["St Michael's Grammar School"]
Bacchus Marsh College ['Bacchus Marsh College']
St Bernard's College ["St Bernard's College"]
John Monash Science School ['John Monash Science School']
Heathmont College ['Heathmont College']
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Mill Park Secondary College ['Mill Park Secondary College']
Cheltenham Secondary College ['Cheltenham Secondary College']
Korowa Anglican Girls' School ["Korowa Anglican Girls' School"]
Australian International Academy of Education []
St John's College Preston []
Mercy College ['Mercy College']
Kolbe Catholic College ['Kolbe Catholic College']
Adass Israel School ['Adass Israel School']
Ivanhoe Grammar School ['Ivanhoe Grammar School']
St John's College Preston []
St John's College Preston []
Sophia Mundi Steiner School []
Kensington Community High School ['Kensington Comm High School']
Balwyn High School ['Balwyn High School']
Beth Rivkah Ladies College ['Beth Rivkah Ladies College']
St Columba's College ["St Columba's College"]
Buckley Park College ['Buckley Park College']
Sunshine College ['Sunshine College']
Loreto Mandeville Hall ['Loreto Mandeville Hall']
Oakleigh Grammar ['Oakleigh Grammar']
Kew High School ['Kew High School']
Lowther Hall Anglican Grammar School []
Marian College []
Albert Park College ['Albert Park College']
Oakleigh Grammar ['Oakleigh Grammar']
Our Lady of Mercy College ['Our Lady of Mercy College']
Strathmore Secondary College ['Strathmore Secondary College']
Richmond High School []
Brentwood Secondary College ['Brentwood Secondary College']
Glen Waverley Secondary College ['Glen Waverley Sec College']
Altona College []
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Williamstown High School ['Williamstown High School']
Mount Scopus Memorial College ['Mount Scopus Memorial College']
South Oakleigh Secondary College ['South Oakleigh Sec College']
Northcote High School ['Northcote High School']
Our Lady of the Sacred Heart College ['Our Lady of Sacred Heart Coll']
Bundoora Secondary College ['Bundoora Secondary College']
Ivanhoe Grammar School ['Ivanhoe Grammar School']
St James' College []
Our Lady of Mercy College ['Our Lady of Mercy College']
John Fawkner Secondary College []
Northcote High School ['Northcote High School']
McKinnon Secondary College ['McKinnon Secondary College']
St Aloysius College ['St Aloysius College']
Northcote High School ['Northcote High School']
Ashwood High School ['Ashwood High School']
Mill Park Secondary College ['Mill Park Secondary College']
Al Siraat College ['Al Siraat College']
Preston High School ['Frankston High School']
St James' College []
McKinnon Secondary College ['McKinnon Secondary College']
Sacre Coeur ['Sacre Coeur']
Catholic Regional College ['Catholic Regional College']
Macleod College ['Macleod College']
Victorian College Of The Arts Secondary School []
Penleigh & Essendon Grammar School []
Oakleigh Grammar ['Oakleigh Grammar']
Melbourne Girls College ["Melbourne Girls' College"]
Princes Hill Secondary College ['Princes Hill Sec College']
St Leonard's College ["St Leonard's College"]
Methodist Ladies' College ['Methodist Ladies College']
Pascoe Vale Girls Secondary College ['Pascoe Vale Girls Sec College']
Strathmore Secondary College ['Strathmore Secondary College']
MacRobertson Girls High School ["Mac.Robertson Girls' High Schl"]
Christian Brothers' College St Kilda ["Christian Brothers' College"]
Sunbury Downs Secondary College ['Sunbury Downs Sec College']
Maribyrnong Secondary College ['Maribyrnong Sec College']
Lynall Hall Community School ['Lynall Hall Community School']
Marcellin College ['Marcellin College']
Thornbury High School ['Thornbury High School']
Williamstown High School ['Williamstown High School']
Emmanuel College ['Emmanuel College']
William Ruthven Secondary College ['William Ruthven Sec College']
Thomas Carr College ['Thomas Carr College']
Charles La Trobe P-12 College ['Charles La Trobe P-12 College']
Santa Maria College ['Santa Maria College']
Caroline Chisholm Catholic College ['Caroline Chisholm Catholic Coll']
Yesodei HaTorah College ['Yesodei HaTorah College']
Mount Ridley P-12 College ['Mount Ridley P-12 College']
Alia College ['Alia College']
Trinity Grammar School Kew ['Trinity Grammar School']
Albert Park College ['Albert Park College']
St Leonard's College ["St Leonard's College"]
Glen Waverley Secondary College ['Glen Waverley Sec College']
Thornbury High School ['Thornbury High School']
Albert Park College ['Albert Park College']
The King David School ['The King David School']
Coburg High School ['Coburg High School']
Mount Alexander 7-12 College ['Mount Alexander 7-12 Coll']
Rosehill Secondary College ['Rosehill Secondary College']
Cornish College ['Cornish College']
Mordialloc College ['Mordialloc College']
Princes Hill Secondary College ['Princes Hill Sec College']
Presentation College Windsor []
Brighton Secondary College ['Brighton Secondary College']

['124',
 'not ranked',
 '348',
 'not ranked',
 '241',
 'not ranked',
 '166',
 '44',
 '387',
 '87',
 '13',
 '73',
 '531',
 '211',
 '243',
 'not ranked',
 '67',
 '28',
 '138',
 '48',
 '491',
 '558',
 '288',
 'not ranked',
 '123',
 '270',
 '32',
 '558',
 '178',
 '119',
 '243',
 '371',
 '166',
 '409',
 '48',
 '318',
 '50',
 '81',
 '447',
 '139',
 '261',
 '346',
 '22',
 '243',
 '56',
 '211',
 '123',
 '435',
 'not ranked',
 '230',
 '225',
 '435',
 '133',
 '169',
 '67',
 '230',
 '96',
 '37',
 '22',
 '175',
 '270',
 '459',
 '235',
 '387',
 '559',
 '126',
 '50',
 '248',
 '37',
 '46',
 '307',
 '130',
 '416',
 'not ranked',
 'not ranked',
 '125',
 '371',
 '387',
 '2',
 '1',
 '166',
 'not ranked',
 '435',
 '123',
 '307',
 '13',
 '126',
 '6',
 '176',
 '304',
 '213',
 '243',
 '248',
 'not ranked',
 '491',
 'not ranked',
 '459',
 '9',
 'not ranked',
 '530',
 '511',
 '139',
 '94',
 '2',
 '371',
 '430',
 '2',
 '2',
 '61',
 '244',
 '270',
 '435',
 'not ranked',
 'not ranked',
 'not ranked',
 '131',
 'not ranked',
 'not ranked',
 '169',
 '85',
 '478',
 '378',
 '234',
 '341',
 '94',
 'not ranked',
 '225',
 '192',
 '164',
 'not ranked',
 '387',
 '169',
 '277',
 '318',
 '447',
 'not ranked',
 'not ranked',
 '424',
 '341',
 '130',
 '387',
 '50',
 '243',
 '137',
 '213',
 '211',
 '96',
 '59',
 '511',
 '243',
 '349',
 'not ranked',
 '139',
 '213',
 '137',
 '54',
 '280',
 '17',
 '371',
 '145',
 'not ranked',
 'not ranked',
 'not ranked',
 '115',
 'not ranked',
 '233',
 '145',
 '241',
 '175',
 '341',
 '131',
 '38',
 '90',
 '262',
 '371',
 '170',
 '243',
 '387',
 '387',
 '139',
 '153',
 '35',
 '112',
 '235',
 '387',
 'not ranked',
 'not ranked',
 '43',
 '166',
 'not ranked',
 '319',
 '447',
 '346',
 '153',
 '123',
 '137',
 'not ranked',
 'not ranked',
 '106',
 '87',
 'not ranked',
 'not ranked',
 '307',
 '219',
 '43',
 '378',
 '16',
 '243',
 '435',
 '131',
 '441',
 '104',
 '85',
 'not ranked',
 '49',
 '235',
 'not ranked',
 '133',
 '164',
 '387',
 '31',
 '9',
 'not ranked',
 '131',
 '192',
 '236',
 '338',
 '180',
 '169',
 '123',
 '106',
 '111',
 '124',
 '104',
 '558',
 '215',
 '115',
 '153',
 '348',
 '387',
 '213',
 '131',
 '138',
 '2',
 '90',
 '81',
 'not ranked',
 '61',
 '358',
 'not ranked',
 '359',
 'not ranked',
 '73',
 '124',
 '2',
 '371',
 '81',
 '491',
 '44',
 'not ranked',
 '73',
 '16',
 '387',
 'not ranked',
 '435',
 '192',
 '43',
 '32',
 '215',
 '377',
 'not ranked',
 '346',
 '28',
 '288',
 '259',
 '61',
 '6',
 '43',
 '106',
 '133',
 '130',
 '44',
 '243',
 '435',
 '215',
 'not ranked',
 '491',
 '54',
 '206',
 '37',
 '209',
 '16',
 '179',
 '280',
 '111',
 '558',
 '48',
 '248',
 'not ranked',
 '194',
 'not ranked',
 '511',
 '93',
 '102',
 '63',
 '192',
 '387',
 '31',
 '387',
 'not ranked',
 'not ranked',
 '26',
 '192',
 '178',
 '139',
 '94',
 '558',
 '511',
 '79',
 '67',
 '13',
 '131',
 '192',
 '169',
 '139',
 '13',
 '124',
 '111',
 '131',
 '122',
 '192',
 '439',
 '387',
 '43',
 '131',
 '241',
 '482',
 '91',
 '478',
 '270',
 '69',
 'not ranked',
 'not ranked',
 '4',
 '424',
 '104',
 '359',
 '307',
 '447',
 '131',
 '270',
 'not ranked',
 '21',
 '61',
 '44',
 '304',
 '447',
 'not ranked',
 '73',
 '309',
 '37',
 '432',
 '166',
 '243',
 '48',
 '259',
 'not ranked',
 '414',
 '348',
 '175',
 '371',
 '153',
 '262',
 '79',
 'not ranked',
 '235',
 '209',
 '230',
 '371',
 '346',
 '192',
 '248',
 '211',
 'not ranked',
 'not ranked',
 '48',
 '180',
 '131',
 '435',
 '61',
 'not ranked',
 '491',
 '131',
 '139',
 '106',
 '131',
 '409',
 '13',
 '67',
 '133',
 '50',
 '2',
 '74',
 '387',
 '225',
 '371',
 '13',
 '243',
 '73',
 '558',
 '131',
 '180',
 '307',
 '500',
 '341',
 '359',
 '144',
 'not ranked',
 '307',
 '13',
 '500',
 '34',
 '96',
 '371',
 '21',
 'not ranked',
 '396',
 '9',
 '248',
 '44',
 '73',
 '248',
 '93',
 '304',
 '21',
 'not ranked',
 '179',
 '211',
 '13',
 '239',
 'not ranked',
 '104',
 '565',
 '93',
 '171',
 'not ranked',
 '81',
 '387',
 '285',
 '285',
 '49',
 'not ranked',
 '10',
 '45',
 'not ranked',
 '53',
 '124',
 '230',
 '166',
 'not ranked',
 '123',
 '106',
 '28',
 '103',
 '43',
 '565',
 '506',
 '139',
 'not ranked',
 'not ranked',
 'not ranked',
 '123',
 '67',
 'not ranked',
 '259',
 '178',
 '87',
 '243',
 '115',
 '79',
 '482',
 '96',
 '43',
 '58',
 'not ranked',
 '371',
 '491',
 '433',
 '139',
 '115',
 '180',
 '103',
 '304',
 '49',
 '531',
 '43',
 '56',
 '349',
 '73',
 '270',
 '491',
 '144',
 '206',
 'not ranked',
 '387',
 '230',
 '511',
 '167',
 '123',
 '87',
 '123',
 '178',
 '558',
 '100',
 '435',
 'not ranked',
 '565',
 '526',
 '166',
 '26',
 '215',
 '432',
 '139',
 '229',
 '288',
 '387',
 '192',
 '131',
 '86',
 '534',
 '137',
 '126',
 '211',
 '81',
 '500',
 '123',
 'not ranked',
 '125',
 'not ranked',
 '32',
 '235',
 '46',
 '307',
 '86',
 '43',
 '558',
 '307',
 '359',
 '111',
 '387',
 '348',
 '69',
 '482',
 '79',
 '94',
 '180',
 '87',
 '48',
 'not ranked',
 '27',
 '192',
 '137',
 '435',
 '166',
 '215',
 '307',
 '123',
 '153',
 '83',
 '153',
 '558',
 '94',
 '108',
 '9',
 '219',
 '530',
 '559',
 'not ranked',
 '81',
 '38',
 '57',
 '79',
 '484',
 '192',
 'not ranked',
 '43',
 '180',
 '43',
 '79',
 '559',
 '482',
 '230',
 '209',
 '131',
 'not ranked',
 '27',
 '387',
 '243',
 '90',
 '115',
 '167',
 '137',
 'not ranked',
 '43',
 '396',
 '387',
 '21',
 '175',
 '87',
 '416',
 '311',
 '144',
 '29',
 '261',
 '123',
 '346',
 '16',
 '58',
 '496',
 '130',
 '59',
 '433',
 '73',
 '484',
 '285',
 '13',
 'not ranked',
 'not ranked',
 '349',
 '430',
 '534',
 '57',
 'not ranked',
 'not ranked',
 'not ranked',
 '558',
 '44',
 '36',
 '85',
 '123',
 '233',
 '15',
 '270',
 '124',
 'not ranked',
 'not ranked',
 '131',
 '270',
 '90',
 '133',
 'not ranked',
 '168',
 '66',
 'not ranked',
 '371',
 '371',
 '104',
 '10',
 '259',
 '178',
 '73',
 '531',
 '57',
 'not ranked',
 '90',
 'not ranked',
 '178',
 '48',
 '170',
 '178',
 '241',
 '484',
 '280',
 '87',
 'not ranked',
 '48',
 '16',
 '236',
 '459',
 'not ranked',
 'not ranked',
 '270',
 '61',
 '81',
 '43',
 '17',
 '371',
 '133',
 '4',
 '148',
 '125',
 '192',
 '559',
 '169',
 '209',
 '104',
 '180',
 '435',
 '377',
 '465',
 '137',
 '235',
 '38',
 '432',
 '500',
 '32',
 '131',
 '43',
 '66',
 '209',
 '131',
 '27',
 '79',
 '348',
 '239',
 '176',
 '164',
 '81',
 'not ranked',
 '213']

In [85]:
# There are 93 secondary school cannot find a match
final_sec_rank.count('not ranked')

93

In [86]:
gr['secondary_school_ranking']= final_sec_rank
gr.head()

,ID,Address,Rooms,Type,Price,Date,Bathroom,Car,LandSize,Age,...,crime_A_average,crime_B_average,crime_C_average,closest_primary_school,distance_to_closest_primary,primary_school_ranking,closest_secondary_school,distance_to_closest_secondary,secondary_school_ranking,Points
0,ID973006338,2/14 Hatfield St,2,u,725000.0,27/05/2017,1.0,1.0,134.0,49.0,...,959,4476,324,St Bede's School,0.503420,442,Kew High School,0.206565,124,POINT (145.0657 -37.79541)
1,ID281275681,5 Hedgerow Ct,3,h,565000.0,23/09/2017,1.0,2.0,619.0,69.0,...,119,452,22,Albanvale Primary School,0.526422,not ranked,Victoria University Secondary College,1.600500,not ranked,POINT (144.76863 -37.74521)
2,ID423911400,96 Bryant St,2,h,865500.0,3/09/2016,1.0,1.0,168.0,114.0,...,1923,8979,620,St Brendan's School,0.232892,not ranked,Mount Alexander 7-12 College,0.160850,348,POINT (144.9339 -37.7835)
3,ID249026802,320 Church St,3,h,1651000.0,24/09/2016,2.0,1.0,192.0,119.0,...,824,1890,159,Richmond West Primary School,0.877476,452,Richmond High School,0.566940,not ranked,POINT (144.9985 -37.8212)
4,ID687137769,4/58 Bath Rd,2,u,671000.0,4/03/2017,1.0,1.0,0.0,59.0,...,2047,9171,742,Ashburton Primary School,0.878217,106,Ashwood High School,1.617907,241,POINT (145.0889 -37.8555)

In [87]:
# generate output file
gr_out = gr.to_csv('Group108_solution.csv',index=False)